Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"]
}

Type the workbook route test
  src/market-insights/routes/workbook-get.test.js
Due: npm run format, npm run lint:fix

return accreditation data in same shape as its stored
  src/accreditations/adapters/http.js
  src/accreditations/application/local-accreditations.js
  src/accreditations/application/with-accreditations-from.js
  src/accreditations/application/with-accreditations-from.test.js
  src/accreditations/model.js
  src/accreditations/model.test.js
  src/accreditations/port.js
  src/accreditations/read-over-http.test.js
  src/accreditations/routes/get-by-registration.js
  src/accreditations/routes/get-by-registration.test.js
  src/accreditations/routes/list.js
  src/accreditations/routes/list.test.js
Due: npm run format, npm run lint:fix

Remove pagination on list endpoint
  src/accreditations/adapters/http.js
  src/accreditations/adapters/http.test.js
  src/accreditations/application/local-accreditations.js
  src/accreditations/routes/get-by-registration.js
  src/accreditations/routes/list.js
  src/accreditations/routes/list.test.js
Due: npm run format, npm run lint:fix

Default FEATURE_FLAG_READ_ACCREDITATIONS_OVER_HTTP to true
  src/config.js
  src/waste-balances/routes/integration.test.js
Due: npm run format, npm run lint:fix

Configure build to produce pre-release
  .github/workflows/publish.yml
Due: none

Keep every published material's row on market insights tabs
  src/market-insights/application/workbook/cells.js
  src/market-insights/application/workbook/nation-figures-tab.js
  src/market-insights/application/workbook/nation-figures-tab.test.js
  src/market-insights/application/workbook/outstanding-returns-tab.js
  src/market-insights/application/workbook/outstanding-returns-tab.test.js
  src/market-insights/application/workbook/waste-balance-tab.js
  src/market-insights/application/workbook/waste-balance-tab.test.js
Due: npm run format, npm run lint:fix

Name the conditionally shown material in domain text
  src/market-insights/application/workbook/cells.js
  src/market-insights/application/workbook/nation-figures-tab.test.js
  src/market-insights/application/workbook/waste-balance-tab.js
  src/market-insights/domain/published-workbook-text.js
Due: npm run format, npm run lint:fix

Allow null for reprocessingType
  src/accreditations/model.js
  src/accreditations/model.test.js
Due: npm run format, npm run lint:fix

Count cancelled accreditations in their months
  src/market-insights/application/reprocessor-exporter-table.js
  src/market-insights/application/reprocessor-exporter-table.test.js
Due: npm run format, npm run lint:fix

Make sonar happy
  src/accreditations/adapters/http.js
  src/accreditations/model.js
  src/accreditations/routes/get-by-registration.js
  src/accreditations/routes/list.js
  src/accreditations/routes/test-helpers.js
Due: npm run format, npm run lint:fix

PAE-1949: Serve the market insights workbook (#1775)
  src/market-insights/index.js
  src/market-insights/routes/download-disposition.js
  src/market-insights/routes/index.js
  src/market-insights/routes/workbook-get.js
  src/market-insights/routes/workbook-get.test.js
  src/repositories/summary-logs/download-disposition.js
Due: npm run format, npm run lint:fix

Say what the covering rule shares
  src/market-insights/application/reprocessor-exporter-table.js
Due: npm run format, npm run lint:fix

Sonar fixes
  src/accreditations/adapters/http.js
  src/accreditations/routes/test-helpers.js
Due: npm run format, npm run lint:fix

Build pre-release candidate
  .github/workflows/check-pull-request.yml
  .github/workflows/publish.yml
Due: none

Add env vars for publishing pre-release
  .github/workflows/check-pull-request.yml
Due: none

Address PR feedback
  src/accreditations/model.js
Due: npm run format, npm run lint:fix

Add missing permissions for pre-release publish
  .github/workflows/check-pull-request.yml
Due: none

Avoid pulling back whole organisations collection when loading accreditations by registrationId
  src/accreditations/application/local-accreditations.js
  src/accreditations/application/with-accreditations-from.js
  src/accreditations/application/with-accreditations-from.test.js
  src/repositories/organisations/contract/find-by-registration-ids.contract.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/port.contract.js
  src/repositories/organisations/port.js
  src/test/mock-repositories.js
  src/test/mock-repositories.test.js
Due: npm run format, npm run lint:fix

Set permissions as per publish.yml
  .github/workflows/check-pull-request.yml
Due: none

Remove publishing pre-release image
  .github/workflows/check-pull-request.yml
Due: none

PAE-1965 Serves the accreditation endpoints from the Mongo primary
  src/accreditations/read-over-http.plugin.js
  src/accreditations/read-over-http.plugin.test.js
  src/start-server.test.js
Due: npm run format, npm run lint:fix

sonar fixes
  src/accreditations/application/with-accreditations-from.js
  src/accreditations/routes/test-helpers.js
Due: npm run format, npm run lint:fix

pluralise accreditations in url path
  src/accreditations/adapters/http.js
  src/accreditations/adapters/http.test.js
  src/accreditations/routes/get-by-registration.js
  src/accreditations/routes/get-by-registration.test.js
Due: npm run format, npm run lint:fix

PAE-1965 remove findAllBySchemaVersion
  src/repositories/organisations/contract/find-all-by-schema-version.contract.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/port.contract.js
  src/repositories/organisations/port.js
  src/test/mock-repositories.js
  src/test/mock-repositories.test.js
Due: npm run format, npm run lint:fix

Type the diagnostic's cadence and report
  src/cancelled-accreditation-reports-diagnostic/application/diagnose-cancelled-accreditation-reports.js
  src/cancelled-accreditation-reports-diagnostic/application/diagnose-cancelled-accreditation-reports.test.js
  src/cancelled-accreditation-reports-diagnostic/run.js
Due: npm run format, npm run lint:fix

Add cancelled accreditation reports diagnostic
  package.json
  src/cancelled-accreditation-reports-diagnostic/application/diagnose-cancelled-accreditation-reports.js
  src/cancelled-accreditation-reports-diagnostic/application/diagnose-cancelled-accreditation-reports.test.js
  src/cancelled-accreditation-reports-diagnostic/run.js
  src/cancelled-accreditation-reports-diagnostic/run.test.js
  src/server/server.js
Due: npm run format, npm run lint:fix

Log validity window and submission time
  src/cancelled-accreditation-reports-diagnostic/application/diagnose-cancelled-accreditation-reports.js
  src/cancelled-accreditation-reports-diagnostic/application/diagnose-cancelled-accreditation-reports.test.js
  src/cancelled-accreditation-reports-diagnostic/run.js
  src/cancelled-accreditation-reports-diagnostic/run.test.js
Due: npm run format, npm run lint:fix

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: npm run format

PAE-1965 remove findAllBySchemaVersion from organisations repository port (#1782)
  src/repositories/organisations/contract/find-all-by-schema-version.contract.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/port.contract.js
  src/repositories/organisations/port.js
  src/test/mock-repositories.js
  src/test/mock-repositories.test.js
Due: npm run format, npm run lint:fix

Align with removal of findAllBySchemaVersion
  src/accreditations/application/with-accreditations-from.js
Due: npm run format, npm run lint:fix

PAE-1965 remove findPageForOverseasSitesAdminList from port
  src/overseas-sites/routes/admin-list.js
  src/overseas-sites/routes/admin-list.test.js
  src/repositories/organisations/helpers.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/inmemory.test.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/mongodb.test.js
  src/repositories/organisations/port.js
  src/test/mock-repositories.js
  src/test/mock-repositories.test.js
Due: npm run format, npm run lint:fix

PAE-2010 remove findPageForOverseasSitesAdminList
  src/overseas-sites/routes/admin-list.js
  src/overseas-sites/routes/admin-list.test.js
  src/repositories/organisations/helpers.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/mongodb.test.js
  src/repositories/organisations/port.js
  src/test/mock-repositories.js
  src/test/mock-repositories.test.js
Due: npm run format, npm run lint:fix

PAE-2010 remove ORS site list specific functions from organisations port (#1787)
  src/overseas-sites/routes/admin-list.js
  src/overseas-sites/routes/admin-list.test.js
  src/repositories/organisations/helpers.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/inmemory.test.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/mongodb.test.js
  src/repositories/organisations/port.js
  src/test/mock-repositories.js
  src/test/mock-repositories.test.js
Due: npm run format, npm run lint:fix

Align comment to match latest shape of (simplified) organisation port
  src/accreditations/application/with-accreditations-from.js
Due: npm run format, npm run lint:fix

Remove December loads diagnostic
  package.json
  src/december-loads-diagnostic/application/diagnose-december-loads.js
  src/december-loads-diagnostic/application/diagnose-december-loads.test.js
  src/december-loads-diagnostic/run.js
  src/december-loads-diagnostic/run.test.js
  src/server/server.js
Due: npm run format, npm run lint:fix

PAE-000: Pin undici to 8.10.2 to fix startup OIDC fetch failure
  package-lock.json
  package.json
Due: npm run format

PAE-000: Pin undici to 8.10.2 to fix startup OIDC fetch failure (#1789)
  package-lock.json
  package.json
Due: npm run format

PAE-000: Guard proxied fetch against undici dispatcher regressions
  src/common/helpers/proxy/setup-proxy.contract.test.js
  src/common/helpers/proxy/test-fixtures/localhost.cert.pem
  src/common/helpers/proxy/test-fixtures/localhost.key.pem
Due: npm run format, npm run lint:fix

Remove undici global proxy dispatcher
  CONTRIBUTING.md
  package-lock.json
  package.json
  src/common/helpers/proxy/setup-proxy.js
  src/common/helpers/proxy/setup-proxy.test.js
Due: npm run format, npm run lint:fix

Document which clients use which proxy route
  CONTRIBUTING.md
  src/common/helpers/proxy/setup-proxy.js
Due: npm run format, npm run lint:fix
