Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"],
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

refactor: convert remaining tests to use parseSheet helper
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
Due: npm run format, npm run lint:fix

refactor: ensure consistent ExcelJS terminology (workbook/worksheet)
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
Due: npm run format, npm run lint:fix

Add formula cell handling to ExcelJS parser
  src/adapters/parsers/summary-logs/EDGE_CASES_TEST_PLAN.md
  src/adapters/parsers/summary-logs/exceljs-parser.js
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
Due: npm run format, npm run lint:fix

Test date cell handling in ExcelJS parser
  src/adapters/parsers/summary-logs/EDGE_CASES_TEST_PLAN.md
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
Due: npm run format, npm run lint:fix

Add test for skip column marker as first header
  src/adapters/parsers/summary-logs/EDGE_CASES_TEST_PLAN.md
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
Due: npm run format, npm run lint:fix

Add test for data section with all skip column headers
  src/adapters/parsers/summary-logs/EDGE_CASES_TEST_PLAN.md
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
Due: npm run format, npm run lint:fix

Test partial empty rows in summary log parser
  src/adapters/parsers/summary-logs/EDGE_CASES_TEST_PLAN.md
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
Due: npm run format, npm run lint:fix

docs: remove edge cases test plan - all cases implemented
  src/adapters/parsers/summary-logs/EDGE_CASES_TEST_PLAN.md
Due: npm run format

refactor: eliminate mutation in reduce and remove dead code
  src/adapters/parsers/summary-logs/exceljs-parser.js
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
Due: npm run format, npm run lint:fix

refactor: convert ExcelJSSummaryLogsParser to functional module
  src/adapters/parsers/summary-logs/exceljs-parser.js
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
  src/application/summary-logs/extractor.js
  src/application/summary-logs/extractor.test.js
Due: npm run format, npm run lint:fix

docs: add JSDoc to parse function and reorganize helpers
  src/adapters/parsers/summary-logs/exceljs-parser.js
Due: npm run format, npm run lint:fix

refactor: use existing ParsedSummaryLog type in JSDoc
  src/adapters/parsers/summary-logs/exceljs-parser.js
Due: npm run format, npm run lint:fix

docs: enhance ParsedSummaryLog type with detailed structure
  src/domain/summary-logs/extractor/port.js
Due: npm run format, npm run lint:fix

refactor: add SummaryLogParser port type
  src/adapters/parsers/summary-logs/exceljs-parser.js
  src/domain/summary-logs/extractor/port.js
Due: npm run format, npm run lint:fix

docs: move JSDoc from implementation to port type
  src/adapters/parsers/summary-logs/exceljs-parser.js
  src/domain/summary-logs/extractor/port.js
Due: npm run format, npm run lint:fix

PAE-415: Implement ADR-17 marker-based Excel parsing (#235)
  src/adapters/parsers/summary-logs/exceljs-parser.js
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
  src/application/summary-logs/extractor.js
  src/application/summary-logs/extractor.test.js
  src/domain/summary-logs/extractor/port.js
Due: npm run format, npm run lint:fix

refactor: Extract magic strings to constants and add immer
  package-lock.json
  package.json
  src/adapters/parsers/summary-logs/exceljs-parser.js
Due: npm run format, npm run lint:fix

Add logging for summary log parsing results
  src/adapters/validators/summary-logs/inline.js
  src/adapters/validators/summary-logs/inline.test.js
  src/application/summary-logs/extractor.js
  src/application/summary-logs/extractor.test.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
Due: npm run format, npm run lint:fix

Fix SonarCloud issues in extractor
  src/application/summary-logs/extractor.js
Due: npm run format, npm run lint:fix

refactor: Address code review feedback
  src/adapters/parsers/summary-logs/exceljs-parser.js
Due: npm run format, npm run lint:fix

Log second row instead of example row
  src/application/summary-logs/extractor.js
  src/application/summary-logs/extractor.test.js
Due: npm run format, npm run lint:fix

PAE-415: Add logging for summary log parsing results (#239)
  src/adapters/validators/summary-logs/inline.js
  src/adapters/validators/summary-logs/inline.test.js
  src/application/summary-logs/extractor.js
  src/application/summary-logs/extractor.test.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
Due: npm run format, npm run lint:fix

PAE-415: Parser refactoring tweaks (#240)
  package-lock.json
  package.json
  src/adapters/parsers/summary-logs/exceljs-parser.js
Due: npm run format, npm run lint:fix

Add dependabot branch check to workflow conditionals
  .github/workflows/check-pull-request.yml
Due: none

PAE-000: Fix Dependabot workflow checks (#241)
  .github/workflows/check-pull-request.yml
Due: none

Complete Vitest 4 upgrade with v8 coverage fixes
  package-lock.json
  package.json
  src/adapters/validators/summary-logs/inline.test.js
  src/adapters/validators/summary-logs/piscina.test.js
  src/common/helpers/logging/logger-options.js
  src/common/helpers/mongo-lock.js
  src/common/helpers/notify.test.js
  src/common/helpers/plugins/mongo-db-plugin.js
  src/common/helpers/s3/s3-client.test.js
  src/plugins/repositories.js
  src/plugins/repositories.test.js
  src/plugins/workers.js
  src/repositories/organisations/helpers.test.js
  src/routes/health.js
  src/routes/health.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/workers/summary-logs/worker/worker-thread.test.js
  vitest.config.js
Due: npm run format, npm run lint:fix

Simplify registration number mismatch error message
  src/application/summary-logs/validator.js
  src/application/summary-logs/validator.test.js
Due: npm run format, npm run lint:fix

PAE-415: Refactor parser to use pure functional patterns
  src/adapters/parsers/summary-logs/exceljs-parser.js
Due: npm run format, npm run lint:fix

PAE-415: Add performance benchmarking for parser
  benchmarks/exceljs-parser.bench.js
  package-lock.json
  package.json
Due: npm run format

PAE-415: Add file-based benchmark script
  benchmarks/exceljs-parser-file.bench.js
  package.json
Due: npm run format

Revert "PAE-415: Refactor parser to use pure functional patterns"
  src/adapters/parsers/summary-logs/exceljs-parser.js
Due: npm run format, npm run lint:fix

PAE-415: Fix benchmark configuration and output units
  benchmarks/exceljs-parser-file.bench.js
Due: npm run format

Reapply "PAE-415: Refactor parser to use pure functional patterns"
  src/adapters/parsers/summary-logs/exceljs-parser.js
Due: npm run format, npm run lint:fix

PAE-415: Use tinybench built-in table output
  benchmarks/exceljs-parser-file.bench.js
Due: npm run format

PAE-415: Replace spreads with immer for better performance
  benchmarks/exceljs-parser-file.bench.js
  benchmarks/exceljs-parser.bench.js
  eslint.config.js
  src/adapters/parsers/summary-logs/exceljs-parser.js
Due: npm run format, npm run lint:fix

PAE-415: Add README for benchmarks directory
  benchmarks/README.md
Due: npm run format

PAE-415: Rename benchmark scripts to be more specific
  benchmarks/README.md
  package.json
Due: npm run format

PAE-415: Refactor parser to use immer for immutable state (#247)
  benchmarks/README.md
  benchmarks/exceljs-parser-file.bench.js
  benchmarks/exceljs-parser.bench.js
  eslint.config.js
  package-lock.json
  package.json
  src/adapters/parsers/summary-logs/exceljs-parser.js
Due: npm run format, npm run lint:fix

Remove unnecessary v8 ignore comment in repositories.js
  src/plugins/repositories.js
Due: npm run format, npm run lint:fix

PAE-430: Upgrade to Vitest 4 (#243)
  package-lock.json
  package.json
  src/adapters/validators/summary-logs/inline.test.js
  src/adapters/validators/summary-logs/piscina.test.js
  src/common/helpers/logging/logger-options.js
  src/common/helpers/mongo-lock.js
  src/common/helpers/notify.test.js
  src/common/helpers/plugins/mongo-db-plugin.js
  src/common/helpers/s3/s3-client.test.js
  src/plugins/repositories.test.js
  src/plugins/workers.js
  src/repositories/organisations/helpers.test.js
  src/routes/health.js
  src/routes/health.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/workers/summary-logs/worker/worker-thread.test.js
  vitest.config.js
Due: npm run format, npm run lint:fix
