Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"],
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

PAE-162 create db schema validations (#65)
  docs/architecture/defined/2025-reg-acc-lld.md
  src/common/enums/db.js
  src/common/helpers/collections/create-accreditation.js
  src/common/helpers/collections/create-organisation.js
  src/common/helpers/collections/create-registration.js
  src/common/helpers/collections/create.js
  src/common/helpers/collections/factories/accreditation.js
  src/common/helpers/collections/factories/index.js
  src/common/helpers/collections/factories/organisation.js
  src/common/helpers/collections/factories/registration.js
  src/common/helpers/collections/schema-properties.js
  src/common/helpers/mongodb.js
  src/data/fixtures/accreditation.json
  src/data/fixtures/organisation.json
  src/data/fixtures/registration.json
  src/data/seed/create-seed-data.js
  src/data/seed/organisation.js
  src/routes/v1/apply/accreditation.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/apply/registration.js
  src/routes/v1/apply/registration.test.js
Due: npm run format, npm run lint:fix

PAE-164: submit organisation data
  postman/epr-backend.postman_collection.json
  src/common/enums/form-fields.js
  src/common/enums/gov-notify.js
  src/common/enums/index.js
  src/common/helpers/apply/extract-answers.js
  src/common/helpers/collections/create.js
  src/routes/notify.js
  src/routes/v1/apply/organisation.js
Due: npm run format, npm run lint:fix

PAE-164: add test coverage
  package.json
  src/common/enums/form-fields.js
  src/common/helpers/apply/extract-answers.js
  src/common/helpers/apply/extract-answers.test.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
Due: npm run format, npm run lint:fix

PAE-164: submit organisation data (#66)
  package.json
  postman/epr-backend.postman_collection.json
  src/common/enums/form-fields.js
  src/common/enums/gov-notify.js
  src/common/enums/index.js
  src/common/helpers/apply/extract-answers.js
  src/common/helpers/apply/extract-answers.test.js
  src/common/helpers/collections/create.js
  src/routes/notify.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
Due: npm run format, npm run lint:fix

PAE-000: debug sendEmail
  src/routes/v1/apply/organisation.js
Due: npm run format, npm run lint:fix

PAE-000: debug sendEmail
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
Due: npm run format, npm run lint:fix

Revert "PAE-000: debug sendEmail"
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
Due: npm run format, npm run lint:fix

PAE-165: submit registration data
  src/common/enums/form-fields.js
  src/common/helpers/apply/extract-answers.js
  src/common/helpers/apply/extract-answers.test.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/apply/registration.js
  src/routes/v1/apply/registration.test.js
Due: npm run format, npm run lint:fix

PAE-165: submit registration data (#67)
  src/common/enums/form-fields.js
  src/common/helpers/apply/extract-answers.js
  src/common/helpers/apply/extract-answers.test.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/apply/registration.js
  src/routes/v1/apply/registration.test.js
Due: npm run format, npm run lint:fix

PAE-166: submit accreditation data
  postman/CDP-Dev.postman_environment.json
  postman/CDP-Test.postman_environment.json
  src/routes/v1/apply/accreditation.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/registration.js
Due: npm run format, npm run lint:fix

PAE-166: refactor endpoints to remove code duplication
  src/common/helpers/apply/handler.js
  src/common/helpers/apply/payload.js
  src/routes/v1/apply/accreditation.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/registration.js
Due: npm run format, npm run lint:fix

PAE-166: submit accreditation data (#68)
  postman/CDP-Dev.postman_environment.json
  postman/CDP-Test.postman_environment.json
  src/common/helpers/apply/handler.js
  src/common/helpers/apply/payload.js
  src/routes/v1/apply/accreditation.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/registration.js
Due: npm run format, npm run lint:fix

PAE-166: fix issue with incorrect collection on endpoint
  src/routes/v1/apply/registration.js
Due: npm run format, npm run lint:fix

PAE-166: fix issue with incorrect collection on endpoint (#69)
  src/routes/v1/apply/registration.js
Due: npm run format, npm run lint:fix

PAE-192: send email to regulators
  src/common/enums/gov-notify.js
  src/common/helpers/apply/extract-answers.js
  src/common/helpers/apply/extract-answers.test.js
  src/common/helpers/collections/create-accreditation.js
  src/common/helpers/collections/create-registration.js
  src/config.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
Due: npm run format, npm run lint:fix

PAE-192: send email to regulators (#70)
  src/common/enums/gov-notify.js
  src/common/helpers/apply/extract-answers.js
  src/common/helpers/apply/extract-answers.test.js
  src/common/helpers/collections/create-accreditation.js
  src/common/helpers/collections/create-registration.js
  src/config.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
Due: npm run format, npm run lint:fix

PAE-197: update collections, fix issue with nations
  src/common/enums/db.js
  src/common/enums/form-fields.js
  src/common/helpers/apply/extract-answers.js
  src/common/helpers/apply/extract-answers.test.js
  src/common/helpers/collections/create-update-accreditation.js
  src/common/helpers/collections/create-update-organisation.js
  src/common/helpers/collections/create-update-registration.js
  src/common/helpers/collections/create-update.js
  src/common/helpers/collections/schema-properties.js
  src/common/helpers/mongodb.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
Due: npm run format, npm run lint:fix

PAE-197: update collections, fix issue with nations (#71)
  src/common/enums/db.js
  src/common/enums/form-fields.js
  src/common/helpers/apply/extract-answers.js
  src/common/helpers/apply/extract-answers.test.js
  src/common/helpers/collections/create-update-accreditation.js
  src/common/helpers/collections/create-update-organisation.js
  src/common/helpers/collections/create-update-registration.js
  src/common/helpers/collections/create-update.js
  src/common/helpers/collections/schema-properties.js
  src/common/helpers/mongodb.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
Due: npm run format, npm run lint:fix

PAE-197: fix incorrectly located options object in runCommand
  src/common/helpers/collections/create-update-accreditation.js
  src/common/helpers/collections/create-update-organisation.js
  src/common/helpers/collections/create-update-registration.js
Due: npm run format, npm run lint:fix

PAE-197: fix incorrectly located options object in runCommand (#73)
  src/common/helpers/collections/create-update-accreditation.js
  src/common/helpers/collections/create-update-organisation.js
  src/common/helpers/collections/create-update-registration.js
Due: npm run format, npm run lint:fix

PAE-196: send audit log for database inserts
  package-lock.json
  package.json
  src/common/enums/event.js
  src/common/helpers/apply/handler.js
  src/common/helpers/notify.js
  src/common/helpers/notify.test.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/apply/registration.test.js
Due: npm run format, npm run lint:fix

PAE-196: send audit log for database inserts (#72)
  package-lock.json
  package.json
  src/common/enums/event.js
  src/common/helpers/apply/handler.js
  src/common/helpers/notify.js
  src/common/helpers/notify.test.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/apply/registration.test.js
Due: npm run format, npm run lint:fix

PAE-182: improve logger.warn and logger.error for alerting purposes
  src/common/helpers/apply/payload.js
  src/common/helpers/fail-action.js
  src/common/helpers/fail-action.test.js
  src/index.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/apply/registration.test.js
Due: npm run format, npm run lint:fix

PAE-182: improve logger.warn and logger.error for alerting purposes (#74)
  src/common/helpers/apply/payload.js
  src/common/helpers/fail-action.js
  src/common/helpers/fail-action.test.js
  src/index.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/apply/registration.test.js
Due: npm run format, npm run lint:fix

PAE-182: add http.response.status_code to endpoints that call logger.error in catch clause
  src/common/helpers/apply/handler.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/apply/registration.test.js
Due: npm run format, npm run lint:fix

PAE-182: add http.response.status_code to endpoints that call logger.error in catch clause (#75)
  src/common/helpers/apply/handler.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/apply/registration.test.js
Due: npm run format, npm run lint:fix

PAE-198: remove /send-email endpoint
  src/plugins/router.js
  src/routes/notify.js
  src/routes/notify.test.js
Due: npm run format, npm run lint:fix

PAE-198: remove /send-email endpoint (#76)
  src/plugins/router.js
  src/routes/notify.js
  src/routes/notify.test.js
Due: npm run format, npm run lint:fix

PAE-193: add link to runbooks
  README.md
Due: npm run format

PAE-193: add link to runbooks (#77)
  README.md
Due: npm run format

PAE-000: update README TOC
  README.md
Due: npm run format

PAE-000: update endpoint info in README
  README.md
Due: npm run format

PAE-000: remove /send-email from postman collection, add Prod env
  postman/CDP-Prod.postman_environment.json
  postman/epr-backend.postman_collection.json
Due: npm run format

PAE-195 - Tidy up code
  CONTRIBUTING.md
  src/common/helpers/apply/handler.js
  src/common/helpers/fail-action.js
  src/common/helpers/get-local-secret.js
  src/common/helpers/get-local-secret.test.js
  src/common/helpers/logging/logger.js
  src/common/helpers/logging/logger.test.js
  src/common/helpers/metrics.js
  src/common/helpers/metrics.test.js
  src/common/helpers/mongo-lock.js
  src/common/helpers/mongo-lock.test.js
  src/common/helpers/notify.js
  src/common/helpers/notify.test.js
  src/common/helpers/proxy/setup-proxy.js
  src/common/helpers/pulse.js
  src/index.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/apply/registration.test.js
  src/start-server.js
  src/start-server.test.js
Due: npm run format, npm run lint:fix

fixing previously declared variables
  src/common/helpers/logging/logger.js
Due: npm run format, npm run lint:fix

PAE-201: ADR for data extraction
  docs/architecture/decisions/0004-data-extraction.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PAE-201: Refined ADR for data extraction
  docs/architecture/decisions/0004-data-extraction.md
Due: npm run format, npm run adr:generate:toc

PAE-204: update pEPR High Level Design
  docs/architecture/discovery/pepr-hld.md
Due: npm run format

PAE-205: Test adding github actions to run journey tests on PR
  .github/workflows/check-pull-request.yml
Due: none
