Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"],
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

PAE-120-investigate-dxt-api-email-limitation
  postman/epr-backend.postman_collection.json
  src/plugins/router.js
  src/routes/testEndpointDXT.js
  src/routes/testEndpointDXT.test.js
Due: npm run format, npm run lint:fix

using correct ADR implementation
  CONTRIBUTING.md
  docs/architecture/decisions/0003-gov-uk-notify.md
Due: npm run format, npm run adr:generate:toc

more adr contributing rearrangements
  CONTRIBUTING.md
  docs/architecture/decisions/0003-gov-uk-notify.md
Due: npm run format, npm run adr:generate:toc

TOC update
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

heading fixes
  CONTRIBUTING.md
Due: npm run format

updating typos and better instruction descriptions
  CONTRIBUTING.md
Due: npm run format

Updating ADR document
  docs/architecture/decisions/0003-gov-uk-notify.md
Due: npm run format, npm run adr:generate:toc

PAE-117 - Document gov notify integration process
  CONTRIBUTING.md
Due: npm run format

test endpoint dxt api 0.41.0
  postman/local.postman_environment.json
  src/plugins/router.js
  src/routes/testEndpointDXT.js
  src/routes/testEndpointDXT.test.js
Due: npm run format, npm run lint:fix

PAE-158: update contingency diagrams
  docs/architecture/defined/2025-reg-acc-hld.md
  docs/architecture/defined/2025-reg-acc-lld.md
  docs/architecture/defined/index.md
  docs/architecture/discovery/index.md
  docs/architecture/index.md
Due: npm run format

PAE-126: implement structured logging to Defra (ECS) standards
  CONTRIBUTING.md
  src/common/enums/event.js
  src/common/helpers/get-local-secret.js
  src/common/helpers/get-local-secret.test.js
  src/common/helpers/logging/logger.js
  src/common/helpers/logging/logger.test.js
  src/common/helpers/mongo-lock.js
  src/common/helpers/mongo-lock.test.js
  src/common/helpers/mongodb.js
  src/common/helpers/notify.js
  src/common/helpers/notify.test.js
  src/common/helpers/proxy/setup-proxy.js
  src/common/helpers/start-server.js
  src/common/helpers/start-server.test.js
  src/routes/notify.js
Due: npm run format, npm run lint:fix

false negative
  src/routes/testEndpointDXT.js
  src/routes/testEndpointDXT.test.js
Due: npm run format, npm run lint:fix

Add missing link in CONTRIBUTING.md
  CONTRIBUTING.md
Due: npm run format

159 - setup-stubs-organisation-registration-accreditation
  postman/epr-backend.postman_collection.json
  src/plugins/router.js
  src/routes/accreditation.js
  src/routes/accreditation.test.js
  src/routes/registration.js
  src/routes/registration.test.js
  src/routes/signup.js
  src/routes/signup.test.js
Due: npm run format, npm run lint:fix

including logging
  src/routes/accreditation.js
  src/routes/accreditation.test.js
  src/routes/registration.js
  src/routes/registration.test.js
  src/routes/signup.js
  src/routes/signup.test.js
Due: npm run format, npm run lint:fix

PAE-127 Define and test auditing
  CONTRIBUTING.md
  src/common/enums/event.js
  src/common/helpers/notify.js
  src/common/helpers/notify.test.js
Due: npm run format, npm run lint:fix

Add details to CONTRIBUTING.md
  CONTRIBUTING.md
Due: npm run format

allow disabling of auditing with env var
  src/common/helpers/start-server.js
  src/common/helpers/start-server.test.js
Due: npm run format, npm run lint:fix

better payload structure for audit events
  src/common/helpers/notify.js
  src/common/helpers/notify.test.js
Due: npm run format, npm run lint:fix

remving example route
  src/plugins/router.js
  src/routes/example.js
  vitest.config.js
Due: npm run format, npm run lint:fix

Add sample data setting for organisation details
  src/seed/seeder.js
Due: npm run format, npm run lint:fix

update CONTRIBUTING.md with minor tweaks
  CONTRIBUTING.md
Due: npm run format

remove unnecessary server.stop causing test flakiness
  src/common/helpers/mongodb.test.js
Due: npm run format, npm run lint:fix

moving towards more lld implementation
  src/plugins/router.js
  src/routes/accreditation.js
  src/routes/accreditation.test.js
  src/routes/organisation.js
  src/routes/organisation.test.js
  src/routes/registration.js
  src/routes/registration.test.js
Due: npm run format, npm run lint:fix

changing postman to match lld
  postman/epr-backend.postman_collection.json
Due: npm run format

PAE-158: update Reg & Acc LLD to remove API response data
  docs/architecture/defined/2025-reg-acc-lld.md
Due: npm run format

PAE-158: add success response body back in with explanation
  docs/architecture/defined/2025-reg-acc-lld.md
Due: npm run format

addressing PR comments
  src/common/enums/event.js
  src/plugins/router.js
  src/routes/v1/apply/accreditation.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/index.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/apply/registration.js
  src/routes/v1/apply/registration.test.js
Due: npm run format, npm run lint:fix

mock results for test
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/apply/registration.test.js
Due: npm run format, npm run lint:fix

PAE-158: update Reg & Acc LLD to remove API response data (#59)
  docs/architecture/defined/2025-reg-acc-lld.md
Due: npm run format

unused argument underscored
  src/routes/v1/apply/accreditation.js
  src/routes/v1/apply/registration.js
Due: npm run format, npm run lint:fix
