Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"],
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

PAE-461: Add append-only version history to waste records repository (#333)
  src/repositories/waste-records/contract/appendVersions.contract.js
  src/repositories/waste-records/inmemory.js
  src/repositories/waste-records/mongodb.js
  src/repositories/waste-records/port.contract.js
  src/repositories/waste-records/port.js
  src/repositories/waste-records/schema.js
Due: npm run format, npm run lint:fix

Refactor appendVersions contract tests to use helper functions
  src/repositories/waste-records/contract/appendVersions.contract.js
Due: npm run format, npm run lint:fix

PAE-261: Linnk registrations to org and persist
  src/common/enums/event.js
  src/forms-submission-data/link-form-submissions.js
  src/forms-submission-data/link-form-submissions.test.js
  src/forms-submission-data/migrate-forms-data.js
  src/forms-submission-data/migrate-forms-data.test.js
  src/forms-submission-data/organisation/transform-organisation.js
  src/forms-submission-data/organisation/transform-organisation.test.js
  src/forms-submission-data/registration/transform-registration.js
  src/forms-submission-data/registration/transform-registration.test.js
Due: npm run format, npm run lint:fix

Rename versionsByType to wasteRecordVersions
  src/application/waste-records/sync-from-summary-log.js
  src/application/waste-records/sync-from-summary-log.test.js
  src/repositories/waste-records/contract/appendVersions.contract.js
  src/repositories/waste-records/contract/data-isolation.contract.js
  src/repositories/waste-records/contract/findByRegistration.contract.js
  src/repositories/waste-records/contract/test-data.js
  src/repositories/waste-records/inmemory.js
  src/repositories/waste-records/mongodb.js
  src/repositories/waste-records/port.js
Due: npm run format, npm run lint:fix

updating for excel only
  docs/architecture/decisions/0022-translation-process-for-english-welsh-strings.md
Due: npm run format, npm run adr:generate:toc

PAE-461: Migrate waste record synchronisation to use appendVersions (#335)
  src/application/waste-records/sync-from-summary-log.js
  src/application/waste-records/sync-from-summary-log.test.js
  src/repositories/waste-records/contract/appendVersions.contract.js
  src/repositories/waste-records/contract/data-isolation.contract.js
  src/repositories/waste-records/contract/findByRegistration.contract.js
  src/repositories/waste-records/contract/test-data.js
  src/repositories/waste-records/contract/upsertWasteRecords.contract.js
  src/repositories/waste-records/inmemory.js
  src/repositories/waste-records/mongodb.js
  src/repositories/waste-records/port.contract.js
  src/repositories/waste-records/port.js
Due: npm run format, npm run lint:fix

feat: switch waste records repository from in-memory to MongoDB
  src/common/helpers/collections/create-update.js
  src/plugins/repositories.js
  src/plugins/repositories.test.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
Due: npm run format, npm run lint:fix

refactor: extract registerRepository helper to reduce complexity
  src/plugins/repositories.js
Due: npm run format, npm run lint:fix

refactor: use object to declare repositories
  src/plugins/repositories.js
Due: npm run format, npm run lint:fix

fix: add explicit else clause for SonarCloud
  src/plugins/repositories.js
Due: npm run format, npm run lint:fix

refactor: use compound unique index instead of _compositeKey
  docs/architecture/defined/summary-log-submission-lld.md
  src/common/helpers/collections/create-update.js
  src/repositories/waste-records/mongodb.js
Due: npm run format, npm run lint:fix

removing future goal
  docs/architecture/decisions/0022-translation-process-for-english-welsh-strings.md
Due: npm run format, npm run adr:generate:toc

fix: use positive condition instead of negation
  src/plugins/repositories.js
Due: npm run format, npm run lint:fix

PAE-461: Use MongoDB for waste records in the backend (#339)
  docs/architecture/defined/summary-log-submission-lld.md
  src/common/helpers/collections/create-update.js
  src/plugins/repositories.js
  src/plugins/repositories.test.js
  src/repositories/waste-records/mongodb.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
Due: npm run format, npm run lint:fix

fix Admin UI validation issues
  src/data/fixtures/common/epr-organisations/sample-organisation-1.json
  src/data/fixtures/common/epr-organisations/sample-organisation-2.json
  src/data/fixtures/common/epr-organisations/sample-organisation-3.json
  src/data/fixtures/common/epr-organisations/sample-organisation-4.json
  src/repositories/organisations/schema.js
Due: npm run format, npm run lint:fix

Added schema validation to test the epr-organisation seed data
  src/repositories/organisations/schema.test.js
Due: npm run format, npm run lint:fix

PAE-448: Introduces Summary Log validation check for missing rows
  docs/architecture/decisions/0020-summary-log-validation-output-formats.md
  src/application/summary-logs/validate.js
  src/application/summary-logs/validate.test.js
  src/application/summary-logs/validations/data-business.js
  src/application/summary-logs/validations/data-business.test.js
  src/application/summary-logs/validations/data-syntax.js
  src/application/summary-logs/validations/meta-business.js
  src/application/summary-logs/validations/meta-business.test.js
  src/application/summary-logs/validations/row-continuity.js
  src/application/summary-logs/validations/row-continuity.test.js
  src/common/enums/validation.js
  src/common/validation/validation-issues.js
  src/data/fixtures/uploads/reprocessor.xlsx
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/routes/v1/organisations/registrations/summary-logs/transform-validation-response.test.js
  src/workers/summary-logs/worker/integration.test.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
Due: npm run format, npm run lint:fix, npm run adr:generate:toc

PAE-261: log organisations without registrations
  src/forms-submission-data/link-form-submissions.js
  src/forms-submission-data/link-form-submissions.test.js
  src/forms-submission-data/migrate-forms-data.test.js
Due: npm run format, npm run lint:fix

PAE-261: Link registrations to org and persist (#336)
  src/common/enums/event.js
  src/forms-submission-data/link-form-submissions.js
  src/forms-submission-data/link-form-submissions.test.js
  src/forms-submission-data/migrate-forms-data.js
  src/forms-submission-data/migrate-forms-data.test.js
  src/forms-submission-data/organisation/transform-organisation.js
  src/forms-submission-data/organisation/transform-organisation.test.js
  src/forms-submission-data/registration/transform-registration.js
  src/forms-submission-data/registration/transform-registration.test.js
Due: npm run format, npm run lint:fix

PAE-448: Addresses review comments and SONAR issues
  src/application/summary-logs/validations/accreditation-number.js
  src/application/summary-logs/validations/data-syntax.js
  src/application/summary-logs/validations/data-syntax.test.js
  src/application/summary-logs/validations/material-type.js
  src/application/summary-logs/validations/material-type.test.js
  src/application/summary-logs/validations/meta-business.test.js
  src/application/summary-logs/validations/meta-syntax.js
  src/application/summary-logs/validations/meta-syntax.test.js
  src/application/summary-logs/validations/processing-type.js
  src/application/summary-logs/validations/processing-type.test.js
  src/application/summary-logs/validations/registration-number.js
  src/application/summary-logs/validations/registration-number.test.js
  src/application/summary-logs/validations/row-continuity.js
  src/application/summary-logs/validations/row-continuity.test.js
  src/common/validation/validation-issues.js
  src/common/validation/validation-issues.test.js
  src/routes/v1/organisations/registrations/summary-logs/transform-validation-response.js
  src/routes/v1/organisations/registrations/summary-logs/transform-validation-response.test.js
Due: npm run format, npm run lint:fix

Reverted statusHistory changes
  src/repositories/organisations/schema.js
Due: npm run format, npm run lint:fix

Reverted statusHistory changes pt 2
  src/repositories/organisations/schema.js
Due: npm run format, npm run lint:fix

PAE-261: fix sonar
  src/repositories/organisations/schema.js
Due: npm run format, npm run lint:fix

PAE-261: Schema validation for waste exemption and company reg
  src/repositories/organisations/schema.js
Due: npm run format, npm run lint:fix

PAE-261: marking required fields
  src/repositories/organisations/schema.js
Due: npm run format, npm run lint:fix

PAE-261: Schema validation for waste exemption and company reg (#343)
  src/repositories/organisations/schema.js
Due: npm run format, npm run lint:fix

PAE-448: Introduces Summary Log validation check for missing rows (#341)
  docs/architecture/decisions/0020-summary-log-validation-output-formats.md
  src/application/summary-logs/validate.js
  src/application/summary-logs/validate.test.js
  src/application/summary-logs/validations/accreditation-number.js
  src/application/summary-logs/validations/data-business.js
  src/application/summary-logs/validations/data-business.test.js
  src/application/summary-logs/validations/data-syntax.js
  src/application/summary-logs/validations/data-syntax.test.js
  src/application/summary-logs/validations/material-type.js
  src/application/summary-logs/validations/material-type.test.js
  src/application/summary-logs/validations/meta-business.js
  src/application/summary-logs/validations/meta-business.test.js
  src/application/summary-logs/validations/meta-syntax.js
  src/application/summary-logs/validations/meta-syntax.test.js
  src/application/summary-logs/validations/processing-type.js
  src/application/summary-logs/validations/processing-type.test.js
  src/application/summary-logs/validations/registration-number.js
  src/application/summary-logs/validations/registration-number.test.js
  src/application/summary-logs/validations/row-continuity.js
  src/application/summary-logs/validations/row-continuity.test.js
  src/common/enums/validation.js
  src/common/validation/validation-issues.js
  src/common/validation/validation-issues.test.js
  src/data/fixtures/uploads/reprocessor.xlsx
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/routes/v1/organisations/registrations/summary-logs/transform-validation-response.js
  src/routes/v1/organisations/registrations/summary-logs/transform-validation-response.test.js
  src/workers/summary-logs/worker/integration.test.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
Due: npm run format, npm run lint:fix, npm run adr:generate:toc

Add design document for summary log submission response
  docs/plans/2025-11-18-summary-log-submission-response-design.md
Due: npm run format

Replace implementation code with descriptions in design doc
  docs/plans/2025-11-18-summary-log-submission-response-design.md
Due: npm run format

PAE-261: Include permit details for exporter registration
  src/forms-submission-data/parsing-common/form-data-mapper.js
  src/forms-submission-data/parsing-common/form-data-mapper.test.js
  src/forms-submission-data/parsing-common/form-field-constants.js
  src/forms-submission-data/registration/extract-permits.js
  src/forms-submission-data/registration/transform-registration.js
  src/forms-submission-data/registration/transform-registration.test.js
  src/repositories/organisations/schema.js
Due: npm run format, npm run lint:fix

Update worker to expect submitting status instead of validated
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
Due: npm run format, npm run lint:fix

Add SUBMITTING status to enum and update transition logic
  src/domain/summary-logs/status.js
  src/domain/summary-logs/status.test.js
Due: npm run format, npm run lint:fix

Update POST /submit endpoint to return submitting status
  src/repositories/summary-logs/schema.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/routes/v1/organisations/registrations/summary-logs/submit/post.js
  src/routes/v1/organisations/registrations/summary-logs/submit/post.test.js
Due: npm run format, npm run lint:fix

Add accreditation number to summary log GET endpoint when submitted
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/get.test.js
Due: npm run format, npm run lint:fix

Add integration test for end-to-end submission with accreditation number
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
Due: npm run format, npm run lint:fix

PAE-261: Include permit details for exporter registration (#346)
  src/forms-submission-data/parsing-common/form-data-mapper.js
  src/forms-submission-data/parsing-common/form-data-mapper.test.js
  src/forms-submission-data/parsing-common/form-field-constants.js
  src/forms-submission-data/registration/extract-permits.js
  src/forms-submission-data/registration/transform-registration.js
  src/forms-submission-data/registration/transform-registration.test.js
  src/repositories/organisations/schema.js
Due: npm run format, npm run lint:fix

Add accreditation number to test fixture for manual testing
  src/data/fixtures/common/epr-organisations/sample-organisation-1.json
Due: npm run format

Remove design document
  docs/plans/2025-11-18-summary-log-submission-response-design.md
Due: npm run format
