Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"]
}

PAE-1083: use docker compose in service repo (#839)
  .vite/fixtures/cdp-uploader.js
  .vite/fixtures/cdp-uploader/localstack/01-start-localstack.sh
  .vite/fixtures/cdp-uploader/localstack/99-ready.sh
  CONTRIBUTING.md
  compose.shared.yml
  compose.yml
  compose/01-start-localstack.sh
  compose/99-ready.sh
  compose/aws.env
Due: npm run format

Add optional registrationType to PRN organisation schemas
  src/packaging-recycling-notes/application/external-prn-mapper.js
  src/packaging-recycling-notes/application/external-prn-mapper.test.js
  src/packaging-recycling-notes/repository/schema.js
  src/packaging-recycling-notes/repository/schema.test.js
  src/packaging-recycling-notes/routes/post.schema.js
  src/packaging-recycling-notes/routes/post.test.js
Due: npm run format, npm run lint:fix

Update JSDoc types for registrationType field
  src/packaging-recycling-notes/application/external-prn-mapper.js
  src/packaging-recycling-notes/domain/model.js
  src/packaging-recycling-notes/routes/post.js
Due: npm run format, npm run lint:fix

add errorCode to validation response
  src/application/summary-logs/validations/data-syntax.js
  src/application/summary-logs/validations/data-syntax.test.js
  src/common/enums/validation.js
  src/routes/v1/organisations/registrations/summary-logs/response.schema.js
  src/routes/v1/organisations/registrations/summary-logs/transform-validation-response.js
  src/routes/v1/organisations/registrations/summary-logs/transform-validation-response.test.js
Due: npm run format, npm run lint:fix

PAE-1082: Removed lint staged change
  .husky/pre-commit
Due: none

PAE-1113: Add type-aware display name logic for waste organisations (#840)
  src/packaging-recycling-notes/application/external-prn-mapper.js
  src/packaging-recycling-notes/application/external-prn-mapper.test.js
  src/packaging-recycling-notes/domain/model.js
  src/packaging-recycling-notes/repository/schema.js
  src/packaging-recycling-notes/repository/schema.test.js
  src/packaging-recycling-notes/routes/post.js
  src/packaging-recycling-notes/routes/post.schema.js
  src/packaging-recycling-notes/routes/post.test.js
Due: npm run format, npm run lint:fix

refactor
  src/application/summary-logs/validations/data-syntax.js
  src/application/summary-logs/validations/data-syntax.test.js
  src/common/enums/validation.js
  src/common/helpers/logging/logger-options.js
  src/common/helpers/logging/logger.test.js
Due: npm run format, npm run lint:fix

refactor validateRows
  src/application/summary-logs/validations/data-syntax.js
Due: npm run format, npm run lint:fix

feat(prn): resolve issuedToOrganisation from waste organisations API
  src/common/helpers/waste-organisations/api-adapter.js
  src/common/helpers/waste-organisations/api-adapter.test.js
  src/common/helpers/waste-organisations/inmemory-adapter.js
  src/common/helpers/waste-organisations/inmemory.plugin.js
  src/common/helpers/waste-organisations/plugin.js
  src/config.js
  src/packaging-recycling-notes/routes/post.js
  src/packaging-recycling-notes/routes/post.schema.js
  src/packaging-recycling-notes/routes/post.test.js
  src/routes/v1/organisations/registrations/summary-logs/integration-test-helpers.js
  src/server/server.js
  src/test/create-test-server.js
Due: npm run format, npm run lint:fix

refactor(prn): pass currentYear to extractRegistrationTypes
  src/common/helpers/waste-organisations/api-adapter.js
Due: npm run format, npm run lint:fix

fix(prn): resolve type check errors in api-adapter
  src/common/helpers/waste-organisations/api-adapter.js
Due: npm run format, npm run lint:fix

Extract snapshot helpers to reduce handler length
  src/packaging-recycling-notes/routes/post.js
Due: npm run format, npm run lint:fix

migrate all remaining codes to errorCodes and mark code deprecated
  src/routes/v1/organisations/registrations/summary-logs/integration.upload-lifecycle.test.js
  src/routes/v1/organisations/registrations/summary-logs/response.schema.js
  src/routes/v1/organisations/registrations/summary-logs/transform-validation-response.js
  src/routes/v1/organisations/registrations/summary-logs/transform-validation-response.test.js
Due: npm run format, npm run lint:fix

Extract snapshotUser to bring handler under 75 lines
  src/packaging-recycling-notes/routes/post.js
Due: npm run format, npm run lint:fix

Reduce audit max payload size from 1MB to 32KB
  src/config.js
Due: npm run format, npm run lint:fix

PAE-000: Fix Dependabot #22 - override fast-xml-parser to 5.3.6
  package-lock.json
  package.json
Due: npm run format

PAE-1059: Validation Error Codes (#841)
  src/application/summary-logs/validations/data-syntax.js
  src/application/summary-logs/validations/data-syntax.test.js
  src/common/enums/validation.js
  src/common/helpers/logging/logger-options.js
  src/common/helpers/logging/logger.test.js
  src/routes/v1/organisations/registrations/summary-logs/integration.upload-lifecycle.test.js
  src/routes/v1/organisations/registrations/summary-logs/response.schema.js
  src/routes/v1/organisations/registrations/summary-logs/transform-validation-response.js
  src/routes/v1/organisations/registrations/summary-logs/transform-validation-response.test.js
Due: npm run format, npm run lint:fix

Return null from waste organisations adapter, handle 422 in route
  src/common/helpers/waste-organisations/api-adapter.js
  src/common/helpers/waste-organisations/api-adapter.test.js
  src/common/helpers/waste-organisations/inmemory-adapter.js
  src/packaging-recycling-notes/routes/post.js
  src/packaging-recycling-notes/routes/post.test.js
Due: npm run format, npm run lint:fix

add gitleaks to lint-staged
  .lintstagedrc.json
  .lintstagedrc.mjs
Due: npm run format

PAE-1117: add gitleaks to lint-staged
  .lintstagedrc.json
  .lintstagedrc.mjs
Due: npm run format

add gitleaks to pr checks workflow
  .github/workflows/check-pull-request.yml
Due: none

whoops - I skipped gitleaks checks
  get_cognito_token.py
Due: none

add cheap scan before expensive tests
  .github/workflows/check-pull-request.yml
Due: none

PAE-1084: Add integration test for PRN visibility filter
  src/packaging-recycling-notes/application/prn-visibility-filter.integration.test.js
Due: npm run format, npm run lint:fix

Extract error handling to bring handler under Sonar S138 line limit
  src/packaging-recycling-notes/routes/post.js
Due: npm run format, npm run lint:fix

PAE-990: Validate registration has accreditation in findRegistrationById
  src/repositories/organisations/contract/find-registration-by-id.contract.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/mongodb.js
  src/routes/v1/organisations/registrations/summary-logs/integration.repeated-uploads.test.js
  src/routes/v1/organisations/registrations/summary-logs/integration.submission-and-placeholders.test.js
  src/workers/summary-logs/worker/integration.test.js
Due: npm run format, npm run lint:fix

PAE-1084: Add integration test for PRN visibility filter (#851)
  src/packaging-recycling-notes/application/prn-visibility-filter.integration.test.js
Due: npm run format, npm run lint:fix

PAE-759: Move row-skipping logic from parser to domain layer
  src/adapters/parsers/summary-logs/exceljs-parser.js
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
  src/adapters/parsers/summary-logs/parser-workarounds.characterisation.test.js
  src/application/summary-logs/validations/data-syntax.js
  src/application/summary-logs/validations/data-syntax.test.js
Due: npm run format, npm run lint:fix

PAE-1115: allow organisation state transition from active to approved
  package-lock.json
  src/domain/organisations/status.js
  src/domain/organisations/status.test.js
  vitest.config.js
Due: npm run format, npm run lint:fix

PAE-759: Move placeholder normalisation from parser to domain config
  src/adapters/parsers/summary-logs/exceljs-parser.js
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
  src/adapters/parsers/summary-logs/parser-workarounds.characterisation.test.js
  src/application/summary-logs/extractor.js
  src/application/summary-logs/extractor.test.js
  src/domain/summary-logs/meta-fields.js
  src/domain/summary-logs/table-schemas/exporter/received-loads-for-export.js
  src/domain/summary-logs/table-schemas/index.js
  src/domain/summary-logs/table-schemas/index.test.js
  src/domain/summary-logs/table-schemas/reprocessor-input/received-loads-for-reprocessing.js
Due: npm run format, npm run lint:fix

PAE-759: Remove unused domain constants from markers
  src/domain/summary-logs/markers.js
  src/domain/summary-logs/markers.test.js
Due: npm run format, npm run lint:fix

PAE-759: Add type annotations for new parse options
  src/adapters/parsers/summary-logs/exceljs-parser.js
  src/domain/summary-logs/table-schemas/index.js
Due: npm run format, npm run lint:fix

PAE-816: Simplify Entra token to use just preferred_username instead of email
  src/common/helpers/auth/get-jwt-strategy-config.js
  src/common/helpers/auth/get-jwt-strategy-config.test.js
Due: npm run format, npm run lint:fix

PAE-1122: Always disable fetchMock in setupAuthContext
  .vite/helpers/setup-auth-mocking.js
  src/plugins/auth/external-api-auth-plugin.test.js
Due: npm run format, npm run lint:fix

PAE-816: Simplify Entra token to use just preferred_username instead of email (#861)
  src/common/helpers/auth/get-jwt-strategy-config.js
  src/common/helpers/auth/get-jwt-strategy-config.test.js
Due: npm run format, npm run lint:fix
