Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

PAE-296: Add logging tests for upload-completed endpoint
  src/routes/v1/organisations/registrations/summary-logs/summary-logs.journey.test.js
Due: npm run format, npm run lint:fix

PAE-296: Restructure logging tests using business terminology
  src/routes/v1/organisations/registrations/summary-logs/summary-logs.journey.test.js
Due: npm run format, npm run lint:fix

Add logging and error handling tests for upload-completed endpoint
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
Due: npm run format, npm run lint:fix

Add logging to upload-completed endpoint
  src/routes/v1/organisations/registrations/summary-logs/summary-logs.journey.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
Due: npm run format, npm run lint:fix

Fix double-nested message in error logs
  CONTRIBUTING.md
  src/common/helpers/logging/format-error.js
  src/common/helpers/logging/format-error.test.js
  src/common/helpers/logging/logger.js
  src/common/helpers/logging/logger.test.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
  src/routes/v1/organisations/registrations/summary-logs/validate.test.js
Due: npm run format, npm run lint:fix

Move formatError into logger.js
  CONTRIBUTING.md
  src/common/helpers/logging/format-error.js
  src/common/helpers/logging/format-error.test.js
  src/common/helpers/logging/logger.js
  src/common/helpers/logging/logger.test.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
Due: npm run format, npm run lint:fix

Simplify logger tests and fix handler error logging
  src/common/helpers/apply/handler.js
  src/common/helpers/logging/logger.test.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/registration.test.js
Due: npm run format, npm run lint:fix

Remove unused global logger mocks and fix payload validation logging
  src/common/helpers/apply/payload.js
  src/routes/v1/organisations/registrations/summary-logs/summary-logs.journey.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
Due: npm run format, npm run lint:fix

Resolve ADR numbering conflict in documentation
  docs/architecture/decisions/0012-forms-physical-data-model.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

Add CI check for ADR numbering conflicts
  .github/workflows/check-pull-request.yml
Due: none

Rename unused options parameter to _options
  src/common/helpers/apply/payload.js
Due: npm run format, npm run lint:fix

PAE-000: Resolve ADR numbering conflict in documentation (#167)
  .github/workflows/check-pull-request.yml
  docs/architecture/decisions/0012-forms-physical-data-model.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

Simplify logger.js by removing unnecessary lazy initialization
  src/common/helpers/logging/logger.js
Due: npm run format, npm run lint:fix

Fix incorrect logger.error() calls causing nested message objects
  src/common/helpers/get-local-secret.js
  src/common/helpers/get-local-secret.test.js
  src/common/helpers/mongo-lock.js
  src/common/helpers/mongo-lock.test.js
  src/common/helpers/notify.js
  src/common/helpers/notify.test.js
  src/index.js
  src/start-server.js
  src/start-server.test.js
Due: npm run format, npm run lint:fix

Use formatError in test assertions instead of hard-coding format
  src/common/helpers/get-local-secret.test.js
  src/common/helpers/mongo-lock.test.js
  src/common/helpers/notify.test.js
  src/start-server.test.js
Due: npm run format, npm run lint:fix

PAE-312: Add documentation for epr-backend testing
  docs/testing/0001-pull-request.md
  docs/testing/0002-test-coverage.md
  docs/testing/0003-running-tests.md
  docs/testing/0004-data-generator.md
  docs/testing/0005-proxy-mode.md
  docs/testing/index.md
Due: npm run format

Fix ADR index after merge conflict
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

Simplify and correct logging documentation
  CONTRIBUTING.md
Due: npm run format

Add test for unhandled rejection handler
  src/index.test.js
Due: npm run format, npm run lint:fix

Remove pointless test and exclude global error handler from coverage
  src/index.js
  src/index.test.js
Due: npm run format, npm run lint:fix

Fix c8 ignore syntax - comment must be on separate line
  src/index.js
Due: npm run format, npm run lint:fix

PAE-333: Parsing logic for repeatable answers
  src/forms-submission-data/parse-forms-data.js
  src/forms-submission-data/parse-forms-data.test.js
Due: npm run format, npm run lint:fix

Exclude application entry point from SonarCloud coverage
  sonar-project.properties
Due: none

Extract global error handler to separate testable module
  sonar-project.properties
  src/common/helpers/global-handlers.js
  src/common/helpers/global-handlers.test.js
  src/index.js
Due: npm run format, npm run lint:fix

Inject logger into setupGlobalErrorHandler
  src/common/helpers/global-handlers.js
  src/common/helpers/global-handlers.test.js
  src/index.js
Due: npm run format, npm run lint:fix

Register error handlers before starting server
  sonar-project.properties
  src/index.js
Due: npm run format, npm run lint:fix

PAE-333: sonar issue positive case first
  src/forms-submission-data/parse-forms-data.js
Due: npm run format, npm run lint:fix

PAE-312: Add documentation around performance testing
  docs/testing/0006-performance-tests.md
  docs/testing/index.md
Due: npm run format

PAE-333: Parsing logic for repeatable answers (#169)
  src/forms-submission-data/parse-forms-data.js
  src/forms-submission-data/parse-forms-data.test.js
Due: npm run format, npm run lint:fix

Use Pino error serializer instead of formatError helper
  CONTRIBUTING.md
  src/common/helpers/apply/handler.js
  src/common/helpers/get-local-secret.js
  src/common/helpers/get-local-secret.test.js
  src/common/helpers/global-handlers.js
  src/common/helpers/global-handlers.test.js
  src/common/helpers/logging/logger-options.js
  src/common/helpers/logging/logger.js
  src/common/helpers/logging/logger.test.js
  src/common/helpers/mongo-lock.js
  src/common/helpers/mongo-lock.test.js
  src/common/helpers/notify.js
  src/common/helpers/notify.test.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/apply/registration.test.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
  src/routes/v1/organisations/registrations/summary-logs/validate.test.js
  src/start-server.js
  src/start-server.test.js
Due: npm run format, npm run lint:fix

PAE-312: Add documentation for epr-backend testing (#168)
  docs/testing/0001-pull-request.md
  docs/testing/0002-test-coverage.md
  docs/testing/0003-running-tests.md
  docs/testing/0004-data-generator.md
  docs/testing/0005-proxy-mode.md
  docs/testing/0006-performance-tests.md
  docs/testing/index.md
Due: npm run format

PAE-291: investigate Defra ID
  docs/architecture/decisions/0013-defra-id.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PAE-349: Add TypeScript type checking for JavaScript
  package-lock.json
  package.json
  src/common/enums/form-fields.js
  src/common/helpers/apply/extract-answers.js
  src/common/helpers/apply/extract-answers.test.js
  src/common/helpers/collections/create-update.js
  src/common/helpers/fail-action.js
  src/index.js
  src/routes/v1/apply/organisation.js
  tsconfig.json
Due: npm run format, npm run lint:fix

PAE-343: Replace global logger with hapi request.logger (#166)
  CONTRIBUTING.md
  sonar-project.properties
  src/common/helpers/apply/handler.js
  src/common/helpers/apply/payload.js
  src/common/helpers/fail-action.js
  src/common/helpers/fail-action.test.js
  src/common/helpers/get-local-secret.js
  src/common/helpers/get-local-secret.test.js
  src/common/helpers/global-handlers.js
  src/common/helpers/global-handlers.test.js
  src/common/helpers/logging/logger-options.js
  src/common/helpers/logging/logger.js
  src/common/helpers/logging/logger.test.js
  src/common/helpers/mongo-lock.js
  src/common/helpers/mongo-lock.test.js
  src/common/helpers/notify.js
  src/common/helpers/notify.test.js
  src/common/test-helpers/create-test-server.js
  src/index.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/apply/registration.test.js
  src/routes/v1/organisations/registrations/summary-logs/summary-logs.journey.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
  src/routes/v1/organisations/registrations/summary-logs/validate.test.js
  src/start-server.js
  src/start-server.test.js
Due: npm run format, npm run lint:fix

PAE-000 Admin UI Authorisation MVP
  docs/architecture/decisions/0013-admin-ui-authorisation-mvp.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

Add nations field with null value to organisation data
  .gitignore
  package.json
  src/common/enums/form-fields.js
  src/common/helpers/apply/extract-answers.js
  src/common/helpers/apply/extract-answers.test.js
  src/common/helpers/collections/create-update.js
  src/common/helpers/collections/factories/organisation.js
  src/routes/v1/apply/organisation.js
Due: npm run format, npm run lint:fix

Remove tsconfig.json from git tracking (keep local only)
  tsconfig.json
Due: npm run format

Restore package-lock.json to main (TypeScript assumed globally installed)
  package-lock.json
Due: npm run format

Fix summary log object property name
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
Due: npm run format, npm run lint:fix

PAE-349: fix minor type errors (#173)
  .gitignore
  src/common/helpers/collections/create-update.js
  src/common/helpers/collections/factories/organisation.js
  src/common/helpers/fail-action.js
  src/common/helpers/global-handlers.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
Due: npm run format, npm run lint:fix

Path conditions:
  npm run format: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
