Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"],
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

PAE-296: Implement summary log upload flow with validation (#150)
  src/common/enums/http-status.js
  src/common/helpers/collections/create-update.js
  src/repositories/summary-logs-repository.contract.js
  src/repositories/summary-logs-repository.inmemory.js
  src/repositories/summary-logs-repository.mongodb.js
  src/repositories/summary-logs-repository.port.js
  src/repositories/summary-logs-repository.validation.js
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/index.js
  src/routes/v1/organisations/registrations/summary-logs/summary-logs.journey.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.validation.test.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
Due: npm run format, npm run lint:fix

Replace custom HTTP_STATUS enum with http-status-codes package
  src/common/enums/http-status.js
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
Due: npm run format, npm run lint:fix

PAE-296: Replace custom HTTP_STATUS enum with http-status-codes package (#159)
  src/common/enums/http-status.js
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
Due: npm run format, npm run lint:fix

PAE-296: Make S3 fields conditional based on file status
  src/repositories/summary-logs-repository.contract.js
  src/repositories/summary-logs-repository.validation.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
Due: npm run format, npm run lint:fix

PAE-296: Add 'pending' fileStatus for defensive handling
  src/repositories/summary-logs-repository.contract.js
  src/repositories/summary-logs-repository.validation.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.validation.test.js
Due: npm run format, npm run lint:fix

PAE-296: Replace magic numbers with StatusCodes constants
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
Due: npm run format, npm run lint:fix

PAE-296: Refactor contract tests to fix SonarQube violations
  src/repositories/summary-logs-repository.contract.js
Due: npm run format, npm run lint:fix

PAE-296: Remove redundant repository wrapper in tests
  src/repositories/summary-logs-repository.contract.js
Due: npm run format, npm run lint:fix

PAE-296: Remove redundant null checks after validation
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
Due: npm run format, npm run lint:fix

PAE-296: Make S3 fields conditionally required based on file status (#160)
  src/repositories/summary-logs-repository.contract.js
  src/repositories/summary-logs-repository.validation.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.validation.test.js
Due: npm run format, npm run lint:fix

Add status field to summary log documents
  src/common/enums/index.js
  src/common/enums/summary-log.js
  src/repositories/summary-logs-repository.contract.js
  src/repositories/summary-logs-repository.validation.js
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
Due: npm run format, npm run lint:fix

Use http-status-codes constants in upload-completed validation tests
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.validation.test.js
Due: npm run format, npm run lint:fix

Refactor summary-log domain to focus on pure business rules
  package.json
  src/common/enums/summary-log.js
  src/common/enums/summary-log.test.js
  src/domain/summary-log.js
  src/domain/summary-log.test.js
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
Due: npm run format, npm run lint:fix

Move summary-log enums into domain layer
  src/common/enums/index.js
  src/common/enums/summary-log.js
  src/domain/summary-log.js
  src/domain/summary-log.test.js
  src/repositories/summary-logs-repository.validation.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
Due: npm run format, npm run lint:fix

Use http-status-codes constants in conflict test case
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
Due: npm run format, npm run lint:fix

Use consistent summary-log naming in test URLs
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
Due: npm run format, npm run lint:fix

Refactor determineStatusFromUpload to use object map
  src/domain/summary-log.js
Due: npm run format, npm run lint:fix

PAE-296: Add status field to summary log documents (#161)
  package.json
  src/domain/summary-log.js
  src/domain/summary-log.test.js
  src/repositories/summary-logs-repository.contract.js
  src/repositories/summary-logs-repository.validation.js
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.validation.test.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
Due: npm run format, npm run lint:fix

PAE-300 Add LLD for admin UI auth
  docs/architecture/discovery/pepr-lld-auth-admin-ui.md
Due: npm run format

PAE-267: Forms data generated in test env
  docs/architecture/discovery/forms-data-logical-data-model.md
  package-lock.json
  src/data/fixtures/ea/README.md
  src/data/fixtures/ea/accreditation/exporter-without-registration.json
  src/data/fixtures/ea/accreditation/exporter.json
  src/data/fixtures/ea/accreditation/reprocessor-paper.json
  src/data/fixtures/ea/accreditation/reprocessor-wood.json
  src/data/fixtures/ea/organisation/non-registered-outside-uk-address.json
  src/data/fixtures/ea/organisation/non-registered-uk-sole-trader.json
  src/data/fixtures/ea/organisation/registered-ltd-liability.json
  src/data/fixtures/ea/organisation/registered-ltd-partnership.json
  src/data/fixtures/ea/organisation/registered-no-partnership.json
  src/data/fixtures/ea/registration/exporter.json
  src/data/fixtures/ea/registration/reprocessor-all-materials.json
Due: npm run format

review comments
  docs/architecture/discovery/forms-data-logical-data-model.md
  src/data/fixtures/ea/README.md
  src/data/fixtures/ea/update-defra-prod-forms.sh
Due: npm run format

Add sign in user journey
  docs/architecture/discovery/pepr-lld-auth-admin-ui.md
Due: npm run format

Test run against branch
  .github/workflows/check-pull-request.yml
Due: none

Use branch reference
  .github/workflows/check-pull-request.yml
Due: none

review comments
  docs/architecture/discovery/forms-data-logical-data-model.md
  src/data/fixtures/ea/README.md
Due: npm run format

PAE-267: Forms data generated in test env (#151)
  docs/architecture/discovery/forms-data-logical-data-model.md
  package-lock.json
  src/data/fixtures/ea/README.md
  src/data/fixtures/ea/accreditation/exporter-without-registration.json
  src/data/fixtures/ea/accreditation/exporter.json
  src/data/fixtures/ea/accreditation/reprocessor-paper.json
  src/data/fixtures/ea/accreditation/reprocessor-wood.json
  src/data/fixtures/ea/organisation/non-registered-outside-uk-address.json
  src/data/fixtures/ea/organisation/non-registered-uk-sole-trader.json
  src/data/fixtures/ea/organisation/registered-ltd-liability.json
  src/data/fixtures/ea/organisation/registered-ltd-partnership.json
  src/data/fixtures/ea/organisation/registered-no-partnership.json
  src/data/fixtures/ea/registration/exporter.json
  src/data/fixtures/ea/registration/reprocessor-all-materials.json
  src/data/fixtures/ea/update-defra-prod-forms.sh
Due: npm run format

Consistently refer to auth cookie generated by @hapi/cookie
  docs/architecture/discovery/pepr-lld-auth-admin-ui.md
Due: npm run format

Add sign out detail
  docs/architecture/discovery/pepr-lld-auth-admin-ui.md
Due: npm run format

PAE-207: introduces proposed ADRs for parsing summary log files
  docs/architecture/decisions/0010-worker-threads.md
  docs/architecture/decisions/0011-file-parsing.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PAE-207: remove stale adr index
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PAE-207: Introduces proposed ADRs for parsing summary log files (#153)
  docs/architecture/decisions/0010-worker-threads.md
  docs/architecture/decisions/0011-file-parsing.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

Refactor summary logs to use MongoDB _id as domain identifier
  src/common/helpers/collections/create-update.js
  src/repositories/summary-logs-repository.contract.js
  src/repositories/summary-logs-repository.inmemory.js
  src/repositories/summary-logs-repository.mongodb.js
  src/repositories/summary-logs-repository.port.js
  src/repositories/summary-logs-repository.validation.js
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
Due: npm run format, npm run lint:fix

Consolidate findById test cases into single suite
  src/repositories/summary-logs-repository.contract.js
Due: npm run format, npm run lint:fix

Add braces to if statement for linter
  src/repositories/summary-logs-repository.mongodb.js
Due: npm run format, npm run lint:fix

Remove pointless insertedId return value from summary logs repository
  src/repositories/summary-logs-repository.contract.js
  src/repositories/summary-logs-repository.inmemory.js
  src/repositories/summary-logs-repository.mongodb.js
  src/repositories/summary-logs-repository.port.js
Due: npm run format, npm run lint:fix

Enforce consistent duplicate ID handling in summary logs repository
  src/repositories/summary-logs-repository.contract.js
  src/repositories/summary-logs-repository.inmemory.js
  src/repositories/summary-logs-repository.mongodb.js
  src/repositories/summary-logs-repository.mongodb.test.js
Due: npm run format, npm run lint:fix

Add ID validation to findById method
  src/repositories/summary-logs-repository.contract.js
  src/repositories/summary-logs-repository.inmemory.js
  src/repositories/summary-logs-repository.mongodb.js
  src/repositories/summary-logs-repository.validation.js
Due: npm run format, npm run lint:fix

Extract magic numbers to named constants
  src/repositories/summary-logs-repository.contract.js
Due: npm run format, npm run lint:fix

Extract magic numbers to named constants
  src/repositories/summary-logs-repository.contract.js
  src/repositories/summary-logs-repository.mongodb.js
Due: npm run format, npm run lint:fix

PAE-296: Use MongoDB _id as domain identifier for summary logs (#165)
  src/common/helpers/collections/create-update.js
  src/repositories/summary-logs-repository.contract.js
  src/repositories/summary-logs-repository.inmemory.js
  src/repositories/summary-logs-repository.mongodb.js
  src/repositories/summary-logs-repository.mongodb.test.js
  src/repositories/summary-logs-repository.port.js
  src/repositories/summary-logs-repository.validation.js
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
Due: npm run format, npm run lint:fix
