Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"],
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

docs: replace implementation code with flow diagrams in ADR 21
  docs/architecture/decisions/0021-concurrent-summary-log-submission.md
Due: npm run format, npm run adr:generate:toc

docs: reduce emphasis on validatedAt timestamp reuse in ADR 21
  docs/architecture/decisions/0021-concurrent-summary-log-submission.md
Due: npm run format, npm run adr:generate:toc

docs: update ADR 21
  docs/architecture/decisions/0021-concurrent-summary-log-submission.md
Due: npm run format, npm run adr:generate:toc

docs: move background job recovery to future considerations in ADR 21
  docs/architecture/decisions/0021-concurrent-summary-log-submission.md
Due: npm run format, npm run adr:generate:toc

docs: disallow uploads during submission in ADR 21
  docs/architecture/decisions/0021-concurrent-summary-log-submission.md
Due: npm run format, npm run adr:generate:toc

docs: remove specific timing estimates from ADR 21
  docs/architecture/decisions/0021-concurrent-summary-log-submission.md
Due: npm run format, npm run adr:generate:toc

docs: remove validation phase async note from workflow diagram
  docs/architecture/decisions/0021-concurrent-summary-log-submission.md
Due: npm run format, npm run adr:generate:toc

PAE-293: add public access auth flow LLD, update HLD to signpost to all auth flow LLDs
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld-auth-ui.md
  package-lock.json
Due: npm run format

PAE-293: document details of Defra ID integration (#315)
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld-auth-ui.md
  package-lock.json
Due: npm run format

WIP Added test coverage for remaining endpoints
  src/common/helpers/plugins/mongo-db-plugin.integration.test.js
  src/routes/health.test.js
  src/routes/v1/apply/test-fixtures.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.validation.test.js
  src/routes/v1/organisations/registrations/summary-logs/validate/post.test.js
  src/start-server.test.js
  src/test/helpers/setup-auth-mocking.js
Due: npm run format, npm run lint:fix

WIP Scaffolded unit tests for fetch-json
  src/common/helpers/fetch-json.test.js
Due: npm run format, npm run lint:fix

WIP Added tests for fetch-json
  src/common/helpers/fetch-json.test.js
Due: npm run format, npm run lint:fix

WIP Validate userRoles string early
  src/common/helpers/auth/get-entra-user-roles.js
  src/common/helpers/validate-config.js
  src/common/helpers/validate-config.test.js
  src/start-server.js
Due: npm run format, npm run lint:fix

WIP Early config validation
  src/common/helpers/auth/get-entra-user-roles.js
  src/start-server.js
  src/start-server.test.js
Due: npm run format, npm run lint:fix

WIP Add tests for auth helpers
  src/common/helpers/auth/get-entra-user-roles.test.js
  src/common/helpers/auth/get-oidc-configs.test.js
  vitest.config.js
Due: npm run format, npm run lint:fix

WIP Refactor auth checks for get-by-id endpoint tests
  src/routes/v1/organisations/get-by-id.test.js
Due: npm run format, npm run lint:fix

WIP Extracted auth helper for testing endpoint is auth protected
  src/routes/v1/organisations/get-by-id.test.js
  src/test/helpers/test-auth-scenarios.js
Due: npm run format, npm run lint:fix

Fix American English spelling in documentation
  docs/architecture/decisions/0017-decouple-spreadsheet-data-extraction-from-layout-using-markers.md
  docs/guides/spreadsheet-template-marker-guide.md
Due: npm run format, npm run adr:generate:toc

PAE-000: Fix American English spelling in documentation (#319)
  docs/architecture/decisions/0017-decouple-spreadsheet-data-extraction-from-layout-using-markers.md
  docs/guides/spreadsheet-template-marker-guide.md
Due: npm run format, npm run adr:generate:toc

WIP Renamed some env vars
  src/config.js
  src/routes/v1/organisations/put-by-id.test.js
  src/test/helpers/create-test-tokens.js
Due: npm run format, npm run lint:fix

WIP Remiove unused config
  src/config.js
Due: npm run format, npm run lint:fix

Update ADR 21: Concurrent Summary Log Submission
  docs/architecture/decisions/0021-concurrent-summary-log-submission.md
Due: npm run format, npm run adr:generate:toc

PAE-460: Implement table-keyed validation response with error codes
  docs/architecture/decisions/0020-summary-log-validation-output-formats.md
  src/application/summary-logs/validate.js
  src/application/summary-logs/validate.test.js
  src/application/summary-logs/validations/accreditation-number.js
  src/application/summary-logs/validations/accreditation-number.test.js
  src/application/summary-logs/validations/data-syntax.js
  src/application/summary-logs/validations/data-syntax.test.js
  src/application/summary-logs/validations/material-type.js
  src/application/summary-logs/validations/material-type.test.js
  src/application/summary-logs/validations/meta-syntax.js
  src/application/summary-logs/validations/meta-syntax.test.js
  src/application/summary-logs/validations/processing-type.js
  src/application/summary-logs/validations/processing-type.test.js
  src/application/summary-logs/validations/registration-number.js
  src/application/summary-logs/validations/registration-number.test.js
  src/application/summary-logs/validations/table-schemas.schema.js
  src/common/validation/validation-issues.js
  src/common/validation/validation-issues.test.js
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/routes/v1/organisations/registrations/summary-logs/transform-validation-response.js
  src/routes/v1/organisations/registrations/summary-logs/transform-validation-response.test.js
  src/workers/summary-logs/worker/integration.test.js
Due: npm run format, npm run lint:fix, npm run adr:generate:toc

WIP Reshape user roles configuration
  src/common/helpers/auth/get-entra-user-roles.js
  src/common/helpers/auth/get-entra-user-roles.test.js
  src/common/helpers/validate-config.js
  src/config.js
Due: npm run format, npm run lint:fix

WIP Rewrite user tests to meet new implementation
  src/common/helpers/auth/get-entra-user-roles.test.js
Due: npm run format, npm run lint:fix

WIP Ignore case in email comparison for service maintainer roles
  src/common/helpers/auth/get-entra-user-roles.js
  src/common/helpers/auth/get-entra-user-roles.test.js
Due: npm run format, npm run lint:fix

WIP Adpat test to latest changes
  src/common/helpers/validate-config.test.js
Due: npm run format, npm run lint:fix

WIP Fix wrongly resolved conflict
  src/routes/v1/organisations/registrations/summary-logs/validate/post.js
  src/routes/v1/organisations/registrations/summary-logs/validate/post.test.js
Due: npm run format, npm run lint:fix

WIP Fix linting errors
  src/routes/v1/apply/test-fixtures.js
  src/test/helpers/setup-auth-mocking.js
Due: npm run format, npm run lint:fix

WIP Fix formatting
  src/common/helpers/auth/get-entra-user-roles.js
  src/common/helpers/validate-config.test.js
Due: npm run format, npm run lint:fix

docs: refactor ADR 21 into pattern and implementation
  docs/architecture/decisions/0021-idempotent-operations-and-retry-mechanisms.md
  docs/architecture/decisions/index.md
  docs/architecture/defined/summary-log-submission-lld.md
Due: npm run format, npm run adr:generate:toc

PAE-460: Implement table-keyed validation response with error codes (#320)
  docs/architecture/decisions/0020-summary-log-validation-output-formats.md
  src/application/summary-logs/validate.js
  src/application/summary-logs/validate.test.js
  src/application/summary-logs/validations/accreditation-number.js
  src/application/summary-logs/validations/accreditation-number.test.js
  src/application/summary-logs/validations/data-syntax.js
  src/application/summary-logs/validations/data-syntax.test.js
  src/application/summary-logs/validations/material-type.js
  src/application/summary-logs/validations/material-type.test.js
  src/application/summary-logs/validations/meta-syntax.js
  src/application/summary-logs/validations/meta-syntax.test.js
  src/application/summary-logs/validations/processing-type.js
  src/application/summary-logs/validations/processing-type.test.js
  src/application/summary-logs/validations/registration-number.js
  src/application/summary-logs/validations/registration-number.test.js
  src/application/summary-logs/validations/table-schemas.schema.js
  src/common/validation/validation-issues.js
  src/common/validation/validation-issues.test.js
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/routes/v1/organisations/registrations/summary-logs/transform-validation-response.js
  src/routes/v1/organisations/registrations/summary-logs/transform-validation-response.test.js
  src/workers/summary-logs/worker/integration.test.js
Due: npm run format, npm run lint:fix, npm run adr:generate:toc

SonarQube issue
  src/routes/v1/organisations/put-by-id.js
Due: npm run format, npm run lint:fix

WIP Add missing test file
  src/test/helpers/create-test-tokens.test.js
Due: npm run format, npm run lint:fix

WIP Rename config var
  src/common/helpers/auth/get-jwt-strategy-config.js
  src/config.js
  src/test/helpers/create-test-tokens.js
Due: npm run format, npm run lint:fix

WIP Fix mistaken code comment
  src/common/helpers/auth/get-jwt-strategy-config.js
Due: npm run format, npm run lint:fix

WIP Add test file for mock-oidc
  src/test/helpers/mock-oidc.test.js
Due: npm run format, npm run lint:fix

feat(organisations): add conditional validation for registration and accreditation numbers
  src/repositories/organisations/contract/update.contract.js
  src/repositories/organisations/schema.js
Due: npm run format, npm run lint:fix

refactor(organisations): use discriminated unions for registration and accreditation types
  src/repositories/organisations/port.js
Due: npm run format, npm run lint:fix

refactor(organisations): strengthen discriminated unions to exclude number fields when not approved
  src/repositories/organisations/port.js
Due: npm run format, npm run lint:fix
