Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"],
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

add defra-id type to organisation
  src/forms-submission-data/types.js
  src/repositories/organisations/schema/base.js
  src/repositories/organisations/schema/organisation.js
Due: npm run format, npm run lint:fix

handle potentially missing data
  src/forms-submission-data/collate-users.js
  src/forms-submission-data/collate-users.test.js
Due: npm run format, npm run lint:fix

Correct typo in README contributing section
  README.md
Due: npm run format

replace deprecated mongodb .count() method
  src/common/helpers/collections/create-update.js
Due: npm run format, npm run lint:fix

exclude types from coverage report
  vitest.config.js
Due: npm run format

remove extraneous parameter from upsert function
  src/forms-submission-data/migrate-forms-data.js
Due: npm run format, npm run lint:fix

PAE-541: Link registrations to accreditations (#376)
  src/forms-submission-data/link-form-submissions.js
  src/forms-submission-data/link-form-submissions.test.js
  src/forms-submission-data/migrate-forms-data.js
  src/forms-submission-data/migrate-forms-data.test.js
Due: npm run format, npm run lint:fix

Add contract test for data field replacement behaviour
  src/repositories/waste-records/contract/appendVersions.contract.js
Due: npm run format, npm run lint:fix

enable js type-checking with jsdoc (in ide only)
  jsconfig.json
Due: npm run format

Fix test to use contract terminology
  src/repositories/waste-records/contract/appendVersions.contract.js
Due: npm run format, npm run lint:fix

define constant for user-roles
  src/domain/organisations/model.js
  src/forms-submission-data/collate-users.js
  src/forms-submission-data/types.js
  src/repositories/organisations/schema/base.js
Due: npm run format, npm run lint:fix

rename to linked-defra-organisation in organisation
  src/repositories/organisations/schema/organisation.js
Due: npm run format, npm run lint:fix

exclude vitest/globals from check-js
  jsconfig.json
Due: npm run format

define jsdoc in a typescript fashion
  src/common/helpers/apply/extract-answers.js
  src/common/helpers/collections/types.js
  src/forms-submission-data/types.js
Due: npm run format, npm run lint:fix

i18next-cli
  docs/architecture/decisions/0022-translation-process-for-english-welsh-strings.md
Due: npm run format, npm run adr:generate:toc

use snake case for constant value
  src/domain/organisations/model.js
  src/forms-submission-data/collate-users.test.js
Due: npm run format, npm run lint:fix

PAE-511: prepare organisation linking data (#377)
  jsconfig.json
  src/common/helpers/apply/extract-answers.js
  src/common/helpers/collections/create-update-accreditation.js
  src/common/helpers/collections/create-update-epr-organisation.js
  src/common/helpers/collections/create-update-organisation.js
  src/common/helpers/collections/create-update-registration.js
  src/common/helpers/collections/create-update.js
  src/common/helpers/collections/types.js
  src/domain/organisations/model.js
  src/forms-submission-data/collate-users.js
  src/forms-submission-data/collate-users.test.js
  src/forms-submission-data/link-form-submissions.js
  src/forms-submission-data/migrate-forms-data.js
  src/forms-submission-data/migrate-forms-data.test.js
  src/forms-submission-data/types.js
  src/repositories/organisations/schema/base.js
  src/repositories/organisations/schema/organisation.js
  vitest.config.js
Due: npm run format, npm run lint:fix

PAE-514: Fixes for accreditation data migration failures from prod
  src/forms-submission-data/link-form-submissions.js
  src/forms-submission-data/link-form-submissions.test.js
  src/forms-submission-data/parsing-common/parse-address.js
  src/repositories/organisations/schema/accreditation.js
Due: npm run format, npm run lint:fix

PAE-514:sonar fix
  src/forms-submission-data/link-form-submissions.js
Due: npm run format, npm run lint:fix

PAE-514: Fixes for accreditation data migration failures from prod (#382)
  src/forms-submission-data/link-form-submissions.js
  src/forms-submission-data/link-form-submissions.test.js
  src/forms-submission-data/parsing-common/parse-address.js
  src/repositories/organisations/schema/accreditation.js
Due: npm run format, npm run lint:fix

Scaffolded authorisation
  src/common/helpers/auth/constants.js
  src/common/helpers/auth/get-defra-id-user-roles.js
  src/common/helpers/auth/get-jwt-strategy-config.js
  src/common/helpers/auth/get-users-org-info.js
  src/common/helpers/auth/roles/helpers.js
  src/common/helpers/auth/roles/stuff.js
Due: npm run format, npm run lint:fix

PAE-514: Log more info when accreditation cant be matched to registration
  src/forms-submission-data/link-form-submissions.js
  src/forms-submission-data/link-form-submissions.test.js
  src/forms-submission-data/parsing-common/postcode.js
  src/forms-submission-data/parsing-common/postcode.test.js
Due: npm run format, npm run lint:fix

PAE-514: Log more info when accreditation cant be matched to registration (#383)
  src/forms-submission-data/link-form-submissions.js
  src/forms-submission-data/link-form-submissions.test.js
  src/forms-submission-data/parsing-common/postcode.js
  src/forms-submission-data/parsing-common/postcode.test.js
Due: npm run format, npm run lint:fix

PAE-514: Fix bug in matching reprocessor accreditation matching logic
  src/data/fixtures/common/epr-organisations/sample-organisation-1.json
  src/data/fixtures/common/epr-organisations/sample-organisation-3.json
  src/data/fixtures/common/epr-organisations/sample-organisation-4.json
  src/forms-submission-data/accreditation/transform-accreditation.js
  src/forms-submission-data/accreditation/transform-accreditation.test.js
  src/forms-submission-data/link-form-submissions.js
  src/forms-submission-data/link-form-submissions.test.js
  src/repositories/organisations/schema/accreditation.js
Due: npm run format, npm run lint:fix

PAE-514: add real fixture for reprocessor matching accreditation from test env
  src/data/fixtures/ea/README.md
  src/data/fixtures/ea/accreditation/reprocessor-glass.json
  src/data/fixtures/ea/registration/reprocessor-all-materials-sepa-handcrafted.json
  src/forms-submission-data/migrate-forms-data.test.js
Due: npm run format, npm run lint:fix

PAE-379: PoC Server Side Auth
  compose.yml
  src/common/helpers/auth/constants.js
  src/common/helpers/auth/get-defra-id-user-roles.js
  src/common/helpers/auth/get-jwt-strategy-config.js
  src/common/helpers/collections/factories/epr-organisation.js
  src/config.js
  src/data/fixtures/common/epr-organisations/sample-organisation-1.json
  src/data/fixtures/common/epr-organisations/sample-organisation-2.json
  src/data/fixtures/common/epr-organisations/sample-organisation-3.json
  src/data/fixtures/common/epr-organisations/sample-organisation-4.json
  src/domain/organisations/model.js
  src/domain/organisations/paths.js
  src/domain/organisations/users.js
  src/repositories/organisations/contract/upsert.contract.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/schema/accreditation.js
  src/repositories/organisations/schema/base.js
  src/repositories/organisations/schema/helpers.js
  src/repositories/organisations/schema/index.js
  src/repositories/organisations/schema/organisation.js
  src/repositories/organisations/schema/registration.js
  src/repositories/organisations/schema/validation.js
  src/routes/v1/organisations/get-all-by-defraIdOrgId.js
  src/routes/v1/organisations/get-by-id.js
  src/routes/v1/organisations/index.js
  src/routes/v1/organisations/link.js
  src/server/server.js
  vitest.config.js
Due: npm run format, npm run lint:fix

WIP Some renaming
  src/common/helpers/auth/get-defra-id-user-roles.js
  src/common/helpers/auth/get-jwt-strategy-config.js
  src/common/helpers/auth/get-users-org-info.js
Due: npm run format, npm run lint:fix

PAE-514: Fix bug in logic to match reprocessor accreditation to registration (#384)
  src/data/fixtures/common/epr-organisations/sample-organisation-1.json
  src/data/fixtures/common/epr-organisations/sample-organisation-3.json
  src/data/fixtures/common/epr-organisations/sample-organisation-4.json
  src/data/fixtures/ea/README.md
  src/data/fixtures/ea/accreditation/reprocessor-glass.json
  src/data/fixtures/ea/registration/reprocessor-all-materials-sepa-handcrafted.json
  src/forms-submission-data/accreditation/transform-accreditation.js
  src/forms-submission-data/accreditation/transform-accreditation.test.js
  src/forms-submission-data/link-form-submissions.js
  src/forms-submission-data/link-form-submissions.test.js
  src/forms-submission-data/migrate-forms-data.test.js
  src/repositories/organisations/schema/accreditation.js
Due: npm run format, npm run lint:fix

WIP Added organisation validation
  src/common/helpers/auth/get-jwt-strategy-config.js
  src/common/helpers/auth/validate-epr-org-access.js
Due: npm run format, npm run lint:fix

Update template markers to match new spreadsheet
  benchmarks/exceljs-parser.bench.js
  docs/architecture/decisions/0017-decouple-spreadsheet-data-extraction-from-layout-using-markers.md
  docs/guides/spreadsheet-template-marker-guide.md
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
  src/application/summary-logs/validate.test.js
  src/application/summary-logs/validations/data-syntax.test.js
  src/application/summary-logs/validations/table-schemas.js
  src/application/summary-logs/validations/table-schemas.schema.js
  src/common/validation/validation-issues.js
  src/common/validation/validation-issues.test.js
  src/data/fixtures/uploads/reprocessor.json
  src/domain/summary-logs/extractor/port.js
  src/domain/summary-logs/markers.js
  src/domain/summary-logs/markers.test.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/routes/v1/organisations/registrations/summary-logs/transform-validation-response.test.js
Due: npm run format, npm run lint:fix, npm run adr:generate:toc

PAE-502: fun with jsdoc types
  src/common/hapi-types.js
  src/common/helpers/apply/extract-answers.js
  src/domain/summary-logs/extractor/port.js
  src/domain/summary-logs/model.js
  src/domain/summary-logs/worker/port.js
  src/domain/uploads/repository/port.js
  src/feature-flags/feature-flags.port.js
  src/forms-submission-data/types.js
  src/repositories/form-submissions/port.js
  src/repositories/organisations/port.js
  src/repositories/summary-logs/port.js
  src/repositories/waste-records/port.js
  src/routes/v1/organisations/put-by-id.js
Due: npm run format, npm run lint:fix

Update remaining template marker references
  docs/architecture/decisions/0020-summary-log-validation-output-formats.md
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
Due: npm run format, npm run lint:fix, npm run adr:generate:toc

PAE-502: more fun with jsdoc types (#389)
  src/common/hapi-types.js
  src/common/helpers/apply/extract-answers.js
  src/domain/summary-logs/extractor/port.js
  src/domain/summary-logs/model.js
  src/domain/summary-logs/worker/port.js
  src/domain/uploads/repository/port.js
  src/feature-flags/feature-flags.port.js
  src/forms-submission-data/types.js
  src/repositories/form-submissions/port.js
  src/repositories/organisations/port.js
  src/repositories/summary-logs/port.js
  src/repositories/waste-records/port.js
  src/routes/v1/organisations/put-by-id.js
Due: npm run format, npm run lint:fix

PAE-502: localstack parity with epr-frontend
  compose/01-start-localstack.sh
  compose/99-ready.sh
  compose/start-localstack.sh
Due: none

PAE-502: start shared services from single compose file
  compose.shared.yml
  compose.yml
Due: none

PAE-502: add compose instructions to the readme
  README.md
Due: npm run format

PAE-542: Add contract test for waste record data field replacement behaviour (#381)
  src/repositories/waste-records/contract/appendVersions.contract.js
Due: npm run format, npm run lint:fix

PAE-547: Update template markers to match new spreadsheet (#388)
  benchmarks/exceljs-parser.bench.js
  docs/architecture/decisions/0017-decouple-spreadsheet-data-extraction-from-layout-using-markers.md
  docs/architecture/decisions/0020-summary-log-validation-output-formats.md
  docs/guides/spreadsheet-template-marker-guide.md
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
  src/application/summary-logs/validate.test.js
  src/application/summary-logs/validations/data-syntax.test.js
  src/application/summary-logs/validations/table-schemas.js
  src/application/summary-logs/validations/table-schemas.schema.js
  src/common/validation/validation-issues.js
  src/common/validation/validation-issues.test.js
  src/data/fixtures/uploads/reprocessor.json
  src/domain/summary-logs/extractor/port.js
  src/domain/summary-logs/markers.js
  src/domain/summary-logs/markers.test.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/routes/v1/organisations/registrations/summary-logs/transform-validation-response.test.js
Due: npm run format, npm run lint:fix, npm run adr:generate:toc
