Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

PAE-442: Introduces ADR for Summary Log Validation Output Formats (#290)
  docs/architecture/decisions/0020-summary-log-validation-output-formats.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PAE-460: Introduces minimal row-level Summary Log validation (#305)
  src/adapters/parsers/summary-logs/exceljs-parser.js
  src/application/summary-logs/validate.js
  src/application/summary-logs/validate.test.js
  src/application/summary-logs/validations/accreditation-number.js
  src/application/summary-logs/validations/accreditation-number.test.js
  src/application/summary-logs/validations/data-syntax.js
  src/application/summary-logs/validations/data-syntax.test.js
  src/application/summary-logs/validations/material-type.js
  src/application/summary-logs/validations/material-type.test.js
  src/application/summary-logs/validations/meta-syntax.js
  src/application/summary-logs/validations/meta-syntax.schema.js
  src/application/summary-logs/validations/meta-syntax.test.js
  src/application/summary-logs/validations/processing-type.js
  src/application/summary-logs/validations/processing-type.test.js
  src/application/summary-logs/validations/registration-number.js
  src/application/summary-logs/validations/registration-number.test.js
  src/application/summary-logs/validations/table-schemas.js
  src/application/summary-logs/validations/table-schemas.schema.js
  src/common/helpers/spreadsheet/columns.js
  src/common/helpers/spreadsheet/columns.test.js
  src/domain/summary-logs/markers.js
  src/domain/summary-logs/markers.test.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
Due: npm run format, npm run lint:fix

PAE-461: Add failing tests for delta versioning
  src/application/waste-records/sync-from-summary-log.test.js
Due: npm run format, npm run lint:fix

Implement delta versioning for waste records
  src/application/waste-records/transform-from-summary-log.js
  src/application/waste-records/transform-from-summary-log.test.js
Due: npm run format, npm run lint:fix

Fix SonarCloud code smells
  src/application/summary-logs/validate.js
  src/application/summary-logs/validations/data-syntax.js
  src/common/helpers/spreadsheet/columns.js
Due: npm run format, npm run lint:fix

PAE-461: Implement delta versioning for waste records (#307)
  src/application/summary-logs/validate.js
  src/application/summary-logs/validations/data-syntax.js
  src/application/waste-records/sync-from-summary-log.js
  src/application/waste-records/sync-from-summary-log.test.js
  src/application/waste-records/transform-from-summary-log.js
  src/application/waste-records/transform-from-summary-log.test.js
  src/common/helpers/spreadsheet/columns.js
Due: npm run format, npm run lint:fix

PAE-460: Introduces row-level validation and summary records
  docs/architecture/decisions/0020-summary-log-validation-output-formats.md
  src/application/summary-logs/validate.js
  src/application/summary-logs/validate.test.js
  src/application/summary-logs/validations/data-syntax.js
  src/application/summary-logs/validations/table-schemas.js
  src/application/summary-logs/validations/table-schemas.schema.js
  src/common/validation/validation-issues.js
  src/common/validation/validation-issues.test.js
Due: npm run format, npm run lint:fix, npm run adr:generate:toc

PAE-460: Resolving SONAR issues
  src/application/summary-logs/validate.js
  src/application/summary-logs/validations/data-syntax.js
  src/common/validation/validation-issues.js
Due: npm run format, npm run lint:fix

PAE-260: Fix type errors
  src/forms-submission-data/migrate-forms-data.js
  src/forms-submission-data/migrate-forms-data.test.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/port.js
  src/server/run-forms-data-migration.js
  src/server/run-forms-data-migration.test.js
Due: npm run format, npm run lint:fix

PAE-260: add type for MigrationStatistics
  src/forms-submission-data/migrate-forms-data.js
Due: npm run format, npm run lint:fix

PAE-460 Introduce row-level Summary Log validation (#308)
  docs/architecture/decisions/0020-summary-log-validation-output-formats.md
  src/application/summary-logs/validate.js
  src/application/summary-logs/validate.test.js
  src/application/summary-logs/validations/data-syntax.js
  src/application/summary-logs/validations/table-schemas.js
  src/application/summary-logs/validations/table-schemas.schema.js
  src/common/validation/validation-issues.js
  src/common/validation/validation-issues.test.js
Due: npm run format, npm run lint:fix, npm run adr:generate:toc

PAE-260: Fix type errors (#309)
  src/forms-submission-data/migrate-forms-data.js
  src/forms-submission-data/migrate-forms-data.test.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/port.js
  src/server/run-forms-data-migration.js
  src/server/run-forms-data-migration.test.js
Due: npm run format, npm run lint:fix

PAE-496: Upgrade mongo library version
  package-lock.json
  package.json
Due: npm run format

PAE-496: Upgrade mongo library version (#310)
  package-lock.json
  package.json
Due: npm run format

Remove validate endpoint from backend
  src/routes/v1/organisations/registrations/summary-logs/index.js
  src/routes/v1/organisations/registrations/summary-logs/validate/post.js
  src/routes/v1/organisations/registrations/summary-logs/validate/post.test.js
Due: npm run format, npm run lint:fix

PAE-461: Remove validate endpoint from backend (#311)
  src/routes/v1/organisations/registrations/summary-logs/index.js
  src/routes/v1/organisations/registrations/summary-logs/validate/post.js
  src/routes/v1/organisations/registrations/summary-logs/validate/post.test.js
Due: npm run format, npm run lint:fix

WIP Improved auth testing
  src/routes/v1/organisations/get-by-id.test.js
  src/test/helpers/create-test-tokens.js
Due: npm run format, npm run lint:fix

WIP Improved auth testing coverage
  src/routes/v1/organisations/get-by-id.test.js
  src/test/helpers/create-test-tokens.js
Due: npm run format, npm run lint:fix

WIP Fix test service-maintainer email
  src/test/helpers/create-test-tokens.js
Due: npm run format, npm run lint:fix

WIP Ensure all organisations tests consider auth
  src/routes/v1/organisations/get-by-id.test.js
  src/routes/v1/organisations/get.test.js
  src/routes/v1/organisations/put-by-id.test.js
  src/test/helpers/create-test-tokens.js
  src/test/helpers/mock-credentials.js
Due: npm run format, npm run lint:fix

docs: add S3 URI standardization design
  docs/plans/2025-11-10-s3-uri-standardization-design.md
Due: npm run format

Standardize S3 file references to use URI strings
  src/adapters/repositories/uploads/inmemory.js
  src/adapters/repositories/uploads/inmemory.test.js
  src/adapters/repositories/uploads/port.contract.js
  src/adapters/repositories/uploads/s3.js
  src/adapters/repositories/uploads/s3.test.js
  src/application/summary-logs/extractor.js
  src/application/summary-logs/extractor.test.js
  src/application/waste-records/sync-from-summary-log.js
  src/application/waste-records/sync-from-summary-log.test.js
  src/domain/summary-logs/model.js
  src/repositories/summary-logs/contract/insert.contract.js
  src/repositories/summary-logs/contract/test-data.js
  src/repositories/summary-logs/contract/update.contract.js
  src/repositories/summary-logs/inmemory.test.js
  src/repositories/summary-logs/schema.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.test.js
  src/workers/summary-logs/worker/integration.test.js
Due: npm run format, npm run lint:fix

Remove design document after implementation
  docs/plans/2025-11-10-s3-uri-standardization-design.md
Due: npm run format

Extract parseS3Uri function from findByLocation
  src/adapters/repositories/uploads/s3.js
Due: npm run format, npm run lint:fix

Move StoredSummaryLog type to domain model
  src/application/summary-logs/extractor.js
  src/domain/summary-logs/model.js
Due: npm run format, npm run lint:fix

Fix TypeScript types for extractor function
  src/application/summary-logs/extractor.js
Due: npm run format, npm run lint:fix

Rename CompletedSummaryLog to StoredSummaryLog
  src/application/summary-logs/extractor.js
Due: npm run format, npm run lint:fix

Remove unnecessary destructuring in findByLocation
  src/adapters/repositories/uploads/s3.js
Due: npm run format, npm run lint:fix

Extract S3 URI parsing to separate module with dedicated tests
  src/adapters/repositories/uploads/s3-uri.js
  src/adapters/repositories/uploads/s3-uri.test.js
  src/adapters/repositories/uploads/s3.js
  src/adapters/repositories/uploads/s3.test.js
Due: npm run format, npm run lint:fix

Move parseS3Uri outside try-catch block
  src/adapters/repositories/uploads/s3.js
Due: npm run format, npm run lint:fix

Fix SonarCloud error handling issue in parseS3Uri
  src/adapters/repositories/uploads/s3-uri.js
Due: npm run format, npm run lint:fix

PAE-461: Standardize S3 file references to URI strings (#313)
  src/adapters/repositories/uploads/inmemory.js
  src/adapters/repositories/uploads/inmemory.test.js
  src/adapters/repositories/uploads/port.contract.js
  src/adapters/repositories/uploads/s3-uri.js
  src/adapters/repositories/uploads/s3-uri.test.js
  src/adapters/repositories/uploads/s3.js
  src/adapters/repositories/uploads/s3.test.js
  src/application/summary-logs/extractor.js
  src/application/summary-logs/extractor.test.js
  src/application/waste-records/sync-from-summary-log.js
  src/application/waste-records/sync-from-summary-log.test.js
  src/domain/summary-logs/model.js
  src/repositories/summary-logs/contract/insert.contract.js
  src/repositories/summary-logs/contract/test-data.js
  src/repositories/summary-logs/contract/update.contract.js
  src/repositories/summary-logs/inmemory.test.js
  src/repositories/summary-logs/schema.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.test.js
  src/workers/summary-logs/worker/integration.test.js
Due: npm run format, npm run lint:fix

PAE-260: Dont log PII data in errors
  src/repositories/organisations/contract/find.contract.js
  src/repositories/organisations/contract/insert.contract.js
  src/repositories/organisations/contract/update.contract.js
  src/repositories/organisations/contract/upsert.contract.js
  src/repositories/organisations/validation.js
  src/routes/v1/organisations/put-by-id.test.js
Due: npm run format, npm run lint:fix

PAE-260: Dont log PII data in errors (#314)
  src/repositories/organisations/contract/find.contract.js
  src/repositories/organisations/contract/insert.contract.js
  src/repositories/organisations/contract/update.contract.js
  src/repositories/organisations/contract/upsert.contract.js
  src/repositories/organisations/validation.js
  src/routes/v1/organisations/put-by-id.test.js
Due: npm run format, npm run lint:fix

docs: refactor ADR 21 for focused repository port
  docs/architecture/decisions/0021-concurrent-summary-log-submission.md
Due: npm run format, npm run adr:generate:toc

docs: clarify batch size as example in ADR 21
  docs/architecture/decisions/0021-concurrent-summary-log-submission.md
Due: npm run format, npm run adr:generate:toc

docs: add ADR for concurrent summary log submission
  docs/architecture/decisions/0021-concurrent-summary-log-submission.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

docs: fix collection name in ADR 21 examples
  docs/architecture/decisions/0021-concurrent-summary-log-submission.md
Due: npm run format, npm run adr:generate:toc

docs: extract shared transformation logic in ADR 21
  docs/architecture/decisions/0021-concurrent-summary-log-submission.md
Due: npm run format, npm run adr:generate:toc

docs: update ADR 21 with last-upload-wins org/reg constraint
  docs/architecture/decisions/0021-concurrent-summary-log-submission.md
Due: npm run format, npm run adr:generate:toc

Path conditions:
  npm run format: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
