Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"]
}

PAE-1439: Address code-review feedback on compensation logging and typing
  src/common/enums/event.js
  src/packaging-recycling-notes/application/update-status-compensation.test.js
  src/packaging-recycling-notes/application/update-status.js
Due: npm run format, npm run lint:fix

PAE-1439: Log successful waste-balance updates for operational debugging
  src/common/enums/event.js
  src/packaging-recycling-notes/application/update-status-compensation.test.js
  src/packaging-recycling-notes/application/update-status.js
Due: npm run format, npm run lint:fix

PAE-1439: Compensate post-CAS partial failures in PRN status transitions (#1166)
  src/common/enums/event.js
  src/packaging-recycling-notes/application/update-status-compensation.test.js
  src/packaging-recycling-notes/application/update-status-concurrency.test.js
  src/packaging-recycling-notes/application/update-status.js
  src/packaging-recycling-notes/application/update-status.test.js
  src/packaging-recycling-notes/repository/contract/rollback.contract.js
  src/packaging-recycling-notes/repository/inmemory.plugin.js
  src/packaging-recycling-notes/repository/mongodb.js
  src/packaging-recycling-notes/repository/port.contract.js
  src/packaging-recycling-notes/repository/port.js
  src/packaging-recycling-notes/routes/external-transition-handler.js
  src/packaging-recycling-notes/routes/status.js
  src/routes/v1/organisations/registrations/summary-logs/integration.waste-balance-arithmetic.test.js
Due: npm run format, npm run lint:fix

PAE-1339: scaffold lint:types:tests + advisory ci job
  .github/workflows/check-pull-request.yml
  jsconfig.typecheck.tests.json
  package.json
Due: npm run format

PAE-1339: render top ts error codes as table with descriptions
  .github/workflows/check-pull-request.yml
Due: none

PAE-1339: link ts codes to typescript.tv and use canonical templates
  .github/workflows/check-pull-request.yml
Due: none

Fix protobufjs ReDoS and DoS vulnerabilities
  package-lock.json
Due: npm run format

PAE-1138 Remove logging added to debug long-running requests
  src/common/helpers/logging/logger-options.js
Due: npm run format, npm run lint:fix

PAE-1183 remove redundant test
  src/common/helpers/request-tracing.integration.test.js
Due: npm run format, npm run lint:fix

PAE-1138 Remove logging added to debug long-running requests (#1172)
  src/common/helpers/logging/logger-options.js
  src/common/helpers/request-tracing.integration.test.js
Due: npm run format, npm run lint:fix

Pin protobufjs override for reproducibility
  package.json
Due: npm run format

PAE-250: Fix protobufjs vulnerabilities (#1171)
  package-lock.json
  package.json
Due: npm run format

PAE-1382 Log status and counts on divergence line
  src/server/run-balance-divergence-diagnostic.js
  src/server/run-balance-divergence-diagnostic.test.js
Due: npm run format, npm run lint:fix

PAE-1382 Log per-input contributions on divergence line
  src/server/run-balance-divergence-diagnostic.js
  src/server/run-balance-divergence-diagnostic.test.js
  src/waste-balances/application/compute-rebuilt-totals.js
  src/waste-balances/application/compute-rebuilt-totals.test.js
Due: npm run format, npm run lint:fix

Format compute-rebuilt-totals with prettier
  src/waste-balances/application/compute-rebuilt-totals.js
Due: npm run format, npm run lint:fix

PAE-1382: Log status, counts and contributions on divergence line (#1173)
  src/server/run-balance-divergence-diagnostic.js
  src/server/run-balance-divergence-diagnostic.test.js
  src/waste-balances/application/compute-rebuilt-totals.js
  src/waste-balances/application/compute-rebuilt-totals.test.js
Due: npm run format, npm run lint:fix

PAE-1339: port summary generation to node script with tests
  .github/workflows/check-pull-request.yml
  eslint.config.js
  scripts/lint-types-tests-summary.js
  scripts/lint-types-tests-summary.test.js
Due: npm run format

PAE-1382: Only match registrations in approved/cancelled/suspended state in divergence diagnostic
  src/server/run-balance-divergence-diagnostic.js
  src/server/run-balance-divergence-diagnostic.test.js
Due: npm run format, npm run lint:fix

PAE-1358: Fix ts errors
  src/domain/organisations/registration.js
  src/server/run-balance-divergence-diagnostic.js
Due: npm run format, npm run lint:fix

PAE-1382: Only match registrations in approved/cancelled/suspended state in divergence diagnostic (#1175)
  src/domain/organisations/registration.js
  src/server/run-balance-divergence-diagnostic.js
  src/server/run-balance-divergence-diagnostic.test.js
Due: npm run format, npm run lint:fix

PAE-1339: pin typescript devDep, mark package private, drop scripts lint override
  eslint.config.js
  package-lock.json
  package.json
Due: npm run format

PAE-456: Remove orsWasteBalanceValidation feature flag
  src/application/summary-logs/submit.js
  src/application/waste-records/sync-from-summary-log.js
  src/application/waste-records/sync-from-summary-log.test.js
  src/config.js
  src/domain/summary-logs/table-schemas/shared/classification-reason.js
  src/feature-flags/feature-flags.config.js
  src/feature-flags/feature-flags.config.test.js
  src/feature-flags/feature-flags.inmemory.js
  src/feature-flags/feature-flags.inmemory.test.js
  src/feature-flags/feature-flags.port.js
  src/routes/v1/organisations/registrations/summary-logs/integration.waste-balance-ors-validation.test.js
  src/server/queue-consumer/queue-consumer.plugin.js
  src/server/queue-consumer/queue-consumer.plugin.test.js
  src/server/queue-consumer/summary-log-commands.js
  src/server/run-balance-divergence-diagnostic.js
  src/server/run-balance-divergence-diagnostic.test.js
Due: npm run format, npm run lint:fix

PAE-456: Remove orsWasteBalanceValidation feature flag (#1174)
  src/application/summary-logs/submit.js
  src/application/waste-records/sync-from-summary-log.js
  src/application/waste-records/sync-from-summary-log.test.js
  src/config.js
  src/domain/summary-logs/table-schemas/shared/classification-reason.js
  src/feature-flags/feature-flags.config.js
  src/feature-flags/feature-flags.config.test.js
  src/feature-flags/feature-flags.inmemory.js
  src/feature-flags/feature-flags.inmemory.test.js
  src/feature-flags/feature-flags.port.js
  src/routes/v1/organisations/registrations/summary-logs/integration.waste-balance-ors-validation.test.js
  src/server/queue-consumer/queue-consumer.plugin.js
  src/server/queue-consumer/queue-consumer.plugin.test.js
  src/server/queue-consumer/summary-log-commands.js
  src/server/run-balance-divergence-diagnostic.js
  src/server/run-balance-divergence-diagnostic.test.js
Due: npm run format, npm run lint:fix

PAE-1339: post pr-scope summary as a sticky pr comment
  .github/workflows/check-pull-request.yml
  scripts/lint-types-tests-summary.js
  scripts/lint-types-tests-summary.test.js
Due: npm run format

PAE-1339: demo - touch test files to exercise pr-comment workflow
  src/adapters/repositories/uploads/s3-uri.test.js
  src/common/helpers/date-formatter.test.js
  src/common/helpers/get-local-secret.test.js
Due: npm run format, npm run lint:fix

PAE-1339: omit clean files from pr comment, use base ref tip not stale base sha
  .github/workflows/check-pull-request.yml
  scripts/lint-types-tests-summary.js
  scripts/lint-types-tests-summary.test.js
Due: npm run format

PAE-1339: demo - touch status.test.js (3 errors) to verify multi-error rendering
  src/domain/summary-logs/status.test.js
Due: npm run format, npm run lint:fix

PAE-1470: Log document-growth metrics on every embedded waste-balance write
  src/waste-balances/application/growth-observability.js
  src/waste-balances/application/growth-observability.test.js
  src/waste-balances/repository/mongodb.js
  src/waste-balances/repository/mongodb.test.js
Due: npm run format, npm run lint:fix

PAE-1470: Clarify in JSDoc that bsonSize is an approximation
  src/waste-balances/application/growth-observability.js
Due: npm run format, npm run lint:fix

PAE-1339: build by-file map during parse, use stream/consumers for stdin
  scripts/lint-types-tests-summary.js
Due: npm run format

PAE-1430: drop redundant email-claim fallback in Entra token handling
  src/common/helpers/auth/get-jwt-strategy-config.js
  src/common/helpers/auth/get-jwt-strategy-config.test.js
Due: npm run format, npm run lint:fix

PAE-1470: Drop canonicalSource from growth log
  src/waste-balances/application/growth-observability.js
  src/waste-balances/application/growth-observability.test.js
  src/waste-balances/repository/mongodb.test.js
Due: npm run format, npm run lint:fix

Add organisationId to waste balance growth log
  src/waste-balances/application/growth-observability.js
  src/waste-balances/application/growth-observability.test.js
  src/waste-balances/repository/mongodb.test.js
Due: npm run format, npm run lint:fix

PAE-1470: Log document-growth metrics on every embedded waste-balance write (#1177)
  src/waste-balances/application/growth-observability.js
  src/waste-balances/application/growth-observability.test.js
  src/waste-balances/repository/mongodb.js
  src/waste-balances/repository/mongodb.test.js
Due: npm run format, npm run lint:fix

Log top 10 waste balance sizes at startup
  src/server/run-balance-size-diagnostic.integration.test.js
  src/server/run-balance-size-diagnostic.js
  src/server/run-balance-size-diagnostic.test.js
  src/server/server.js
  src/waste-balances/application/growth-observability.js
Due: npm run format, npm run lint:fix

PAE-1470: Log top 10 waste balance document sizes at startup (#1178)
  src/server/run-balance-size-diagnostic.integration.test.js
  src/server/run-balance-size-diagnostic.js
  src/server/run-balance-size-diagnostic.test.js
  src/server/server.js
  src/waste-balances/application/growth-observability.js
Due: npm run format, npm run lint:fix

PAE-1339: widen lint-staged globs to scripts/, format scripts files
  .lintstagedrc.mjs
  scripts/lint-types-tests-summary.js
  scripts/lint-types-tests-summary.test.js
Due: npm run format

PAE-1339: pin sticky-pull-request-comment to v3.0.4 sha
  .github/workflows/check-pull-request.yml
Due: none

PAE-1339: drop demo TODO comments now that pr-comment behaviour is verified
  src/adapters/repositories/uploads/s3-uri.test.js
  src/common/helpers/date-formatter.test.js
  src/common/helpers/get-local-secret.test.js
  src/domain/summary-logs/status.test.js
Due: npm run format, npm run lint:fix

PAE-1339: typecheck tests (advisory) (#1170)
  .github/workflows/check-pull-request.yml
  .lintstagedrc.mjs
  jsconfig.typecheck.tests.json
  package-lock.json
  package.json
  scripts/lint-types-tests-summary.js
  scripts/lint-types-tests-summary.test.js
Due: npm run format
