Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"],
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

PAE-150: extend timeout for routes/notify integration test, replace console with logger
  src/routes/notify.js
  src/routes/notify.test.js
Due: npm run format, npm run lint:fix

PAE-150: remove server.stop timeout and replace process.env mutation with vi.stubEnv
  src/common/helpers/notify.test.js
  src/routes/notify.test.js
Due: npm run format, npm run lint:fix

PAE-150: remove force close on mongo client
  src/common/helpers/mongodb.js
  src/common/helpers/mongodb.test.js
Due: npm run format, npm run lint:fix

PAE-150: add further commits from template lib to fix test and GHA issues
  .github/workflows/check-pull-request.yml
  .github/workflows/publish-hotfix.yml
  .github/workflows/publish.yml
  package-lock.json
  package.json
  src/common/helpers/mongodb.js
  src/common/helpers/secure-context/get-trust-store-certs.js
  src/common/helpers/secure-context/get-trust-store-certs.test.js
  src/common/helpers/secure-context/index.js
  src/common/helpers/secure-context/secure-context.js
  src/common/helpers/secure-context/secure-context.test.js
  src/common/helpers/start-server.test.js
  src/config.js
  src/server.js
Due: npm run format, npm run lint:fix

PAE-150: migrate to vitest
  .gitignore
  .jest/setup-files-after-env.js
  .jest/setup-files.js
  .vite/mongo-memory-server.js
  .vite/setup-files.js
  eslint.config.js
  jest-mongodb-config.js
  jest.config.js
  package-lock.json
  package.json
  src/common/helpers/get-local-scret.test.js
  src/common/helpers/logging/logger-options.js
  src/common/helpers/metrics.test.js
  src/common/helpers/mongo-lock.test.js
  src/common/helpers/mongodb.js
  src/common/helpers/mongodb.test.js
  src/common/helpers/notify.test.js
  src/common/helpers/secure-context/secure-context.test.js
  src/common/helpers/start-server.test.js
  src/config.js
  src/routes/health.js
  src/routes/notify.test.js
  src/server.js
  vitest.config.js
Due: npm run format, npm run lint:fix

PAE-146: update Registration & Accreditation HLD diagram
  docs/architecture/discovery/2025-reg-acc-hld.md
Due: npm run format

fix dependabot conditional on pr workflow jobs
  .github/workflows/check-pull-request.yml
Due: none

add logging and no-isolate
  .github/workflows/check-pull-request.yml
  src/common/helpers/mongodb.js
  src/routes/notify.test.js
Due: npm run format, npm run lint:fix

remove no-isolate
  .github/workflows/check-pull-request.yml
Due: none

explicitly set pool option to 'forks'
  vitest.config.js
Due: npm run format

change pool setting to 'threads'
  vitest.config.js
Due: npm run format

fix get-locasl-secret
  src/common/helpers/get-local-secret.test.js
Due: npm run format, npm run lint:fix

comment out second createIndex
  src/common/helpers/mongodb.js
Due: npm run format, npm run lint:fix

reintroduce indexes but remove timeout: 0 from mongodb.test
  src/common/helpers/mongodb.js
  src/common/helpers/mongodb.test.js
  src/common/helpers/start-server.test.js
  src/routes/notify.test.js
Due: npm run format, npm run lint:fix

remove threads
  vitest.config.js
Due: npm run format

re-introduce timeout: 0
  src/common/helpers/mongodb.test.js
  src/routes/notify.test.js
Due: npm run format, npm run lint:fix

remove timeout: 0
  src/common/helpers/mongodb.test.js
  src/routes/notify.test.js
Due: npm run format, npm run lint:fix

re-introduce dependabot ignore for SonarScan
  .github/workflows/check-pull-request.yml
Due: none

fix flaky test issue with server.close, remore process.env mutation, re-introduce SonarScan condition for dependabot
  .github/workflows/check-pull-request.yml
  src/common/helpers/get-local-secret.test.js
  src/common/helpers/mongodb.test.js
  src/common/helpers/start-server.test.js
Due: npm run format, npm run lint:fix

fix flaky test issue with server.close, remore process.env mutation, re-introduce SonarScan condition for dependabot
  .github/workflows/check-pull-request.yml
  src/common/helpers/get-local-secret.test.js
  src/common/helpers/mongodb.test.js
  src/common/helpers/start-server.test.js
  src/routes/notify.test.js
Due: npm run format, npm run lint:fix

PAE-158: document technical scope
  CONTRIBUTING.md
  docs/architecture/decisions/0002-registration-accreditation-form-database-schema.md
  docs/architecture/discovery/2025-reg-acc-lld.md
Due: npm run format, npm run adr:generate:toc

PAE-158: update LLD based on feedback
  docs/architecture/discovery/2025-reg-acc-lld.md
Due: npm run format

PAE-158: add ToC, fix linebreak issue visible in GitHub markdown
  docs/architecture/discovery/2025-reg-acc-lld.md
Due: npm run format

sorting branch conflicts2
  CONTRIBUTING.md
Due: npm run format

PAE-117 - Document gov notify integration process
  CONTRIBUTING.md
Due: npm run format

heading fixes
  CONTRIBUTING.md
Due: npm run format

PAE-126: test structured logging
  src/common/helpers/mongodb.js
  src/common/helpers/start-server.test.js
Due: npm run format, npm run lint:fix

updating typos and better instruction descriptions
  CONTRIBUTING.md
Due: npm run format

using correct ADR implementation
  CONTRIBUTING.md
  docs/architecture/decisions/0003-gov-uk-notify.md
Due: npm run format, npm run adr:generate:toc

TOC update
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

Updating ADR document
  docs/architecture/decisions/0003-gov-uk-notify.md
Due: npm run format, npm run adr:generate:toc

more adr contributing rearrangements
  CONTRIBUTING.md
  docs/architecture/decisions/0003-gov-uk-notify.md
Due: npm run format, npm run adr:generate:toc
