Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"],
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

Extract generic table transformation logic into transformTable function
  src/application/waste-records/transform-from-summary-log.js
Due: npm run format, npm run lint:fix

Implement dispatch map for processing type → table → transformer
  src/application/waste-records/transform-from-summary-log.js
  src/application/waste-records/transform-from-summary-log.test.js
Due: npm run format, npm run lint:fix

PAE-461: Load all existing waste records upfront instead of per-row queries
  src/application/waste-records/sync-from-summary-log.js
  src/application/waste-records/sync-from-summary-log.test.js
  src/application/waste-records/transform-from-summary-log.js
  src/application/waste-records/transform-from-summary-log.test.js
Due: npm run format, npm run lint:fix

PAE-461: Remove unnecessary async from transformation functions
  src/application/waste-records/row-transformers/received-loads-reprocessing.js
  src/application/waste-records/row-transformers/received-loads-reprocessing.test.js
  src/application/waste-records/sync-from-summary-log.js
  src/application/waste-records/transform-from-summary-log.js
  src/application/waste-records/transform-from-summary-log.test.js
Due: npm run format, npm run lint:fix

WIP Fix typo in jwks property
  src/plugins/auth/get-jwt-scheme-config.js
Due: npm run format, npm run lint:fix

WIP Configure env var for Admin UI as audience
  src/config.js
  src/plugins/auth/get-jwt-scheme-config.js
Due: npm run format, npm run lint:fix

WIP Move files around
  src/common/helpers/auth/get-defra-user-roles.js
  src/common/helpers/auth/get-entra-user-roles.js
  src/common/helpers/auth/get-jwt-scheme-config.js
  src/common/helpers/auth/get-oidc-configs.js
  src/common/helpers/fetch-json.js
  src/plugins/auth/auth-plugin.js
  src/plugins/auth/either-token-auth-scheme.js
  src/plugins/auth/extract-and-decode-token-from-header.js
  src/plugins/auth/get-auth-configuration.js
Due: npm run format, npm run lint:fix

WIP Renamed method and file
  src/common/helpers/auth/get-jwt-strategy-config.js
  src/plugins/auth/auth-plugin.js
Due: npm run format, npm run lint:fix

WIP Scaffolded concept of roles
  src/common/helpers/auth/constants.js
  src/routes/v1/organisations/get-by-id.js
  src/routes/v1/organisations/get.js
  src/routes/v1/organisations/put-by-id.js
Due: npm run format, npm run lint:fix

PAE-260 transform organisation form submission data (#231)
  src/data/fixtures/ea/README.md
  src/data/fixtures/ea/organisation/non-uk-separate-control.json
  src/data/fixtures/ea/organisation/sole-trader-separate-contro.json
  src/data/fixtures/ea/organisation/unincorporated-separate-control.json
  src/domain/organisations.js
  src/forms-submission-data/form-data-mapper.js
  src/forms-submission-data/form-data-mapper.test.js
  src/forms-submission-data/form-field-constants.js
  src/forms-submission-data/parse-address.js
  src/forms-submission-data/parse-address.test.js
  src/forms-submission-data/parse-forms-data.js
  src/forms-submission-data/parse-forms-data.test.js
  src/forms-submission-data/transform-organisation-data.js
  src/forms-submission-data/transform-organisation-data.test.js
  src/repositories/organisations/contract/insert.contract.js
  src/repositories/organisations/schema.js
Due: npm run format, npm run lint:fix

PAE-461: Remove id from waste record domain model
  src/application/waste-records/sync-from-summary-log.test.js
  src/application/waste-records/transform-from-summary-log.js
  src/application/waste-records/transform-from-summary-log.test.js
  src/domain/waste-records/model.js
Due: npm run format, npm run lint:fix

PAE-376 Add msw
  .vite/setup-msw.js
  package-lock.json
  package.json
  vitest.config.js
Due: npm run format

WIP Bypass mongodb download in unit tests
  .vite/setup-msw.js
Due: npm run format

LDM updates
  docs/architecture/discovery/forms-data-logical-data-model.md
  src/repositories/organisations/schema.js
Due: npm run format, npm run lint:fix

Update docs/spreadsheet-template-marker-guide.md
  docs/spreadsheet-template-marker-guide.md
Due: npm run format

Add spreadsheet template marker guide for maintainers
  docs/spreadsheet-template-marker-guide.md
Due: npm run format

Reorganise documentation structure
  docs/guides/index.md
  docs/guides/spreadsheet-template-marker-guide.md
  docs/index.md
Due: npm run format

PAE-260 LDM updates for new fields to be supplied by regulators (#282)
  docs/architecture/discovery/forms-data-logical-data-model.md
  src/repositories/organisations/schema.js
Due: npm run format, npm run lint:fix

PAE-442: Add spreadsheet template marker guide (#279)
  docs/guides/index.md
  docs/guides/spreadsheet-template-marker-guide.md
  docs/index.md
Due: npm run format

Add in-memory waste records repository with TDD
  src/application/waste-records/sync-from-summary-log.test.js
  src/repositories/waste-records/contract/data-isolation.contract.js
  src/repositories/waste-records/contract/findAll.contract.js
  src/repositories/waste-records/contract/saveAll.contract.js
  src/repositories/waste-records/contract/test-data.js
  src/repositories/waste-records/inmemory.js
  src/repositories/waste-records/inmemory.test.js
  src/repositories/waste-records/port.contract.js
  src/repositories/waste-records/port.js
Due: npm run format, npm run lint:fix

Add Joi validation to waste records repository
  src/repositories/waste-records/contract/saveAll.contract.js
  src/repositories/waste-records/contract/test-data.js
  src/repositories/waste-records/contract/test-data.test.js
  src/repositories/waste-records/inmemory.js
  src/repositories/waste-records/schema.js
  src/repositories/waste-records/validation.js
  src/repositories/waste-records/validation.test.js
Due: npm run format, npm run lint:fix

Make buildWasteRecord auto-generate rowId for test convenience
  src/repositories/waste-records/contract/test-data.js
  src/repositories/waste-records/contract/test-data.test.js
Due: npm run format, npm run lint:fix

Extract magic numbers to named constants in test
  src/application/waste-records/row-transformers/received-loads-reprocessing.test.js
Due: npm run format, npm run lint:fix

Extract magic numbers and duplicate literals in sync test
  src/application/waste-records/sync-from-summary-log.test.js
Due: npm run format, npm run lint:fix

Replace TODO comment with clearer explanation
  src/application/waste-records/transform-from-summary-log.js
Due: npm run format, npm run lint:fix

Fix TypeScript types in test-data builder
  src/repositories/waste-records/contract/test-data.js
Due: npm run format, npm run lint:fix

Remove design and planning documentation
  docs/plans/2025-11-05-type-specific-transformation-implementation.md
  docs/plans/2025-11-05-type-specific-waste-record-transformation-design.md
Due: npm run format

WIP Adjust mongodb key to match dependency version
  .github/workflows/check-pull-request.yml
Due: none

Rename waste records repository methods for clarity
  src/application/waste-records/sync-from-summary-log.js
  src/application/waste-records/sync-from-summary-log.test.js
  src/repositories/waste-records/contract/data-isolation.contract.js
  src/repositories/waste-records/contract/findByRegistration.contract.js
  src/repositories/waste-records/contract/upsertWasteRecords.contract.js
  src/repositories/waste-records/inmemory.js
  src/repositories/waste-records/port.contract.js
  src/repositories/waste-records/port.js
Due: npm run format, npm run lint:fix

WIP Pin mongo version used for tests
  src/common/helpers/plugins/mongo-db-plugin.integration.test.js
Due: npm run format, npm run lint:fix

WIP Proper mongo download handler in MSW setup
  .vite/setup-msw.js
Due: npm run format

WIP Undo unnecessary changes
  .github/workflows/check-pull-request.yml
  src/common/helpers/plugins/mongo-db-plugin.integration.test.js
Due: npm run format, npm run lint:fix

WIP Exclude s3.test from msw interception to avoid warnings
  src/adapters/repositories/uploads/s3.test.js
Due: npm run format, npm run lint:fix

WIP Suppress unhandled requests from msw in s3.test
  src/adapters/repositories/uploads/s3.test.js
Due: npm run format, npm run lint:fix

WIP Yest another ignore in vitest config
  vitest.config.js
Due: npm run format

WIP Add msw dependency
  package-lock.json
  package.json
Due: npm run format

WIP Reduce scope to Entra Id
  src/common/helpers/auth/constants.js
  src/common/helpers/auth/get-defra-user-roles.js
  src/common/helpers/auth/get-jwt-strategy-config.js
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/routes/v1/organisations/registrations/summary-logs/validate/post.js
Due: npm run format, npm run lint:fix
