Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

Ignore - testing PR only
  README.md
Due: npm run format

PAE-228: add ADR for Admin UI
  docs/architecture/decisions/0005-data-processing-pipeline-vs-admin-ui.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

format
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

rename ADR to make scope clearer
  docs/architecture/decisions/0005-data-updates-processing-pipeline-vs-admin-ui.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

rename Super User to Service Maintainer
  docs/architecture/decisions/0005-data-updates-processing-pipeline-vs-admin-ui.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PAE-204: update pEPR High Level Design
  docs/architecture/defined/2025-reg-acc-lld.md
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

add fix to prettier formatting issues, add LLD to index
  docs/architecture/discovery/index.md
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

PAE-228: Data updates: processing pipeline vs Admin UI (#109)
  docs/architecture/decisions/0005-data-updates-processing-pipeline-vs-admin-ui.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PAE-217: Scaffolded ADR for epr-portal
  docs/architecture/decisions/0005-admin-ui-adr.md
Due: npm run format, npm run adr:generate:toc

PAE-217: Refined Admin UI ADR
  docs/architecture/decisions/0005-admin-ui-adr.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PAE-217: Added more detail to Admin UI ADR
  docs/architecture/decisions/0005-admin-ui-adr.md
Due: npm run format, npm run adr:generate:toc

PAE-217 improve spelling and grammar
  docs/architecture/decisions/0005-admin-ui-adr.md
Due: npm run format, npm run adr:generate:toc

PAE-217: Refined Admin UI ADR
  docs/architecture/decisions/0005-admin-ui-adr.md
Due: npm run format, npm run adr:generate:toc

PAE-217: Some rewording
  docs/architecture/decisions/0005-admin-ui-adr.md
Due: npm run format, npm run adr:generate:toc

PAE-217: A few small tweaks
  docs/architecture/decisions/0005-admin-ui-adr.md
Due: npm run format, npm run adr:generate:toc

PAE-217: Not accepted (yet)
  docs/architecture/decisions/0005-admin-ui-adr.md
Due: npm run format, npm run adr:generate:toc

PAE-217: Refined Admin UI ADR based on new knowledge
  docs/architecture/decisions/0005-admin-ui-adr.md
Due: npm run format, npm run adr:generate:toc

PAE-217: Accepted feedback from PR review
  docs/architecture/decisions/0005-admin-ui-adr.md
Due: npm run format, npm run adr:generate:toc

PAE-217: diagram adjsutment to better match CDP's real architecture
  docs/architecture/decisions/0005-admin-ui-adr.md
Due: npm run format, npm run adr:generate:toc

PAE-217: Renamed ADR
  docs/architecture/decisions/0006-admin-ui-adr.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

fix formatting of decisions/index.md
  .prettierignore
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

switch order of admin ui and data updates ADRs
  docs/architecture/decisions/0005-admin-ui-adr.md
  docs/architecture/decisions/0006-data-updates-processing-pipeline-vs-admin-ui.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

update architecture diagram to be more consistent with Admin UI ADR
  docs/architecture/discovery/pepr-hld.md
Due: npm run format

PAE-215: Organaization schema changes and few parsing examples
  src/common/enums/form-fields.js
  src/common/helpers/apply/extract-answers.js
  src/common/helpers/apply/extract-answers.test.js
  src/common/helpers/collections/create-update-accreditation.js
  src/common/helpers/collections/create-update-organisation.js
  src/common/helpers/collections/create-update-registration.js
  src/common/helpers/collections/schema-properties.js
Due: npm run format, npm run lint:fix

PAE-215: Logical data model
  docs/architecture/discovery/forms-data-logical-data-model.md
  docs/architecture/discovery/index.md
Due: npm run format

PAE-217 Fix architecture diagrams inconsistency
  docs/architecture/decisions/0006-data-updates-processing-pipeline-vs-admin-ui.md
Due: npm run format, npm run adr:generate:toc

PAE-217: ADR for Admin UI (#106)
  .prettierignore
  docs/architecture/decisions/0005-admin-ui-adr.md
  docs/architecture/decisions/0006-data-updates-processing-pipeline-vs-admin-ui.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PAE-226:Update axios dependency
  package-lock.json
Due: npm run format

PAE-226: add ignore scripst to npm ci
  .github/workflows/check-pull-request.yml
  .github/workflows/publish-hotfix.yml
  .github/workflows/publish.yml
  Dockerfile
Due: none

PAE-226: upgrade pino from dependabot suggestion
  package-lock.json
  package.json
Due: npm run format

PAE-226: Update axios dependency (#113)
  .github/workflows/check-pull-request.yml
  .github/workflows/publish-hotfix.yml
  .github/workflows/publish.yml
  Dockerfile
  package-lock.json
  package.json
Due: npm run format

PAE-226: Ignore scripts on npm install
  Dockerfile
Due: none

PAE-226: Ignore scripts on npm install (#115)
  Dockerfile
Due: none

PAE-254: update dependabot settings to increase updates to nightly schedule
  .github/dependabot.yml
Due: none

PAE-254: update dependabot settings to increase updates to nightly schedule (#116)
  .github/dependabot.yml
Due: none

fix typo
  docs/architecture/discovery/pepr-hld.md
Due: npm run format

PAE-204: update pEPR High Level Design (#82)
  docs/architecture/defined/2025-reg-acc-lld.md
  docs/architecture/discovery/index.md
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Path conditions:
  npm run format: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
