Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"],
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

PAE-383: Remove tests for infrastructure code, rely on deployment smoke tests
  sonar-project.properties
  src/common/helpers/secure-context.js
  src/common/helpers/secure-context.test.js
  vitest.config.js
Due: npm run format, npm run lint:fix

PAE-383: Use early return to satisfy SonarCloud
  src/common/helpers/secure-context.js
Due: npm run format, npm run lint:fix

PAE-383: Add explicit else clause for SonarCloud
  src/common/helpers/secure-context.js
Due: npm run format, npm run lint:fix

PAE-383: Replace else-if with nested else-if for SonarCloud
  src/common/helpers/secure-context.js
Due: npm run format, npm run lint:fix

PAE-383: Remove redundant else clause
  src/common/helpers/secure-context.js
Due: npm run format, npm run lint:fix

PAE-325: introduces client to fetch summary upload spreadsheet from s3
  .vite/setup-files.js
  compose.yml
  package-lock.json
  package.json
  src/common/helpers/s3/s3-client.js
  src/common/helpers/s3/s3-client.test.js
  src/config.js
  src/data/fixtures/uploads/reprocessor.xlsx
  src/domain/summary-log.js
  src/plugins/workers.js
  src/repositories/summary-logs/schema.js
  src/repositories/uploads/inmemory.js
  src/repositories/uploads/port.contract.test.js
  src/repositories/uploads/port.js
  src/repositories/uploads/s3.js
  src/repositories/uploads/s3.test.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/test/helpers/mock-config.js
  src/workers/summary-logs/inline.js
  src/workers/summary-logs/inline.test.js
  src/workers/summary-logs/piscina.js
  src/workers/summary-logs/piscina.test.js
  src/workers/summary-logs/worker/integration.test.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
  src/workers/summary-logs/worker/worker.js
  src/workers/summary-logs/worker/worker.test.js
Due: npm run format, npm run lint:fix

PAE-325: introduce in-memory s3 server for contract tests
  .vite/s3-memory-server-setup.js
  .vite/s3-memory-server.js
  vitest.config.js
Due: npm run format

PAE-325: attempting to resolve sonar issues
  src/repositories/uploads/inmemory.js
  src/repositories/uploads/s3.js
  src/workers/summary-logs/worker/worker.js
Due: npm run format, npm run lint:fix

PAE-383: Fix MongoDB certificate validation in worker threads (#204)
  sonar-project.properties
  src/common/helpers/secure-context.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
  vitest.config.js
Due: npm run format, npm run lint:fix

Update file name
  docs/architecture/decisions/0016-admin-ui-authorisation-mvp.md
Due: npm run format, npm run adr:generate:toc

Document session-management in Admin UI
  docs/architecture/decisions/0016-admin-ui-authorisation-mvp.md
  docs/architecture/discovery/pepr-lld-auth-admin-ui.md
Due: npm run format, npm run adr:generate:toc

Amend ToC
  docs/architecture/discovery/pepr-lld-auth-admin-ui.md
Due: npm run format

Add lightweight checks for documentation-only PRs
  .github/workflows/check-pull-request.yml
Due: none

PAE-000: Add lightweight checks for documentation-only PRs (#209)
  .github/workflows/check-pull-request.yml
Due: none

PAE-300 Document auth approach in Admin UI (#162)
  docs/architecture/decisions/0016-admin-ui-authorisation-mvp.md
  docs/architecture/decisions/index.md
  docs/architecture/discovery/pepr-lld-auth-admin-ui.md
Due: npm run format, npm run adr:generate:toc

Merge main into PAE-325 to resolve TLS cert conflicts (#208)
  src/workers/summary-logs/worker/worker-thread.js
Due: npm run format, npm run lint:fix

PAE-325: Introduces client to fetch summary upload spreadsheet from s3 (#207)
  .vite/s3-memory-server-setup.js
  .vite/s3-memory-server.js
  .vite/setup-files.js
  compose.yml
  package-lock.json
  package.json
  src/common/helpers/s3/s3-client.js
  src/common/helpers/s3/s3-client.test.js
  src/config.js
  src/data/fixtures/uploads/reprocessor.xlsx
  src/domain/summary-log.js
  src/plugins/workers.js
  src/repositories/summary-logs/schema.js
  src/repositories/uploads/inmemory.js
  src/repositories/uploads/port.contract.test.js
  src/repositories/uploads/port.js
  src/repositories/uploads/s3.js
  src/repositories/uploads/s3.test.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/test/helpers/mock-config.js
  src/workers/summary-logs/inline.js
  src/workers/summary-logs/inline.test.js
  src/workers/summary-logs/piscina.js
  src/workers/summary-logs/piscina.test.js
  src/workers/summary-logs/worker/integration.test.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
  src/workers/summary-logs/worker/worker.js
  src/workers/summary-logs/worker/worker.test.js
  vitest.config.js
Due: npm run format, npm run lint:fix

PAE-326: introduces summary log parser and refactors ports and adpaters pattern
  package.json
  src/adapters/parsers/summary-logs/stub.js
  src/adapters/repositories/uploads/inmemory.js
  src/adapters/repositories/uploads/s3.js
  src/adapters/repositories/uploads/s3.test.js
  src/adapters/validators/summary-logs/inline.js
  src/adapters/validators/summary-logs/inline.test.js
  src/adapters/validators/summary-logs/piscina.js
  src/adapters/validators/summary-logs/piscina.test.js
  src/domain/summary-logs/parser/port.js
  src/domain/summary-logs/status.js
  src/domain/summary-logs/status.test.js
  src/domain/summary-logs/validator/port.js
  src/domain/uploads/repository/port.contract.test.js
  src/domain/uploads/repository/port.js
  src/plugins/workers.js
  src/repositories/summary-logs/schema.js
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.schema.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.test.js
  src/routes/v1/organisations/registrations/summary-logs/validate/post.js
  src/workers/summary-logs/worker/integration.test.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
  src/workers/summary-logs/worker/worker.js
  src/workers/summary-logs/worker/worker.test.js
  vitest.config.js
Due: npm run format, npm run lint:fix

PAE-326: address sonar issue
  src/workers/summary-logs/worker/worker.js
Due: npm run format, npm run lint:fix

PAE-326: introduces summary log parser scaffolding (#211)
  package.json
  src/adapters/parsers/summary-logs/stub.js
  src/adapters/repositories/uploads/inmemory.js
  src/adapters/repositories/uploads/s3.js
  src/adapters/repositories/uploads/s3.test.js
  src/adapters/validators/summary-logs/inline.js
  src/adapters/validators/summary-logs/inline.test.js
  src/adapters/validators/summary-logs/piscina.js
  src/adapters/validators/summary-logs/piscina.test.js
  src/domain/summary-logs/parser/port.js
  src/domain/summary-logs/status.js
  src/domain/summary-logs/status.test.js
  src/domain/summary-logs/validator/port.js
  src/domain/uploads/repository/port.contract.test.js
  src/domain/uploads/repository/port.js
  src/plugins/workers.js
  src/repositories/summary-logs/schema.js
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.schema.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.test.js
  src/routes/v1/organisations/registrations/summary-logs/validate/post.js
  src/workers/summary-logs/worker/integration.test.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
  src/workers/summary-logs/worker/worker.js
  src/workers/summary-logs/worker/worker.test.js
  vitest.config.js
Due: npm run format, npm run lint:fix

Apply linter improvements to merged files
  src/adapters/parsers/summary-logs/stub.js
  src/adapters/repositories/uploads/inmemory.js
  src/adapters/validators/summary-logs/piscina.test.js
Due: npm run format, npm run lint:fix

Align log message format with main branch
  src/adapters/validators/summary-logs/inline.js
  src/adapters/validators/summary-logs/inline.test.js
  src/adapters/validators/summary-logs/piscina.js
  src/adapters/validators/summary-logs/piscina.test.js
Due: npm run format, npm run lint:fix

Revert type fixes to address in separate work
  src/adapters/parsers/summary-logs/stub.js
  src/adapters/repositories/uploads/inmemory.js
Due: npm run format, npm run lint:fix

Fix Buffer handling and improve error injection pattern
  src/adapters/parsers/summary-logs/stub.js
  src/adapters/repositories/uploads/inmemory.js
  src/workers/summary-logs/worker/integration.test.js
Due: npm run format, npm run lint:fix

PAE-268: Dont run tests only when all changes are doc updates
  .github/workflows/check-pull-request.yml
Due: none

PAE-268: Dont run tests only when all changes are doc updates (#216)
  .github/workflows/check-pull-request.yml
Due: none

PAE-268: epr-organisations schema and repository implementation
  docs/architecture/decisions/0015-joi-for-epr-organisations.md
  docs/architecture/decisions/0015-mongoose-for-epr-organisations.md
  docs/architecture/decisions/index.md
  docs/architecture/discovery/forms-data-logical-data-model.md
  src/data/fixtures/common/epr-organisations/sample-organisation-1.json
  src/data/fixtures/common/epr-organisations/sample-organisation-2.json
  src/data/fixtures/common/epr-organisations/sample-organisation-3.json
  src/data/fixtures/common/epr-organisations/sample-organisation-4.json
  src/domain/organisations.js
  src/repositories/organisations/contract/find.contract.js
  src/repositories/organisations/contract/insert.contract.js
  src/repositories/organisations/contract/test-data.js
  src/repositories/organisations/contract/update.contract.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/inmemory.test.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/mongodb.test.js
  src/repositories/organisations/port.contract.js
  src/repositories/organisations/port.js
  src/repositories/organisations/schema.js
  src/repositories/organisations/validation.js
  src/repositories/organisations/validation.test.js
Due: npm run format, npm run lint:fix, npm run adr:generate:toc

PAE-268: Sonar fixes
  sonar-project.properties
  src/repositories/organisations/contract/find.contract.js
  src/repositories/organisations/contract/insert.contract.js
  src/repositories/organisations/contract/test-data.js
  src/repositories/organisations/contract/update.contract.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/mongodb.test.js
Due: npm run format, npm run lint:fix

PAE-326: Fix Buffer handling and improve error injection pattern (#217)
  src/adapters/parsers/summary-logs/stub.js
  src/adapters/repositories/uploads/inmemory.js
  src/workers/summary-logs/worker/integration.test.js
Due: npm run format, npm run lint:fix

Apply suggestion from @nijk
  docs/architecture/discovery/pepr-lld-auth-api.md
Due: npm run format

Apply suggestion from @nijk
  docs/architecture/discovery/pepr-lld-auth-admin-ui.md
Due: npm run format

PAE-219 document auth approach for API
  docs/architecture/discovery/pepr-lld-auth-admin-ui.md
  docs/architecture/discovery/pepr-lld-auth-api.md
Due: npm run format

Add details for initial cut of authorisation
  docs/architecture/discovery/pepr-lld-auth-api.md
Due: npm run format

Fix TOC
  docs/architecture/discovery/pepr-lld-auth-admin-ui.md
Due: npm run format

PAE-219 document auth approach for API (#210)
  docs/architecture/discovery/pepr-lld-auth-admin-ui.md
  docs/architecture/discovery/pepr-lld-auth-api.md
Due: npm run format

PAE-374: Separate identity from domain in summary log repository (#203)
  src/adapters/validators/summary-logs/inline.js
  src/adapters/validators/summary-logs/inline.test.js
  src/adapters/validators/summary-logs/piscina.js
  src/adapters/validators/summary-logs/piscina.test.js
  src/domain/summary-logs/validator/port.js
  src/repositories/summary-logs/contract/find.contract.js
  src/repositories/summary-logs/contract/insert.contract.js
  src/repositories/summary-logs/contract/optimistic-concurrency.contract.js
  src/repositories/summary-logs/contract/test-data.js
  src/repositories/summary-logs/contract/update.contract.js
  src/repositories/summary-logs/inmemory.js
  src/repositories/summary-logs/inmemory.test.js
  src/repositories/summary-logs/mongodb.js
  src/repositories/summary-logs/mongodb.test.js
  src/repositories/summary-logs/port.js
  src/repositories/summary-logs/schema.js
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.test.js
  src/routes/v1/organisations/registrations/summary-logs/validate/post.js
  src/workers/summary-logs/worker/integration.test.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker.js
  src/workers/summary-logs/worker/worker.test.js
Due: npm run format, npm run lint:fix
