Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"],
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

PAE-000: Fix null handling in upload-completed route
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
Due: npm run format, npm run lint:fix

PAE-000: Fix null handling in start-server
  src/start-server.js
Due: npm run format, npm run lint:fix

PAE-000: Fix strictNullChecks errors in utilities and adapters
  src/adapters/repositories/uploads/s3.js
  src/adapters/repositories/uploads/s3.test.js
  src/common/helpers/get-local-secret.js
  src/common/helpers/get-local-secret.test.js
  src/test/create-test-server.js
  src/workers/summary-logs/worker/worker.js
Due: npm run format, npm run lint:fix

PAE-000: Fix strictNullChecks in plugins and improve type definitions
  src/common/hapi-types.js
  src/plugins/repositories.js
Due: npm run format, npm run lint:fix

PAE-000: Fix MongoDB query filter type errors
  src/repositories/summary-logs/mongodb.js
Due: npm run format, npm run lint:fix

Added endpoint to retrieve a single organisation by orgId
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/inmemory.test.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/mongodb.test.js
  src/repositories/organisations/port.js
  src/routes/v1/organisations/get-by-id.js
  src/routes/v1/organisations/get-by-id.test.js
  src/routes/v1/organisations/get.js
  src/routes/v1/organisations/get.test.js
  src/routes/v1/organisations/index.js
Due: npm run format, npm run lint:fix

Code review changes
  src/repositories/organisations/mongodb.test.js
  src/routes/v1/organisations/get-by-id.js
Due: npm run format, npm run lint:fix

PAE-000: Remove unnecessary ext check in create-test-server
  src/test/create-test-server.js
Due: npm run format, npm run lint:fix

PAE-000: Fix error handling in startServer - throw instead of returning undefined
  src/start-server.js
  src/start-server.test.js
Due: npm run format, npm run lint:fix

Fix type safety issues in repositories and S3 adapter
  src/adapters/repositories/uploads/s3.js
  src/adapters/repositories/uploads/s3.test.js
  src/plugins/repositories.js
  src/start-server.test.js
Due: npm run format, npm run lint:fix

PAE-268: review comments
  docs/architecture/decisions/0015-joi-for-epr-organisations.md
  docs/architecture/discovery/forms-data-logical-data-model.md
  src/repositories/organisations/contract/update.contract.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/mongodb.test.js
  src/repositories/organisations/schema.js
Due: npm run format, npm run lint:fix, npm run adr:generate:toc

PAE-268: epr-organisations schema and repository implementation
  docs/architecture/decisions/0015-joi-for-epr-organisations.md
  docs/architecture/decisions/0015-mongoose-for-epr-organisations.md
  docs/architecture/decisions/index.md
  docs/architecture/discovery/forms-data-logical-data-model.md
  src/data/fixtures/common/epr-organisations/sample-organisation-1.json
  src/data/fixtures/common/epr-organisations/sample-organisation-2.json
  src/data/fixtures/common/epr-organisations/sample-organisation-3.json
  src/data/fixtures/common/epr-organisations/sample-organisation-4.json
  src/domain/organisations.js
  src/repositories/organisations/contract/find.contract.js
  src/repositories/organisations/contract/insert.contract.js
  src/repositories/organisations/contract/test-data.js
  src/repositories/organisations/contract/update.contract.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/inmemory.test.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/mongodb.test.js
  src/repositories/organisations/port.contract.js
  src/repositories/organisations/port.js
  src/repositories/organisations/schema.js
  src/repositories/organisations/validation.js
  src/repositories/organisations/validation.test.js
Due: npm run format, npm run lint:fix, npm run adr:generate:toc

PAE-268: Sonar fixes
  sonar-project.properties
  src/repositories/organisations/contract/find.contract.js
  src/repositories/organisations/contract/insert.contract.js
  src/repositories/organisations/contract/test-data.js
  src/repositories/organisations/contract/update.contract.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/mongodb.test.js
Due: npm run format, npm run lint:fix

PAE-268: epr-organisations schema and repository implementation (#215)
  docs/architecture/decisions/0015-joi-for-epr-organisations.md
  docs/architecture/decisions/0015-mongoose-for-epr-organisations.md
  docs/architecture/decisions/index.md
  docs/architecture/discovery/forms-data-logical-data-model.md
  sonar-project.properties
  src/data/fixtures/common/epr-organisations/sample-organisation-1.json
  src/data/fixtures/common/epr-organisations/sample-organisation-2.json
  src/data/fixtures/common/epr-organisations/sample-organisation-3.json
  src/data/fixtures/common/epr-organisations/sample-organisation-4.json
  src/domain/organisations.js
  src/repositories/organisations/contract/find.contract.js
  src/repositories/organisations/contract/insert.contract.js
  src/repositories/organisations/contract/test-data.js
  src/repositories/organisations/contract/update.contract.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/inmemory.test.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/mongodb.test.js
  src/repositories/organisations/port.contract.js
  src/repositories/organisations/port.js
  src/repositories/organisations/schema.js
  src/repositories/organisations/validation.js
  src/repositories/organisations/validation.test.js
Due: npm run format, npm run lint:fix, npm run adr:generate:toc

Fix type errors in organisations test data after merge
  src/repositories/organisations/contract/test-data.js
Due: npm run format, npm run lint:fix

Resolved conflicts Rewritten tests to use `id`
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/inmemory.test.js
  src/repositories/organisations/mongodb.test.js
  src/routes/v1/organisations/get-by-id.js
  src/routes/v1/organisations/get-by-id.test.js
Due: npm run format, npm run lint:fix

Fixed issue with mongodb invalid error being surfaced
  src/repositories/organisations/contract/find.contract.js
  src/repositories/organisations/mongodb.js
  src/routes/v1/organisations/get-by-id.test.js
Due: npm run format, npm run lint:fix

Updated typedef Updated unit test to use ObjectId
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/inmemory.test.js
Due: npm run format, npm run lint:fix

PAE-352: Added endpoint to retrieve a single organisation by id (#218)
  src/repositories/organisations/contract/find.contract.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/inmemory.test.js
  src/repositories/organisations/mongodb.js
  src/routes/v1/organisations/get-by-id.js
  src/routes/v1/organisations/get-by-id.test.js
  src/routes/v1/organisations/get.js
  src/routes/v1/organisations/get.test.js
  src/routes/v1/organisations/index.js
Due: npm run format, npm run lint:fix

Add ADR for marker-based spreadsheet extraction
  docs/architecture/decisions/0011-file-parsing.md
  docs/architecture/decisions/0017-decouple-spreadsheet-data-extraction-from-layout-using-markers.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

Fix outdated marker format reference
  docs/architecture/decisions/0017-decouple-spreadsheet-data-extraction-from-layout-using-markers.md
Due: npm run format, npm run adr:generate:toc

Clarify DATA marker placement beside table
  docs/architecture/decisions/0017-decouple-spreadsheet-data-extraction-from-layout-using-markers.md
Due: npm run format, npm run adr:generate:toc

Fix type errors after merging latest main
  src/repositories/organisations/contract/test-data.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/inmemory.test.js
Due: npm run format, npm run lint:fix

PAE-000: Improve type checking and fix type safety issues (#219)
  src/adapters/repositories/uploads/s3.js
  src/adapters/repositories/uploads/s3.test.js
  src/common/hapi-types.js
  src/common/helpers/get-local-secret.js
  src/common/helpers/get-local-secret.test.js
  src/plugins/repositories.js
  src/repositories/organisations/contract/test-data.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/inmemory.test.js
  src/repositories/summary-logs/mongodb.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/start-server.js
  src/start-server.test.js
  src/workers/summary-logs/worker/worker.js
Due: npm run format, npm run lint:fix

Add example spreadsheet layout table
  docs/architecture/decisions/0017-decouple-spreadsheet-data-extraction-from-layout-using-markers.md
Due: npm run format, npm run adr:generate:toc

Show tables can be arranged side-by-side
  docs/architecture/decisions/0017-decouple-spreadsheet-data-extraction-from-layout-using-markers.md
Due: npm run format, npm run adr:generate:toc

Change marker format to __EPR_ prefix
  docs/architecture/decisions/0017-decouple-spreadsheet-data-extraction-from-layout-using-markers.md
Due: npm run format, npm run adr:generate:toc

Document worksheet flattening approach
  docs/architecture/decisions/0017-decouple-spreadsheet-data-extraction-from-layout-using-markers.md
Due: npm run format, npm run adr:generate:toc

Add source location tracking for validation errors
  docs/architecture/decisions/0017-decouple-spreadsheet-data-extraction-from-layout-using-markers.md
Due: npm run format, npm run adr:generate:toc

Add __EPR_SKIP_COLUMN marker for visually split tables
  docs/architecture/decisions/0017-decouple-spreadsheet-data-extraction-from-layout-using-markers.md
Due: npm run format, npm run adr:generate:toc

Keep skip columns as null to maintain index alignment
  docs/architecture/decisions/0017-decouple-spreadsheet-data-extraction-from-layout-using-markers.md
Due: npm run format, npm run adr:generate:toc

PAE-417: Add ADR for marker-based spreadsheet extraction (#220)
  docs/architecture/decisions/0011-file-parsing.md
  docs/architecture/decisions/0017-decouple-spreadsheet-data-extraction-from-layout-using-markers.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PAE-326: moves summary log repository logic out of handler and into worker
  src/adapters/parsers/summary-logs/stub.js
  src/adapters/validators/summary-logs/inline.js
  src/adapters/validators/summary-logs/inline.test.js
  src/adapters/validators/summary-logs/piscina.js
  src/adapters/validators/summary-logs/piscina.test.js
  src/domain/summary-logs/model.js
  src/domain/summary-logs/model.test.js
  src/domain/summary-logs/validator/port.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.test.js
  src/workers/summary-logs/worker/integration.test.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
  src/workers/summary-logs/worker/worker.js
  src/workers/summary-logs/worker/worker.test.js
Due: npm run format, npm run lint:fix

PAE-326: address sonar issues
  src/adapters/parsers/summary-logs/stub.js
  src/domain/summary-logs/model.js
  src/domain/summary-logs/model.test.js
  vitest.config.js
Due: npm run format, npm run lint:fix

PAE-326: Move summary log repository logic out of handler and into worker (#221)
  src/adapters/validators/summary-logs/inline.js
  src/adapters/validators/summary-logs/inline.test.js
  src/adapters/validators/summary-logs/piscina.js
  src/adapters/validators/summary-logs/piscina.test.js
  src/domain/summary-logs/model.js
  src/domain/summary-logs/validator/port.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.test.js
  src/workers/summary-logs/worker/integration.test.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
  src/workers/summary-logs/worker/worker.js
  src/workers/summary-logs/worker/worker.test.js
  vitest.config.js
Due: npm run format, npm run lint:fix

Accept ADR 0017 for marker-based data extraction
  docs/architecture/decisions/0017-decouple-spreadsheet-data-extraction-from-layout-using-markers.md
Due: npm run format, npm run adr:generate:toc

PAE-417: Accept ADR 0017 for marker-based data extraction (#222)
  docs/architecture/decisions/0017-decouple-spreadsheet-data-extraction-from-layout-using-markers.md
Due: npm run format, npm run adr:generate:toc

PAE-326: Refactor to Ports & Adapters architecture and remove WORKER logging category
  package.json
  src/adapters/validators/summary-logs/inline.js
  src/adapters/validators/summary-logs/inline.test.js
  src/application/summary-logs/validator.js
  src/application/summary-logs/validator.test.js
  src/common/enums/event.js
  src/workers/summary-logs/worker/integration.test.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
  vitest.config.js
Due: npm run format, npm run lint:fix

Moved epr-organisation data seeding to server start Deleted redundant `import-fixtures.sh` script and package.json script
  package.json
  scripts/import-fixtures.sh
  src/common/helpers/collections/create-update-epr-organisation.js
  src/common/helpers/collections/create-update.js
  src/common/helpers/collections/factories/epr-organisation.js
Due: npm run format, npm run lint:fix

Code review changes
  src/common/helpers/collections/create-update-epr-organisation.js
  src/common/helpers/collections/create-update.js
Due: npm run format, npm run lint:fix
