Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix

PAE-1102 (PAE-1104) Update OSR and INTERIM_SITE ID validation (#830)
  src/domain/summary-logs/table-schemas/exporter/received-loads-for-export.test.js
  src/domain/summary-logs/table-schemas/shared/field-schemas.js
  src/domain/summary-logs/table-schemas/shared/field-schemas.test.js
  src/domain/summary-logs/table-schemas/shared/joi-messages.js
Due: npm run format, npm run lint:fix

PAE-339: Add admin PRN list endpoint
  src/packaging-recycling-notes/routes/admin-list.js
  src/plugins/router.js
Due: npm run format, npm run lint:fix

PAE-339: Add unit tests for admin PRN list endpoint
  src/packaging-recycling-notes/routes/admin-list.test.js
Due: npm run format, npm run lint:fix

PAE-339: Add coverage for null optional fields in admin-list
  src/packaging-recycling-notes/routes/admin-list.test.js
Due: npm run format, npm run lint:fix

PAE-339: Extract shared statuses validation from PRN list routes
  src/packaging-recycling-notes/routes/admin-list.js
  src/packaging-recycling-notes/routes/list.js
  src/packaging-recycling-notes/routes/validation.js
Due: npm run format, npm run lint:fix

PAE-339: Add admin PRN list endpoint (#831)
  src/packaging-recycling-notes/routes/admin-list.js
  src/packaging-recycling-notes/routes/admin-list.test.js
  src/packaging-recycling-notes/routes/list.js
  src/packaging-recycling-notes/routes/validation.js
  src/plugins/router.js
Due: npm run format, npm run lint:fix

PAE-1083: add requests helper to generate real/stub tokens
  requests.http
Due: none

add rest client environment config
  .vscode/settings.json
Due: npm run format

PAE-1108: Add failing tests for excluded row waste balance reversal
  src/routes/v1/organisations/registrations/summary-logs/integration.waste-balance-for-exporter.test.js
Due: npm run format, npm run lint:fix

add rest client as recommended extension
  .gitignore
  .vscode/extensions.json
Due: npm run format

Fix waste balance not reversed when mandatory fields removed (PAE-1108)
  src/domain/waste-balances/calculator.js
  src/domain/waste-balances/calculator.test.js
  src/repositories/waste-balances/helpers.js
  src/repositories/waste-balances/helpers.test.js
  src/routes/v1/organisations/registrations/summary-logs/integration.waste-balance-for-exporter.test.js
Due: npm run format, npm run lint:fix

Remove ticket references from code, add incomplete row test
  src/domain/waste-balances/calculator.test.js
  src/repositories/waste-balances/helpers.js
  src/repositories/waste-balances/helpers.test.js
  src/routes/v1/organisations/registrations/summary-logs/integration.waste-balance-for-exporter.test.js
Due: npm run format, npm run lint:fix

Rename annotateRecordsWithExclusion to markExcludedRecords
  src/domain/waste-records/model.js
  src/repositories/waste-balances/helpers.js
  src/repositories/waste-balances/helpers.test.js
Due: npm run format, npm run lint:fix

PAE-1108: Fix waste balance not reversed when mandatory fields removed (#834)
  src/domain/waste-balances/calculator.js
  src/domain/waste-balances/calculator.test.js
  src/domain/waste-records/model.js
  src/repositories/waste-balances/helpers.js
  src/repositories/waste-balances/helpers.test.js
  src/routes/v1/organisations/registrations/summary-logs/integration.waste-balance-for-exporter.test.js
Due: npm run format, npm run lint:fix

add docs for curl/rest client
  README.md
  requests.http
Due: npm run format

Revert "add rest client environment config"
  .vscode/settings.json
Due: npm run format

Revert "add rest client as recommended extension"
  .gitignore
  .vscode/extensions.json
Due: npm run format

update toc
  README.md
Due: npm run format

move docs to contributing readme
  CONTRIBUTING.md
  README.md
Due: npm run format

[Snyk] Upgrade decimal.js from 10.4.3 to 10.6.0 (#828)
  .mcp.json
  generate-test-requests.js
  generate-test-token.js
  get_cognito_token.py
  package-lock.json
Due: npm run format

PAE-1083: use local cognito-stub (#833)
  CONTRIBUTING.md
  README.md
  requests.http
Due: npm run format

Fail fast on unhandled MSW requests in tests
  .vite/helpers/setup-auth-mocking.js
Due: npm run format

PAE-1084: Filter test org PRNs in route handler, remove excludePrnIds
  src/common/helpers/parse-excluded-prn-ids.js
  src/common/helpers/parse-excluded-prn-ids.test.js
  src/config.js
  src/packaging-recycling-notes/application/prn-visibility-filter.js
  src/packaging-recycling-notes/application/prn-visibility-filter.test.js
  src/packaging-recycling-notes/repository/contract/find-by-status.contract.js
  src/packaging-recycling-notes/repository/inmemory.plugin.js
  src/packaging-recycling-notes/repository/mongodb.js
  src/packaging-recycling-notes/repository/mongodb.plugin.js
  src/packaging-recycling-notes/repository/port.js
  src/packaging-recycling-notes/routes/list.js
  src/packaging-recycling-notes/routes/list.test.js
Due: npm run format, npm run lint:fix

PAE-339: Add accreditationNumber and submittedToRegulator to admin PRN list endpoint
  src/packaging-recycling-notes/routes/admin-list.js
  src/packaging-recycling-notes/routes/admin-list.test.js
Due: npm run format, npm run lint:fix

PAE-000: Fail fast on unhandled MSW requests in tests (#835)
  .vite/helpers/setup-auth-mocking.js
Due: npm run format

PAE-1084: Filter test organisation PRNs from external list API (#825)
  src/packaging-recycling-notes/application/prn-visibility-filter.js
  src/packaging-recycling-notes/application/prn-visibility-filter.test.js
  src/packaging-recycling-notes/repository/contract/find-by-status.contract.js
  src/packaging-recycling-notes/repository/contract/test-data.js
  src/packaging-recycling-notes/repository/inmemory.plugin.js
  src/packaging-recycling-notes/repository/mongodb.plugin.js
  src/packaging-recycling-notes/routes/feature-flag.test.js
  src/packaging-recycling-notes/routes/list.js
  src/packaging-recycling-notes/routes/list.test.js
  src/start-server.test.js
Due: npm run format, npm run lint:fix

add waste balance availability endpoint
  src/application/waste-balance-availability/aggregate-available-balance.js
  src/application/waste-balance-availability/aggregate-available-balance.test.js
  src/application/waste-balance-availability/integration.test.js
  src/plugins/router.js
  src/routes/v1/waste-balance-availability/get.js
  src/routes/v1/waste-balance-availability/get.test.js
  src/routes/v1/waste-balance-availability/index.js
  src/routes/v1/waste-balance-availability/response.schema.js
Due: npm run format, npm run lint:fix

refactor duplication
  src/application/common/material-aggregation.js
  src/application/common/material-aggregation.test.js
  src/application/tonnage-monitoring/aggregate-tonnage.js
  src/application/waste-balance-availability/aggregate-available-balance.js
Due: npm run format, npm run lint:fix

Remove files accidentally merged via Snyk PR #828
  .gitignore
  .mcp.json
  generate-test-requests.js
  generate-test-token.js
  get_cognito_token.py
Due: npm run format

PAE-000: Remove files accidentally committed via Snyk PR #828 (#838)
  .gitignore
  .mcp.json
  generate-test-requests.js
  generate-test-token.js
  get_cognito_token.py
Due: npm run format

refactors
  src/application/waste-balance-availability/aggregate-available-balance.js
  src/application/waste-balance-availability/aggregate-available-balance.test.js
  src/routes/v1/waste-balance-availability/get.test.js
Due: npm run format, npm run lint:fix

docs: use new cognito client-id (not a secret)
  CONTRIBUTING.md
Due: npm run format

remove docker compose config
  CONTRIBUTING.md
  compose.shared.yml
  compose.yml
  compose/01-start-localstack.sh
  compose/99-ready.sh
  compose/aws.env
Due: npm run format

PAE-340: Waste balance availability endpoint (#837)
  src/application/common/material-aggregation.js
  src/application/common/material-aggregation.test.js
  src/application/tonnage-monitoring/aggregate-tonnage.js
  src/application/waste-balance-availability/aggregate-available-balance.js
  src/application/waste-balance-availability/aggregate-available-balance.test.js
  src/application/waste-balance-availability/integration.test.js
  src/plugins/router.js
  src/routes/v1/waste-balance-availability/get.js
  src/routes/v1/waste-balance-availability/get.test.js
  src/routes/v1/waste-balance-availability/index.js
  src/routes/v1/waste-balance-availability/response.schema.js
Due: npm run format, npm run lint:fix

PAE-339 Add accreditationNumber and submittedToRegulator to admin PR… (#836)
  src/packaging-recycling-notes/routes/admin-list.js
  src/packaging-recycling-notes/routes/admin-list.test.js
Due: npm run format, npm run lint:fix

wait for cdp-uploader to be healthy
  .vite/fixtures/cdp-uploader.js
Due: npm run format

copy files as read/execute - not write
  .vite/fixtures/cdp-uploader.js
Due: npm run format

PAE-1082: Rounding error migration fix
  .husky/pre-commit
  src/application/summary-log-uploads-report/generate-report.js
  src/config.js
  src/domain/waste-balances/decimal-utils.js
  src/domain/waste-balances/model.js
  src/feature-flags/feature-flags.config.js
  src/feature-flags/feature-flags.inmemory.js
  src/feature-flags/feature-flags.port.js
  src/packaging-recycling-notes/routes/test-helpers.js
  src/repositories/waste-balances/helpers.js
  src/repositories/waste-balances/helpers.test.js
  src/repositories/waste-balances/inmemory.js
  src/repositories/waste-balances/mongodb.js
  src/repositories/waste-balances/port.js
  src/server/run-waste-balance-rounding-correction.js
  src/server/run-waste-balance-rounding-correction.test.js
  src/server/server.js
Due: npm run format, npm run lint:fix

start localstack, redis and cdp-uploader in parallel
  .vite/fixtures/cdp-uploader.js
  .vite/fixtures/cdp-uploader/localstack/01-start-localstack.sh
  .vite/fixtures/cdp-uploader/localstack/99-ready.sh
Due: npm run format

Path conditions:
  npm run format: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
