Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

PAE-204: add missing SummaryLog statuses
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

PAE-234: add Summary Log detail to HLD & LLD
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Update compose.yml
  compose.yml
Due: none

PAE-263 dependabot updates (#123)
  package-lock.json
  package.json
Due: npm run format

PAE-215: Logical data model
  docs/architecture/discovery/forms-data-logical-data-model.md
  docs/architecture/discovery/index.md
Due: npm run format

PAGE-215: Updates from discussion
  docs/architecture/discovery/forms-data-logical-data-model.md
  docs/architecture/discovery/index.md
Due: npm run format

PAGE-215: rename processing type
  docs/architecture/discovery/forms-data-logical-data-model.md
Due: npm run format

fixing contents table
  docs/architecture/decisions/0007-parsing-excel-summary-log.md
Due: npm run format, npm run adr:generate:toc

numbering
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

clarifications on decisions
  docs/architecture/decisions/0007-parsing-excel-summary-log.md
Due: npm run format, npm run adr:generate:toc

PAE-234: add further detail to the Summary Log Upload sequence diagram based on CDP Uploader findings
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

PAE-274: add validate summary logs endpoint
  compose.yml
  src/plugins/router.js
  src/routes/v1/organisations/index.js
  src/routes/v1/organisations/registrations/summary-logs/index.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
  src/routes/v1/organisations/registrations/summary-logs/validate.test.js
Due: npm run format, npm run lint:fix

PAE-265: ADR for frontend project structure
  docs/architecture/decisions/0007-frontend-projects-structure.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PAGE-276: Add logs when reg/accreditation fails due to mongo validation
  src/common/helpers/apply/handler.js
Due: npm run format, npm run lint:fix

PAGE-276: review comment changes and unit test
  src/common/helpers/apply/handler.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/registration.test.js
Due: npm run format, npm run lint:fix

PAE-276: Add logs when reg/accreditation fails due to mongo validation (#130)
  src/common/helpers/apply/handler.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/registration.test.js
Due: npm run format, npm run lint:fix

PAGE-276: unit test
  src/routes/v1/apply/registration.test.js
Due: npm run format, npm run lint:fix

PAE-265: ADR for frontend project structure (#128)
  docs/architecture/decisions/0007-frontend-projects-structure.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PAGE-276:test
  src/routes/v1/apply/accreditation.test.js
Due: npm run format, npm run lint:fix

PAE-221 - poc-file-upload
  docs/architecture/decisions/0008-file-upload.md
Due: npm run format, npm run adr:generate:toc

content table
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PR comments, typos, grammar and sequence diagram
  docs/architecture/decisions/0008-file-upload.md
Due: npm run format, npm run adr:generate:toc

adding documentation
  docs/architecture/decisions/0008-file-upload.md
Due: npm run format, npm run adr:generate:toc

Update docs/architecture/discovery/pepr-lld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

PAE-264: Add pr-validator needs check
  .github/workflows/check-pull-request.yml
Due: none

PAE-264: Add pr-validator needs check (#133)
  .github/workflows/check-pull-request.yml
Due: none

PAE-234: updates during discussion with Will
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

use convict instead of process.env
  src/config.js
  src/plugins/router.js
Due: npm run format, npm run lint:fix

fix b0rken Journey tests
  src/plugins/router.js
Due: npm run format, npm run lint:fix

PAE-274: add validate summary logs endpoint (#127)
  compose.yml
  src/config.js
  src/plugins/router.js
  src/routes/v1/organisations/index.js
  src/routes/v1/organisations/registrations/summary-logs/index.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
  src/routes/v1/organisations/registrations/summary-logs/validate.test.js
Due: npm run format, npm run lint:fix

PAE-221 POC: file upload (#132)
  docs/architecture/decisions/0008-file-upload.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

Add Renovate dependency management ADR
  docs/architecture/decisions/0009-use-renovate-for-dependency-updates.md
Due: npm run format, npm run adr:generate:toc

Update ADR index
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PAE-250: Update cdp-auditing and lint-staged deps
  package-lock.json
  package.json
Due: npm run format

PAE-250: Update some dependencies (#136)
  package-lock.json
  package.json
Due: npm run format

Path conditions:
  npm run format: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
