Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

Remove unnecessary transition labels from state diagram
  docs/architecture/discovery/pepr-hld.md
Due: npm run format

PAE-298: skip branch name checks for snyk
  .github/workflows/check-pull-request.yml
Due: none

PAE-298: skip branch name checks for snyk (#145)
  .github/workflows/check-pull-request.yml
Due: none

Update design docs for event-driven summary log flow
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Rename cdp-callback to upload-completed and add frontend note
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Fix SQS polling flow in sequence diagram
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Add CDP uploader integration details
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Keep browser on same URL throughout upload flow
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Move submit validation rules to endpoint documentation
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Add backend initiate endpoint to ensure SUMMARY-LOG exists before upload
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Add S3 location to ValidateSummaryLog command
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Use snake_case for summary log enum values
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Improve summary log state naming and add state diagram
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Address PR review feedback from @nijk
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Add labels to failure state transitions
  docs/architecture/discovery/pepr-hld.md
Due: npm run format

Fix state transition label: 'Summary log submitted'
  docs/architecture/discovery/pepr-hld.md
Due: npm run format

PAE-289: Update design docs for event-driven summary log flow (#141)
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Introduce ports and adapters pattern for repository injection
  src/plugins/repositories.js
  src/repositories/summary-logs-repository.inmemory.js
  src/repositories/summary-logs-repository.inmemory.test.js
  src/repositories/summary-logs-repository.js
  src/repositories/summary-logs-repository.test.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
  src/routes/v1/organisations/registrations/summary-logs/validate.test.js
  src/server.js
Due: npm run format, npm run lint:fix

PAE-285 - investigate-i18n-options
  docs/architecture/decisions/0010-i18n-options.md
Due: npm run format, npm run adr:generate:toc

contents page
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

Add contract tests for repository port
  src/repositories/summary-logs-repository.contract.js
  src/repositories/summary-logs-repository.inmemory.test.js
  src/repositories/summary-logs-repository.test.js
Due: npm run format, npm run lint:fix

Remove unused findByOrganisationAndRegistration from repository port
  src/repositories/summary-logs-repository.contract.js
  src/repositories/summary-logs-repository.inmemory.js
  src/repositories/summary-logs-repository.js
  src/repositories/summary-logs-repository.test.js
Due: npm run format, npm run lint:fix

Remove clear/cleanup methods from repositories
  src/repositories/summary-logs-repository.contract.js
  src/repositories/summary-logs-repository.inmemory.js
  src/repositories/summary-logs-repository.inmemory.test.js
  src/repositories/summary-logs-repository.test.js
  src/routes/v1/organisations/registrations/summary-logs/validate.test.js
Due: npm run format, npm run lint:fix

Rename adapter files to reflect their implementation
  src/plugins/repositories.js
  src/repositories/summary-logs-repository.mongodb.js
  src/repositories/summary-logs-repository.mongodb.test.js
  src/routes/v1/organisations/registrations/summary-logs/validate.test.js
Due: npm run format, npm run lint:fix

Use summary logs repository in validate handler
  src/routes/v1/organisations/registrations/summary-logs/validate.js
Due: npm run format, npm run lint:fix

Remove redundant mock-based MongoDB adapter tests
  src/repositories/summary-logs-repository.mongodb.test.js
Due: npm run format, npm run lint:fix

Remove unnecessary implementation details from repository
  src/repositories/summary-logs-repository.contract.js
  src/repositories/summary-logs-repository.inmemory.js
  src/repositories/summary-logs-repository.inmemory.test.js
Due: npm run format, npm run lint:fix

Inject in-memory adapter directly instead of mocking
  src/routes/v1/organisations/registrations/summary-logs/validate.test.js
  src/server.js
Due: npm run format, npm run lint:fix

Add subpath imports for cleaner internal imports
  package.json
  src/common/helpers/collections/create-update.js
  src/plugins/repositories.js
  src/plugins/router.js
  src/routes/v1/apply/accreditation.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/apply/registration.js
  src/routes/v1/apply/registration.test.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
  src/routes/v1/organisations/registrations/summary-logs/validate.test.js
Due: npm run format, npm run lint:fix

Add subpath imports for cleaner internal imports
  package.json
  src/common/helpers/collections/create-update.js
  src/plugins/router.js
  src/routes/v1/apply/accreditation.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/apply/registration.js
  src/routes/v1/apply/registration.test.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
  src/routes/v1/organisations/registrations/summary-logs/validate.test.js
Due: npm run format, npm run lint:fix

PAE-296: Add subpath imports for cleaner internal imports (#148)
  package.json
  src/common/helpers/collections/create-update.js
  src/plugins/router.js
  src/routes/v1/apply/accreditation.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/apply/registration.js
  src/routes/v1/apply/registration.test.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
  src/routes/v1/organisations/registrations/summary-logs/validate.test.js
Due: npm run format, npm run lint:fix

Move server.js to src/server/ directory and update imports
  package.json
  src/common/helpers/mongodb.test.js
  src/repositories/summary-logs-repository.mongodb.test.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/apply/registration.test.js
  src/routes/v1/organisations/registrations/summary-logs/validate.test.js
  src/server/server.js
  src/start-server.js
  src/start-server.test.js
Due: npm run format, npm run lint:fix

Simplify inmemory repository test function call
  src/repositories/summary-logs-repository.inmemory.test.js
  src/repositories/summary-logs-repository.mongodb.test.js
Due: npm run format, npm run lint:fix

Add comments clarifying production default vs test override
  src/plugins/repositories.js
Due: npm run format, npm run lint:fix

Add JSDoc type hints for repository interface
  src/routes/v1/organisations/registrations/summary-logs/validate.js
Due: npm run format, npm run lint:fix

Rename summaryLogsRepositoryContract to testSummaryLogsRepositoryContract
  src/repositories/summary-logs-repository.contract.js
  src/repositories/summary-logs-repository.inmemory.test.js
  src/repositories/summary-logs-repository.mongodb.test.js
Due: npm run format, npm run lint:fix

Replace Math.random() with crypto.randomUUID() for ID generation
  src/repositories/summary-logs-repository.inmemory.js
Due: npm run format, npm run lint:fix

Use server.dependency() instead of static dependencies declaration
  src/plugins/repositories.js
Due: npm run format, npm run lint:fix

Extract repository interface to shared port definition
  src/repositories/summary-logs-repository.inmemory.js
  src/repositories/summary-logs-repository.mongodb.js
  src/repositories/summary-logs-repository.port.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
  vitest.config.js
Due: npm run format, npm run lint:fix

Path conditions:
  npm run format: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
