Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

PAE-234: add Summary Log detail to HLD & LLD (#119)
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Fix MongoDB binary download race condition in CI
  .github/workflows/check-pull-request.yml
  vitest.config.js
Due: npm run format

PAE-288: Fix MongoDB binary download race condition in CI (#139)
  .github/workflows/check-pull-request.yml
  vitest.config.js
Due: npm run format

PAE-259: review comments
  CONTRIBUTING.md
  docs/architecture/decisions/0008-forms-physical-data-model.md
  scripts/mongo-performance-test/README.md
  scripts/mongo-performance-test/separate-collections/benchmark-separate-collections.js
  scripts/mongo-performance-test/separate-collections/create-collections.js
  scripts/mongo-performance-test/separate-collections/data-generators.js
  scripts/mongo-performance-test/single-nested-collection/benchmark-write-read.js
  scripts/mongo-performance-test/single-nested-collection/create-collection.js
  scripts/mongo-performance-test/single-nested-collection/data-generators.js
  scripts/performance_test/README.md
Due: npm run format, npm run adr:generate:toc

PAGE-259: ADR for forms data physical data model
  docs/architecture/decisions/0008-forms-physical-data-model.md
  scripts/performance_test/README.md
  scripts/performance_test/separate-collections/benchmark-separate-collections.js
  scripts/performance_test/separate-collections/create_collections.js
  scripts/performance_test/separate-collections/data-generators.js
  scripts/performance_test/single-nested-collection/benchmark-write-read.js
  scripts/performance_test/single-nested-collection/create_collection.js
  scripts/performance_test/single-nested-collection/data-generators.js
Due: npm run format, npm run adr:generate:toc

Run tests sequentially in CI to avoid MongoDB race condition
  vitest.config.js
Due: npm run format

PAE-288: Run tests sequentially in CI to avoid MongoDB race condition (#140)
  vitest.config.js
Due: npm run format

PAE-283: Add orgId validation with logging
  src/common/helpers/apply/payload.js
  src/routes/v1/apply/registration.test.js
Due: npm run format, npm run lint:fix

Use 499999 in unit tests
  src/routes/v1/apply/registration.test.js
Due: npm run format, npm run lint:fix

PAE-283: Fix orgId validation to match MongoDB constraints (#137)
  src/common/helpers/apply/payload.js
  src/routes/v1/apply/registration.test.js
Due: npm run format, npm run lint:fix

PAE-266 Add ADR for approach to authenticating Admin UI with ADD
  docs/architecture/decisions/0009-admin-ui-approach-for-authenticating-with-azure-ad.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

Update docs/architecture/decisions/0009-admin-ui-approach-for-authenticating-with-azure-ad.md
  docs/architecture/decisions/0009-admin-ui-approach-for-authenticating-with-azure-ad.md
Due: npm run format, npm run adr:generate:toc

Add not to make it explicit that federated auth is more complex
  docs/architecture/decisions/0009-admin-ui-approach-for-authenticating-with-azure-ad.md
Due: npm run format, npm run adr:generate:toc

PAE-266 Add ADR for approach to authenticating Admin UI with ADD (#138)
  docs/architecture/decisions/0009-admin-ui-approach-for-authenticating-with-azure-ad.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PAE-259: ADR for forms data physical data model (#134)
  CONTRIBUTING.md
  docs/architecture/decisions/0008-forms-physical-data-model.md
  scripts/mongo-performance-test/README.md
  scripts/mongo-performance-test/separate-collections/benchmark-separate-collections.js
  scripts/mongo-performance-test/separate-collections/create-collections.js
  scripts/mongo-performance-test/separate-collections/data-generators.js
  scripts/mongo-performance-test/single-nested-collection/benchmark-write-read.js
  scripts/mongo-performance-test/single-nested-collection/create-collection.js
  scripts/mongo-performance-test/single-nested-collection/data-generators.js
Due: npm run format, npm run adr:generate:toc

PAE-215: Logical data model
  docs/architecture/discovery/forms-data-logical-data-model.md
  docs/architecture/discovery/index.md
Due: npm run format

PAE-215: Updates from discussion
  docs/architecture/discovery/forms-data-logical-data-model.md
  docs/architecture/discovery/index.md
Due: npm run format

PAE-259: convert to sequence diagram and formatting
  docs/architecture/discovery/auditing-updates-to-organisation.md
  docs/architecture/discovery/forms-data-logical-data-model.md
  docs/architecture/discovery/index.md
  docs/architecture/discovery/pepr-hld.md
Due: npm run format

PAE-259: review comments
  docs/architecture/discovery/auditing-updates-to-organisation.md
  docs/architecture/discovery/forms-data-logical-data-model.md
  docs/architecture/discovery/index.md
  docs/architecture/discovery/pepr-hld.md
Due: npm run format

PAE-276: updates to use object id for reg/acc
  docs/architecture/discovery/forms-data-logical-data-model.md
Due: npm run format

PAGE-259: review comments from Frances
  docs/architecture/discovery/forms-data-logical-data-model.md
Due: npm run format

PAE-215: rename processing type
  docs/architecture/discovery/forms-data-logical-data-model.md
Due: npm run format

wip
  docs/architecture/discovery/forms-data-logical-data-model.md
Due: npm run format

Update design docs for event-driven summary log flow
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Rename cdp-callback to upload-completed and add frontend note
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Add CDP uploader integration details
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Keep browser on same URL throughout upload flow
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Fix SQS polling flow in sequence diagram
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Add S3 location to ValidateSummaryLog command
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Move submit validation rules to endpoint documentation
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Add backend initiate endpoint to ensure SUMMARY-LOG exists before upload
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

PAE-259: addressing Nick comments
  docs/architecture/discovery/auditing-updates-to-organisation.md
  docs/architecture/discovery/forms-data-logical-data-model.md
Due: npm run format

PAE-215: Forms data logical data model (#107)
  docs/architecture/discovery/auditing-updates-to-organisation.md
  docs/architecture/discovery/forms-data-logical-data-model.md
  docs/architecture/discovery/index.md
Due: npm run format

Use snake_case for summary log enum values
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

PAE-267: Forms data generated in test env
  src/data/fixtures/ea/README.md
  src/data/fixtures/ea/accreditation/exporter.json
  src/data/fixtures/ea/accreditation/reprocessor-material-1.json
  src/data/fixtures/ea/accreditation/reprocessor-material-2.json
  src/data/fixtures/ea/organisation/non-registered-non-uk.json
  src/data/fixtures/ea/organisation/non-registered-partnership.json
  src/data/fixtures/ea/organisation/non-registered-sole-trader.json
  src/data/fixtures/ea/organisation/registered-partnership.json
  src/data/fixtures/ea/registration/exporter.json
  src/data/fixtures/ea/registration/reprocessor-material-1.json
  src/data/fixtures/ea/registration/reprocessor-material-2.json
Due: npm run format

Address PR review feedback from @nijk
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Improve summary log state naming and add state diagram
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Fix state transition label: 'Summary log submitted'
  docs/architecture/discovery/pepr-hld.md
Due: npm run format

Path conditions:
  npm run format: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
