Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"],
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

npm ignore specific config files not all .config files
  .npmignore
Due: none

Fix in-memory extractor type errors
  src/application/summary-logs/extractor-inmemory.js
Due: npm run format, npm run lint:fix

Simplify in-memory extractor to be a pure mock
  src/application/summary-logs/extractor-inmemory.js
Due: npm run format, npm run lint:fix

fix n/no-deprecated-api error
  .vite/s3-memory-server.js
Due: npm run format

Use in-memory extractor in integration tests
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/workers/summary-logs/worker/integration.test.js
Due: npm run format, npm run lint:fix

PAE-000: throw the babel out with the bathwater
  babel.config.cjs
  package-lock.json
  package.json
Due: npm run format

PAE-000: throw the babel out with the bathwater (#233)
  babel.config.cjs
  package-lock.json
  package.json
Due: npm run format

remove babel & hence .cjs support
  .npmignore
  eslint.config.js
  package.json
Due: npm run format

PAE-000: strictly come linting (#232)
  .dockerignore
  .npmignore
  .vite/s3-memory-server.js
  eslint.config.js
  package-lock.json
  package.json
  scripts/mongo-performance-test/README.md
  scripts/mongo-performance-test/separate-collections/benchmark-separate-collections.js
  scripts/mongo-performance-test/single-nested-collection/benchmark-write-read.js
Due: npm run format

Add design document for extractor port refactoring
  docs/plans/2025-10-24-extractor-port-refactoring-design.md
Due: npm run format

feat: add SummaryLogExtractor port definition
  src/domain/summary-logs/extractor/port.js
Due: npm run format, npm run lint:fix

feat: add SummaryLogExtractor contract tests
  src/domain/summary-logs/extractor/port.contract.js
Due: npm run format, npm run lint:fix

feat: add in-memory SummaryLogExtractor implementation
  src/application/summary-logs/extractor-inmemory.js
  src/application/summary-logs/extractor-inmemory.test.js
Due: npm run format, npm run lint:fix

refactor: convert SummaryLogExtractor to factory function
  src/application/summary-logs/extractor.contract.test.js
  src/application/summary-logs/extractor.js
  src/application/summary-logs/extractor.test.js
Due: npm run format, npm run lint:fix

refactor: update worker thread to use extractor factory
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
Due: npm run format, npm run lint:fix

refactor: update inline validator to use extractor factory
  src/adapters/validators/summary-logs/inline.js
Due: npm run format, npm run lint:fix

docs: clarify contract tests will use real Excel files when available
  src/application/summary-logs/extractor.contract.test.js
Due: npm run format, npm run lint:fix

test: update inline validator tests for new factory signature
  src/adapters/validators/summary-logs/inline.test.js
Due: npm run format, npm run lint:fix

test: update route integration tests to use extractor factory
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
Due: npm run format, npm run lint:fix

test: update worker integration tests to use new extractor API
  src/workers/summary-logs/worker/integration.test.js
Due: npm run format, npm run lint:fix

test: remove unused code from extractor contract test
  src/application/summary-logs/extractor.contract.test.js
Due: npm run format, npm run lint:fix

refactor: remove parser port abstraction
  docs/plans/2025-10-24-extractor-port-refactoring.md
  src/adapters/parsers/summary-logs/exceljs-parser.js
  src/domain/summary-logs/parser/port.js
Due: npm run format, npm run lint:fix

fix: achieve 100% coverage and resolve type errors
  src/adapters/repositories/uploads/inmemory.test.js
  src/application/summary-logs/extractor.js
Due: npm run format, npm run lint:fix

docs: mark extractor refactoring as implemented
  docs/plans/2025-10-24-extractor-port-refactoring-design.md
Due: npm run format

refactor: remove dead error-throwing code from inmemory uploads repository
  src/adapters/repositories/uploads/inmemory.js
  src/adapters/repositories/uploads/inmemory.test.js
  src/domain/summary-logs/extractor/port.contract.js
Due: npm run format, npm run lint:fix

docs: remove temporary planning documents
  docs/plans/2025-10-24-extractor-port-refactoring-design.md
  docs/plans/2025-10-24-extractor-port-refactoring.md
Due: npm run format

refactor: address SonarCloud quality issues
  src/application/summary-logs/extractor.contract.test.js
  src/application/summary-logs/validator.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/mongodb.js
Due: npm run format, npm run lint:fix

refactor: remove unused error variable from catch block
  src/repositories/organisations/mongodb.js
Due: npm run format, npm run lint:fix

Update tests to expect hardcoded metadata
  src/adapters/parsers/summary-logs/exceljs-parser.js
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
Due: npm run format, npm run lint:fix

Update parser to return empty meta for journey tests
  src/adapters/parsers/summary-logs/exceljs-parser.js
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
Due: npm run format, npm run lint:fix

Update ExcelJS parser to return data property and fix tests
  src/adapters/parsers/summary-logs/exceljs-parser.js
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
  src/application/summary-logs/extractor.js
Due: npm run format, npm run lint:fix

PAE-415: Validate waste registration number in summary logs (#227)
  src/adapters/parsers/summary-logs/exceljs-parser.js
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
  src/adapters/repositories/uploads/inmemory.js
  src/adapters/validators/summary-logs/inline.js
  src/adapters/validators/summary-logs/inline.test.js
  src/application/summary-logs/extractor-inmemory.js
  src/application/summary-logs/extractor-inmemory.test.js
  src/application/summary-logs/extractor.js
  src/application/summary-logs/extractor.test.js
  src/application/summary-logs/validator.js
  src/application/summary-logs/validator.test.js
  src/domain/summary-logs/extractor/port.contract.js
  src/domain/summary-logs/extractor/port.js
  src/domain/summary-logs/parser/port.js
  src/repositories/organisations/contract/find-registration-by-id.contract.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/port.contract.js
  src/repositories/organisations/port.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.test.js
  src/workers/summary-logs/worker/integration.test.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
Due: npm run format, npm run lint:fix

docs: add marker-based parser implementation design
  docs/plans/2025-10-24-marker-based-parser-implementation.md
Due: npm run format

docs: add streaming parser implementation plan
  docs/plans/2025-10-24-streaming-parser-implementation.md
Due: npm run format

feat: extract single metadata marker
  src/adapters/parsers/summary-logs/exceljs-parser.js
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
Due: npm run format, npm run lint:fix

docs: add streaming parser implementation design for ADR-17
  docs/plans/2025-10-24-streaming-parser-implementation.md
Due: npm run format

docs: clarify ExcelJS tests are in-memory
  docs/plans/2025-10-24-streaming-parser-implementation.md
Due: npm run format

docs: update state machine to handle concurrent collections
  docs/plans/2025-10-24-adr-17-streaming-parser.md
  docs/plans/2025-10-24-streaming-parser-implementation.md
Due: npm run format

feat: add column number to letter converter
  src/adapters/parsers/summary-logs/exceljs-parser.js
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
Due: npm run format, npm run lint:fix

feat: extract single metadata marker
  src/adapters/parsers/summary-logs/exceljs-parser.js
Due: npm run format, npm run lint:fix
