Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

WIP Create mock oidc servers
  src/test/helpers/mock-oidc.js
Due: npm run format, npm run lint:fix

WIP Fix broken test
  src/routes/v1/organisations/get-by-id.test.js
Due: npm run format, npm run lint:fix

WIP Remove defra id oidc config
  src/common/helpers/auth/get-jwt-strategy-config.js
  src/common/helpers/auth/get-oidc-configs.js
  src/test/helpers/mock-oidc.js
Due: npm run format, npm run lint:fix

WIP Added test scenario for user without right role
  src/routes/v1/organisations/get-by-id.test.js
Due: npm run format, npm run lint:fix

WIP Fix for missing email in entra auth token
  src/common/helpers/auth/get-entra-user-roles.js
Due: npm run format, npm run lint:fix

PAE-353: Migration org data on startup driven by feature flag
  package-lock.json
  package.json
  src/config.js
  src/feature-flags/feature-flags.config.js
  src/feature-flags/feature-flags.inmemory.js
  src/feature-flags/feature-flags.inmemory.test.js
  src/feature-flags/feature-flags.port.js
  src/forms-submission-data/migrate-forms-data.js
  src/forms-submission-data/migrate-forms-data.test.js
  src/repositories/form-submissions/contract/find.contract.js
  src/repositories/form-submissions/contract/test-data.js
  src/repositories/form-submissions/inmemory.js
  src/repositories/form-submissions/inmemory.test.js
  src/repositories/form-submissions/mongodb.js
  src/repositories/form-submissions/mongodb.test.js
  src/repositories/form-submissions/port.contract.js
  src/repositories/form-submissions/port.js
  src/repositories/organisations/contract/upsert.contract.js
  src/repositories/organisations/helpers.js
  src/repositories/organisations/helpers.test.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/port.contract.js
  src/repositories/organisations/port.js
  src/server/run-forms-data-migration.js
  src/server/run-forms-data-migration.test.js
  src/server/server.js
Due: npm run format, npm run lint:fix

PAE-425 - translation integration process
  docs/architecture/decisions/0019-translation-process-for-english-welsh-strings.md
Due: npm run format, npm run adr:generate:toc

indexing
  docs/architecture/decisions/0019-translation-process-for-english-welsh-strings.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

WIP Remove unused param
  src/common/helpers/auth/get-jwt-strategy-config.js
Due: npm run format, npm run lint:fix

Add ADR 0019: Layered Transformation Strategy for Summary Log to Waste Records
  docs/architecture/decisions/0019-waste-record-transformation-pipeline.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

Trim ADR 0019 to focus on architectural decision
  docs/architecture/decisions/0019-waste-record-transformation-pipeline.md
Due: npm run format, npm run adr:generate:toc

PAE-353: Migration of organisation form submissions on startup driven by feature flag (#288)
  package-lock.json
  package.json
  src/config.js
  src/feature-flags/feature-flags.config.js
  src/feature-flags/feature-flags.inmemory.js
  src/feature-flags/feature-flags.inmemory.test.js
  src/feature-flags/feature-flags.port.js
  src/forms-submission-data/migrate-forms-data.js
  src/forms-submission-data/migrate-forms-data.test.js
  src/repositories/form-submissions/contract/find.contract.js
  src/repositories/form-submissions/contract/test-data.js
  src/repositories/form-submissions/inmemory.js
  src/repositories/form-submissions/inmemory.test.js
  src/repositories/form-submissions/mongodb.js
  src/repositories/form-submissions/mongodb.test.js
  src/repositories/form-submissions/port.contract.js
  src/repositories/form-submissions/port.js
  src/repositories/organisations/contract/upsert.contract.js
  src/repositories/organisations/helpers.js
  src/repositories/organisations/helpers.test.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/port.contract.js
  src/repositories/organisations/port.js
  src/server/run-forms-data-migration.js
  src/server/run-forms-data-migration.test.js
  src/server/server.js
Due: npm run format, npm run lint:fix

PAE-460: Introduces validation framework for Summary Logs
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
  src/application/summary-logs/validate.js
  src/application/summary-logs/validate.test.js
  src/application/summary-logs/validations/summary-log-material-type.js
  src/application/summary-logs/validations/summary-log-material-type.test.js
  src/application/summary-logs/validations/summary-log-meta-syntax.js
  src/application/summary-logs/validations/summary-log-meta-syntax.schema.js
  src/application/summary-logs/validations/summary-log-meta-syntax.test.js
  src/application/summary-logs/validations/summary-log-type.js
  src/application/summary-logs/validations/summary-log-type.test.js
  src/application/summary-logs/validations/waste-registration-number.js
  src/application/summary-logs/validations/waste-registration-number.test.js
  src/common/enums/index.js
  src/common/enums/validation.js
  src/common/validation/validation-issues.js
  src/common/validation/validation-issues.test.js
  src/data/fixtures/uploads/reprocessor.json
  src/data/fixtures/uploads/reprocessor.xlsx
  src/domain/summary-logs/meta-fields.js
  src/domain/summary-logs/model.js
  src/repositories/summary-logs/contract/update.contract.js
  src/repositories/summary-logs/schema.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/workers/summary-logs/worker/integration.test.js
Due: npm run format, npm run lint:fix

Add validation issues framework for summary logs
  .claude/commands/pr.md
  package-lock.json
Due: npm run format

WIP Refactored auth mocking
  src/routes/v1/organisations/get-by-id.test.js
  src/test/helpers/setup-auth-mocking.js
Due: npm run format, npm run lint:fix

PAE-460: Revert files inadvertently added
  .claude/commands/pr.md
  package-lock.json
Due: npm run format

PAE-460: Address SONAR issues
  src/application/summary-logs/validations/summary-log-meta-syntax.schema.js
  src/common/validation/validation-issues.js
Due: npm run format, npm run lint:fix

Add explanation of dispatch map concept in ADR 0019
  docs/architecture/decisions/0019-waste-record-transformation-pipeline.md
Due: npm run format, npm run adr:generate:toc

PAE-461: Implement minimal waste record transformation from summary log (#291)
  docs/architecture/decisions/0019-waste-record-transformation-pipeline.md
  docs/architecture/decisions/index.md
  src/application/waste-records/row-transformers/received-loads-reprocessing.js
  src/application/waste-records/row-transformers/received-loads-reprocessing.test.js
  src/application/waste-records/sync-from-summary-log.js
  src/application/waste-records/sync-from-summary-log.test.js
  src/application/waste-records/transform-from-summary-log.js
  src/application/waste-records/transform-from-summary-log.test.js
  src/domain/waste-records/model.js
  src/repositories/waste-records/contract/data-isolation.contract.js
  src/repositories/waste-records/contract/findByRegistration.contract.js
  src/repositories/waste-records/contract/test-data.js
  src/repositories/waste-records/contract/test-data.test.js
  src/repositories/waste-records/contract/upsertWasteRecords.contract.js
  src/repositories/waste-records/inmemory.js
  src/repositories/waste-records/inmemory.test.js
  src/repositories/waste-records/port.contract.js
  src/repositories/waste-records/port.js
  src/repositories/waste-records/schema.js
  src/repositories/waste-records/validation.js
  src/repositories/waste-records/validation.test.js
Due: npm run format, npm run lint:fix, npm run adr:generate:toc

PAE-460: Introduces validation framework for Summary Logs (#298)
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
  src/application/summary-logs/validate.js
  src/application/summary-logs/validate.test.js
  src/application/summary-logs/validations/summary-log-material-type.js
  src/application/summary-logs/validations/summary-log-material-type.test.js
  src/application/summary-logs/validations/summary-log-meta-syntax.js
  src/application/summary-logs/validations/summary-log-meta-syntax.schema.js
  src/application/summary-logs/validations/summary-log-meta-syntax.test.js
  src/application/summary-logs/validations/summary-log-type.js
  src/application/summary-logs/validations/summary-log-type.test.js
  src/application/summary-logs/validations/waste-registration-number.js
  src/application/summary-logs/validations/waste-registration-number.test.js
  src/common/enums/index.js
  src/common/enums/validation.js
  src/common/validation/validation-issues.js
  src/common/validation/validation-issues.test.js
  src/data/fixtures/uploads/reprocessor.json
  src/data/fixtures/uploads/reprocessor.xlsx
  src/domain/summary-logs/meta-fields.js
  src/domain/summary-logs/model.js
  src/repositories/summary-logs/contract/update.contract.js
  src/repositories/summary-logs/schema.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/workers/summary-logs/worker/integration.test.js
Due: npm run format, npm run lint:fix

Add spreadsheet template marker guide for maintainers
  docs/spreadsheet-template-marker-guide.md
Due: npm run format

PAE:442 Introduces ADR for Summary Log Validation Output Formats
  docs/architecture/decisions/0019-summary-log-validation-output-formats.md
Due: npm run format, npm run adr:generate:toc

PAE:442 Minor correction
  docs/architecture/decisions/0020-summary-log-validation-output-formats.md
  docs/architecture/decisions/index.md
  docs/spreadsheet-template-marker-guide.md
Due: npm run format, npm run adr:generate:toc

PAE-460: Address review comment
  docs/architecture/decisions/0020-summary-log-validation-output-formats.md
Due: npm run format, npm run adr:generate:toc

Revert "Bump mongodb from 6.20.0 to 7.0.0 (#294)"
  package-lock.json
  package.json
Due: npm run format

PAE-000: revert bump mongodb from 6.20.0 to 7.0.0
  package-lock.json
  package.json
Due: npm run format

PAE-000: revert bump mongodb from 6.20.0 to 7.0.0 (#300)
  package-lock.json
  package.json
Due: npm run format

refactor: extract inline functions in inmemory repository factory
  src/repositories/organisations/inmemory.js
Due: npm run format, npm run lint:fix

WIP Attempt to fix OIDC mocking
  src/common/helpers/auth/get-jwt-strategy-config.js
  src/config.js
  src/routes/v1/organisations/get-by-id.test.js
  src/routes/v1/organisations/get.test.js
  src/test/helpers/create-test-tokens.js
  src/test/helpers/mock-credentials.js
  src/test/helpers/mock-oidc.js
  src/test/helpers/setup-auth-mocking.js
Due: npm run format, npm run lint:fix

WIP Use valid token in mock oidc
  src/common/helpers/auth/get-jwt-strategy-config.js
  src/config.js
  src/test/helpers/create-test-tokens.js
  src/test/helpers/mock-oidc.js
Due: npm run format, npm run lint:fix

WIP Ensure right type of status code is returned when audience is wrong
  src/common/helpers/auth/get-jwt-strategy-config.js
Due: npm run format, npm run lint:fix

WIP Added missing throw statement
  src/common/helpers/auth/get-entra-user-roles.js
Due: npm run format, npm run lint:fix

PAE-442: Validate accreditation number in summary logs (#301)
  src/application/summary-logs/validate.js
  src/application/summary-logs/validations/validate-accreditation-number.js
  src/application/summary-logs/validations/validate-accreditation-number.test.js
  src/repositories/organisations/contract/find-registration-by-id.contract.js
  src/repositories/organisations/contract/test-data.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/port.js
  src/workers/summary-logs/worker/integration.test.js
Due: npm run format, npm run lint:fix

PAE-260: Handle empty and undefined values in form submissions answers
  src/forms-submission-data/migrate-forms-data.js
  src/forms-submission-data/parse-forms-data.js
  src/forms-submission-data/parse-forms-data.test.js
  src/forms-submission-data/transform-organisation-data.js
  src/forms-submission-data/transform-organisation-data.test.js
  src/forms-submission-data/transform-utils.js
  src/forms-submission-data/transform-utils.test.js
Due: npm run format, npm run lint:fix

PAE-260: Handle empty and undefined values in form submissions answers (#306)
  src/forms-submission-data/migrate-forms-data.js
  src/forms-submission-data/parse-forms-data.js
  src/forms-submission-data/parse-forms-data.test.js
  src/forms-submission-data/transform-organisation-data.js
  src/forms-submission-data/transform-organisation-data.test.js
  src/forms-submission-data/transform-utils.js
  src/forms-submission-data/transform-utils.test.js
Due: npm run format, npm run lint:fix

PAE-461: Refactor waste records sync to use in-memory extractor
  src/application/waste-records/sync-from-summary-log.js
  src/application/waste-records/sync-from-summary-log.test.js
Due: npm run format, npm run lint:fix

PAE-460: Introduces minimial row-level Summary Log validation
  src/adapters/parsers/summary-logs/exceljs-parser.js
  src/application/summary-logs/validate.js
  src/application/summary-logs/validate.test.js
  src/application/summary-logs/validations/data-syntax.js
  src/application/summary-logs/validations/data-syntax.test.js
  src/application/summary-logs/validations/material-type.js
  src/application/summary-logs/validations/material-type.test.js
  src/application/summary-logs/validations/meta-syntax.js
  src/application/summary-logs/validations/meta-syntax.schema.js
  src/application/summary-logs/validations/meta-syntax.test.js
  src/application/summary-logs/validations/processing-type.js
  src/application/summary-logs/validations/processing-type.test.js
  src/application/summary-logs/validations/registration-number.js
  src/application/summary-logs/validations/registration-number.test.js
  src/application/summary-logs/validations/table-schemas.js
  src/application/summary-logs/validations/table-schemas.schema.js
  src/common/helpers/spreadsheet/columns.js
  src/common/helpers/spreadsheet/columns.test.js
  src/domain/summary-logs/markers.js
  src/domain/summary-logs/markers.test.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
Due: npm run format, npm run lint:fix

PAE-460: Address SONAR issues
  .claude/commands/pr.md
  src/application/summary-logs/validations/data-syntax.js
Due: npm run format, npm run lint:fix

Add Claude Code PR command for Defra standards
  .claude/commands/pr.md
Due: npm run format

PAE-460: Resolving conflicts
  src/application/summary-logs/validate.js
  src/application/summary-logs/validations/accreditation-number.js
  src/application/summary-logs/validations/accreditation-number.test.js
Due: npm run format, npm run lint:fix

Path conditions:
  npm run format: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
