Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

Update upload-completed logging to use request logger
  src/routes/v1/organisations/registrations/summary-logs/summary-logs.journey.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
Due: npm run format, npm run lint:fix

Update upload-completed logging to comply with CDP standards
  src/routes/v1/organisations/registrations/summary-logs/summary-logs.journey.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
Due: npm run format, npm run lint:fix

Verify upload-completed logs contain all required data
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
Due: npm run format, npm run lint:fix

PAE-358: Update postman collection to use x-api-key in headers for lower environments
  postman/README.md
  postman/dev.postman_environment.json
  postman/epr-backend.postman_collection.json
  postman/test.postman_environment.json
Due: npm run format

Move summary-logs-repository files into subfolder
  src/plugins/repositories.js
  src/repositories/summary-logs-repository.inmemory.test.js
  src/repositories/summary-logs-repository/contract.js
  src/repositories/summary-logs-repository/inmemory.js
  src/repositories/summary-logs-repository/inmemory.test.js
  src/repositories/summary-logs-repository/mongodb.js
  src/repositories/summary-logs-repository/mongodb.test.js
  src/repositories/summary-logs-repository/port.js
  src/repositories/summary-logs-repository/validation.js
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/summary-logs.journey.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.validation.test.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
  src/routes/v1/organisations/registrations/summary-logs/validate.test.js
Due: npm run format, npm run lint:fix

PAE-358: Update README regarding Postman and dev/test environment usage
  CONTRIBUTING.md
  postman/README.md
Due: npm run format

PAE-349: remove tsconfig.json from .gitignore
  .gitignore
Due: none

Change upload-completed to return 202 Accepted
  src/routes/v1/organisations/registrations/summary-logs/summary-logs.journey.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.validation.test.js
Due: npm run format, npm run lint:fix

PAE-349: remove tsconfig.json from .gitignore (#177)
  .gitignore
Due: none

Add JSDoc types for CDP-compliant logging
  src/common/helpers/logging/logger.js
Due: npm run format, npm run lint:fix

Add JSDoc type decorations for Hapi request/server loggers
  src/common/hapi-types.js
  src/common/helpers/apply/payload.js
  src/common/helpers/fail-action.js
  src/common/helpers/mongodb.js
  src/routes/v1/apply/registration.test.js
  src/start-server.js
  vitest.config.js
Due: npm run format, npm run lint:fix

Fix CDP logging property violations
  src/common/helpers/fail-action.js
  src/common/helpers/mongodb.js
Due: npm run format, npm run lint:fix

Remove empty export to satisfy SonarCloud
  src/common/hapi-types.js
Due: npm run format, npm run lint:fix

Allow http.response.status_code in logging typedef
  src/common/helpers/apply/handler.js
  src/common/helpers/fail-action.js
  src/common/helpers/logging/logger.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
Due: npm run format, npm run lint:fix

Add HapiRequest type annotations to remaining route handlers
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
Due: npm run format, npm run lint:fix

Restore http.response.status_code logging to payload validation
  src/common/helpers/apply/payload.js
  src/routes/v1/apply/registration.test.js
Due: npm run format, npm run lint:fix

PAE-296: Add JSDoc types for CDP-compliant logging (#178)
  src/common/hapi-types.js
  src/common/helpers/apply/handler.js
  src/common/helpers/fail-action.js
  src/common/helpers/logging/logger.js
  src/common/helpers/mongodb.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
  src/start-server.js
  vitest.config.js
Due: npm run format, npm run lint:fix

Add sign in user journey
  docs/architecture/discovery/pepr-lld-auth-admin-ui.md
Due: npm run format

Consistently refer to auth cookie generated by @hapi/cookie
  docs/architecture/discovery/pepr-lld-auth-admin-ui.md
Due: npm run format

Fix mermaid syntax errors
  docs/architecture/discovery/pepr-lld-auth-admin-ui.md
Due: npm run format

PAE-300 Add LLD for admin UI auth
  docs/architecture/discovery/pepr-lld-auth-admin-ui.md
Due: npm run format

Add sign out detail
  docs/architecture/discovery/pepr-lld-auth-admin-ui.md
Due: npm run format

Add ADR around MVP approach for authorisation
  docs/architecture/decisions/0013-admin-ui-authorisation-mvp.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

Use CDP Uploader error messages in upload callback
  src/domain/summary-log.js
  src/domain/summary-log.test.js
  src/routes/v1/organisations/registrations/summary-logs/summary-logs.journey.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
Due: npm run format, npm run lint:fix

PAE-358: Update postman collection to use x-api-key in headers for lower environments (#175)
  CONTRIBUTING.md
  postman/dev.postman_environment.json
  postman/epr-backend.postman_collection.json
  postman/test.postman_environment.json
Due: npm run format

Fix failing test coverage
  vitest.config.js
Due: npm run format

PAE-323: introduces worker thread for summary logs
  CONTRIBUTING.md
  docs/architecture/decisions/0010-worker-threads.md
  docs/architecture/decisions/0011-file-parsing.md
  package-lock.json
  package.json
  src/common/enums/event.js
  src/common/helpers/mongo-client.js
  src/common/helpers/mongo-client.test.js
  src/common/helpers/mongo.test.js
  src/common/helpers/plugins/mongo-db-plugin.js
  src/config.js
  src/plugins/workers.js
  src/repositories/summary-logs-repository.contract.js
  src/repositories/summary-logs-repository.inmemory.js
  src/repositories/summary-logs-repository.mongodb.js
  src/repositories/summary-logs-repository.port.js
  src/repositories/summary-logs-repository.schema.js
  src/repositories/summary-logs-repository.validation.js
  src/routes/v1/organisations/registrations/summary-logs/summary-logs.integration.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.schema.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.validation.test.js
  src/server/server.js
  src/start-server.js
  src/start-server.test.js
  src/test/helpers/mock-config.js
  src/workers/summary-logs/validator/summary-logs-validator.inline.js
  src/workers/summary-logs/validator/summary-logs-validator.inline.test.js
  src/workers/summary-logs/validator/summary-logs-validator.piscina.js
  src/workers/summary-logs/validator/summary-logs-validator.piscina.test.js
  src/workers/summary-logs/validator/summary-logs-validator.port.js
  src/workers/summary-logs/validator/worker/summary-logs-validator-worker-thread.js
  src/workers/summary-logs/validator/worker/summary-logs-validator-worker-thread.test.js
  src/workers/summary-logs/validator/worker/summary-logs-validator-worker.js
  src/workers/summary-logs/validator/worker/summary-logs-validator-worker.test.js
Due: npm run format, npm run lint:fix, npm run adr:generate:toc

PAE-323: address sonar issues
  .dockerignore
  .npmignore
  src/common/helpers/mongo-client.js
  src/common/helpers/plugins/mongo-db-plugin.js
  src/plugins/workers.js
  src/repositories/summary-logs-repository.contract.js
  src/test/helpers/mock-config.js
  src/workers/summary-logs/validator/summary-logs-validator.piscina.js
  src/workers/summary-logs/validator/worker/summary-logs-validator-worker-thread.js
  src/workers/summary-logs/validator/worker/summary-logs-validator-worker.js
Due: npm run format, npm run lint:fix

PAE-323: pass error to logger
  src/plugins/workers.js
Due: npm run format, npm run lint:fix

PAE-296: add upload completed logging (#164)
  src/domain/summary-log.js
  src/domain/summary-log.test.js
  src/routes/v1/organisations/registrations/summary-logs/summary-logs.journey.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.validation.test.js
Due: npm run format, npm run lint:fix

Add sequence diagram for option 3
  docs/architecture/decisions/0013-admin-ui-authorisation-mvp.md
Due: npm run format, npm run adr:generate:toc

Remove reference to secrets
  docs/architecture/decisions/0013-admin-ui-authorisation-mvp.md
Due: npm run format, npm run adr:generate:toc

Initial GET end point Script + fixtures for loading in organisations
  src/data/fixtures/admin/import-fixtures.sh
  src/data/fixtures/admin/organisation/sample-organisation-1.json
  src/data/fixtures/admin/organisation/sample-organisation-2.json
  src/data/fixtures/admin/organisation/sample-organisation-3.json
  src/data/fixtures/admin/organisation/sample-organisation-4.json
  src/repositories/organistions-repository/mongodb.js
  src/repositories/organistions-repository/port.js
  src/routes/v1/organisations/get.js
Due: npm run format, npm run lint:fix

Removed 'repository' from new path
  src/plugins/repositories.js
  src/repositories/summary-logs/contract.js
  src/repositories/summary-logs/inmemory.js
  src/repositories/summary-logs/inmemory.test.js
  src/repositories/summary-logs/mongodb.js
  src/repositories/summary-logs/mongodb.test.js
  src/repositories/summary-logs/port.js
  src/repositories/summary-logs/validation.js
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/summary-logs.journey.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.validation.test.js
  src/routes/v1/organisations/registrations/summary-logs/validate.js
  src/routes/v1/organisations/registrations/summary-logs/validate.test.js
Due: npm run format, npm run lint:fix

Renamed organisations repository path remove repository
  src/repositories/organistions/mongodb.js
  src/repositories/organistions/port.js
  src/routes/v1/organisations/get.js
Due: npm run format, npm run lint:fix

docs: clarify CDP Uploader callback transitions in state diagram
  docs/architecture/discovery/pepr-hld.md
Due: npm run format

test: add comprehensive state transition tests for upload-completed
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
Due: npm run format, npm run lint:fix

feat: implement state transition validation for summary logs
  src/domain/summary-log.js
  src/domain/summary-log.test.js
  src/repositories/summary-logs-repository.contract.js
  src/repositories/summary-logs-repository.inmemory.js
  src/repositories/summary-logs-repository.mongodb.js
  src/repositories/summary-logs-repository.port.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.test.js
Due: npm run format, npm run lint:fix

PAE-323: introduces worker thread for summary logs
  CONTRIBUTING.md
  docs/architecture/decisions/0010-worker-threads.md
  docs/architecture/decisions/0011-file-parsing.md
  package-lock.json
  package.json
  src/common/enums/event.js
  src/common/helpers/mongo-client.js
  src/common/helpers/mongo-client.test.js
  src/common/helpers/mongo.test.js
  src/common/helpers/plugins/mongo-db-plugin.js
  src/config.js
  src/plugins/workers.js
  src/repositories/summary-logs-repository.contract.js
  src/repositories/summary-logs-repository.inmemory.js
  src/repositories/summary-logs-repository.mongodb.js
  src/repositories/summary-logs-repository.port.js
  src/repositories/summary-logs-repository.schema.js
  src/repositories/summary-logs-repository.validation.js
  src/routes/v1/organisations/registrations/summary-logs/summary-logs.integration.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.schema.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed.validation.test.js
  src/server/server.js
  src/start-server.js
  src/start-server.test.js
  src/test/helpers/mock-config.js
  src/workers/summary-logs/validator/summary-logs-validator.inline.js
  src/workers/summary-logs/validator/summary-logs-validator.inline.test.js
  src/workers/summary-logs/validator/summary-logs-validator.piscina.js
  src/workers/summary-logs/validator/summary-logs-validator.piscina.test.js
  src/workers/summary-logs/validator/summary-logs-validator.port.js
  src/workers/summary-logs/validator/worker/summary-logs-validator-worker-thread.js
  src/workers/summary-logs/validator/worker/summary-logs-validator-worker-thread.test.js
  src/workers/summary-logs/validator/worker/summary-logs-validator-worker.js
  src/workers/summary-logs/validator/worker/summary-logs-validator-worker.test.js
Due: npm run format, npm run lint:fix, npm run adr:generate:toc

Path conditions:
  npm run format: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
