Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

PAE-201: More details to ADR for data extraction
  docs/architecture/decisions/0004-data-extraction.md
Due: npm run format, npm run adr:generate:toc

PAE-201: Fix formatting
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PAE-201: Added clarification
  docs/architecture/decisions/0004-data-extraction.md
Due: npm run format, npm run adr:generate:toc

sonar nested template literals
  src/start-server.js
Due: npm run format, npm run lint:fix

PAE-201: Detail about CDP principles
  docs/architecture/decisions/0004-data-extraction.md
Due: npm run format, npm run adr:generate:toc

PAE-204: update ERD and add explanation of endpoints
  docs/architecture/discovery/pepr-hld.md
Due: npm run format

PAE-195 - Tidy up code (#80)
  CONTRIBUTING.md
  src/common/helpers/apply/handler.js
  src/common/helpers/fail-action.js
  src/common/helpers/get-local-secret.js
  src/common/helpers/get-local-secret.test.js
  src/common/helpers/logging/logger.js
  src/common/helpers/logging/logger.test.js
  src/common/helpers/metrics.js
  src/common/helpers/metrics.test.js
  src/common/helpers/mongo-lock.js
  src/common/helpers/mongo-lock.test.js
  src/common/helpers/notify.js
  src/common/helpers/notify.test.js
  src/common/helpers/proxy/setup-proxy.js
  src/common/helpers/pulse.js
  src/index.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/organisation.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/apply/registration.test.js
  src/start-server.js
  src/start-server.test.js
Due: npm run format, npm run lint:fix

PAE-205: Point to main branch
  .github/workflows/check-pull-request.yml
Due: none

PAE-205: Test adding github actions to run journey tests on PR
  .github/workflows/check-pull-request.yml
Due: none

PAE-205: Add github actions to run backend journey tests on each PR
  .github/workflows/check-pull-request.yml
Due: none

PAE-202: Update Contributing.md on backend journey tests link and data generation readme
  CONTRIBUTING.md
Due: npm run format

PAE-202: Update readme to use texts for links instead of directly linking the URL
  CONTRIBUTING.md
Due: npm run format

PAE-201: Redefine scope of endpoint
  docs/architecture/decisions/0004-data-extraction.md
Due: npm run format, npm run adr:generate:toc

PAE-201: Add info on credentials for protected endpoints
  docs/architecture/decisions/0004-data-extraction.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PAE-201: ADR for data extraction (#81)
  docs/architecture/decisions/0004-data-extraction.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PAE-202: Update Contributing.md on backend journey tests link and data generation readme (#91)
  CONTRIBUTING.md
Due: npm run format

PAE-205: Add github actions to run backend journey tests on each PR (#90)
  .github/workflows/check-pull-request.yml
Due: none

PAE-204: add de-risking approach to HLD
  docs/architecture/discovery/pepr-hld.md
Due: npm run format

PAE-206 Update documentation around postman usage
  CONTRIBUTING.md
  README.md
  postman/CDP-Dev.postman_environment.json
  postman/CDP-Prod.postman_environment.json
  postman/CDP-Test.postman_environment.json
  postman/epr-backend.postman_collection.json
Due: npm run format

PAE-206 Update documentation around postman usage (#92)
  CONTRIBUTING.md
  README.md
  postman/CDP-Dev.postman_environment.json
  postman/CDP-Prod.postman_environment.json
  postman/CDP-Test.postman_environment.json
  postman/epr-backend.postman_collection.json
Due: npm run format

PAE-203: scaffolded new /apply/report endpoint
  src/routes/v1/apply/index.js
  src/routes/v1/apply/report.js
Due: npm run format, npm run lint:fix

PAE-195: Test logging
  .github/workflows/check-pull-request.yml
Due: none

PAE-195: use Git SHA instead
  .github/workflows/check-pull-request.yml
Due: none

Update reference
  .github/workflows/check-pull-request.yml
Due: none

PAE-210 Update version of sonarcloud github action
  .github/workflows/check-pull-request.yml
  .github/workflows/publish-hotfix.yml
  .github/workflows/publish.yml
Due: none

PAE-200 - Internal only documentation
  CONTRIBUTING.md
Due: npm run format

links
  CONTRIBUTING.md
Due: npm run format

moved from page to folder
  CONTRIBUTING.md
Due: npm run format

Test commit
  README.md
Due: npm run format

update based on recent discussions
  docs/architecture/discovery/pepr-hld.md
Due: npm run format

update pepr-hld, use DB shapes in reg-acc-hld
  docs/architecture/defined/2025-reg-acc-lld.md
  docs/architecture/discovery/pepr-hld.md
Due: npm run format

update pepr-hld with: new versioning approach, refactored entities, role-based permissions
  docs/architecture/discovery/pepr-hld.md
Due: npm run format

update check marks for better legibility in GH
  docs/architecture/discovery/pepr-hld.md
Due: npm run format

PAE-207 - Investigate parsing summary log
  docs/architecture/decisions/0005-parsing-excel-summary-log.md
Due: npm run format, npm run adr:generate:toc

Pae 200 internal only documentation (#96)
  CONTRIBUTING.md
Due: npm run format

index
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PAE-225: dependency updates (#105)
  .github/workflows/check-pull-request.yml
  package-lock.json
  package.json
Due: npm run format

PAE-217: Scaffolded ADR for epr-portal
  docs/architecture/decisions/0005-admin-ui-adr.md
Due: npm run format, npm run adr:generate:toc

PAE-217: Refined Admin UI ADR
  docs/architecture/decisions/0005-admin-ui-adr.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PAE-207 improve spelling and grammar
  docs/architecture/decisions/0005-admin-ui-adr.md
Due: npm run format, npm run adr:generate:toc

Path conditions:
  npm run format: any of: *.{js,json,md}
  npm run lint:fix: any of: src/**/*.js
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
