Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"]
}

Name material validation log fields by set
  src/application/summary-logs/validations/material-type.js
Due: npm run format, npm run lint:fix

PAE-1944: Name material validation log fields by set (#1724)
  src/application/summary-logs/validations/material-type.js
Due: npm run format, npm run lint:fix

Prove the running month is rejected to its end
  src/market-insights/routes/waste-balance-get.test.js
Due: npm run format, npm run lint:fix

Key the market insights waste balance by period
  src/market-insights/application/waste-balance-table.js
  src/market-insights/application/waste-balance-table.test.js
  src/market-insights/routes/waste-balance-get.integration.test.js
  src/market-insights/routes/waste-balance-get.js
  src/market-insights/routes/waste-balance-get.test.js
  src/market-insights/routes/waste-balance-response.schema.js
Due: npm run format, npm run lint:fix

Prove the month after the window is held back
  src/market-insights/application/waste-balance-table.test.js
Due: npm run format, npm run lint:fix

Judge the market insights month end in UK time
  src/market-insights/routes/waste-balance-get.js
  src/market-insights/routes/waste-balance-get.test.js
Due: npm run format, npm run lint:fix

PAE-1950: Key the market insights waste balance by reporting period (#1725)
  src/market-insights/application/waste-balance-table.js
  src/market-insights/application/waste-balance-table.test.js
  src/market-insights/routes/waste-balance-get.integration.test.js
  src/market-insights/routes/waste-balance-get.js
  src/market-insights/routes/waste-balance-get.test.js
  src/market-insights/routes/waste-balance-response.schema.js
Due: npm run format, npm run lint:fix

Serve every material and type in the waste balance
  src/market-insights/application/waste-balance-table.js
  src/market-insights/application/waste-balance-table.test.js
  src/market-insights/routes/waste-balance-get.integration.test.js
  src/market-insights/routes/waste-balance-get.test.js
Due: npm run format, npm run lint:fix

Pin the published grid size in the tests
  src/market-insights/application/waste-balance-table.js
  src/market-insights/application/waste-balance-table.test.js
  src/market-insights/routes/waste-balance-get.test.js
Due: npm run format, npm run lint:fix

Split rules generator into tested lib, action review
  docs/summary-log-rules.md
  scripts/generate-summary-log-rules.mjs
  scripts/summary-log-rules.mjs
  scripts/summary-log-rules.test.mjs
Due: npm run format

Emit rules doc to stdout, keep output out of this repo
  .prettierignore
  docs/summary-log-rules.md
  scripts/generate-summary-log-rules.mjs
  scripts/summary-log-rules.mjs
Due: npm run format

PAE-1922: Add dec JT matrix
  .github/workflows/check-pull-request.yml
  src/waste-balances/domain/pool-balances.js
  src/waste-balances/routes/get.js
Due: npm run format, npm run lint:fix

PAE-1922: Emit a December control mode and nonDecemberAvailableAmount
  src/packaging-recycling-notes/domain/december-waste-control-mode.js
  src/packaging-recycling-notes/domain/december-waste-control-mode.test.js
  src/packaging-recycling-notes/domain/december-waste-window.js
  src/packaging-recycling-notes/domain/december-waste-window.test.js
  src/packaging-recycling-notes/routes/december-eligibility.js
  src/packaging-recycling-notes/routes/december-eligibility.test.js
  src/waste-balances/domain/pool-balances.js
  src/waste-balances/routes/get.js
  src/waste-balances/routes/get.test.js
  src/waste-balances/routes/integration.test.js
  src/waste-balances/routes/response.schema.js
Due: npm run format, npm run lint:fix

PAE-1922: Point run-journey-tests at the matched branch, not @main
  .github/workflows/check-pull-request.yml
Due: none

PAE-1922: Revert run-journey-tests ref to @main
  .github/workflows/check-pull-request.yml
Due: none

PAE-1922: Temporarily pin run-journey-tests to this PR's branch
  .github/workflows/check-pull-request.yml
Due: none

PAE-1922: Emit nonDecemberAvailableAmount and a December control mode enum (#1723)
  .github/workflows/check-pull-request.yml
  src/packaging-recycling-notes/domain/december-waste-control-mode.js
  src/packaging-recycling-notes/domain/december-waste-control-mode.test.js
  src/packaging-recycling-notes/domain/december-waste-window.js
  src/packaging-recycling-notes/domain/december-waste-window.test.js
  src/packaging-recycling-notes/routes/december-eligibility.js
  src/packaging-recycling-notes/routes/december-eligibility.test.js
  src/waste-balances/routes/get.js
  src/waste-balances/routes/get.test.js
  src/waste-balances/routes/integration.test.js
  src/waste-balances/routes/response.schema.js
Due: npm run format, npm run lint:fix

PAE-1922: Revert run-journey-tests stopgap now #193 has merged
  .github/workflows/check-pull-request.yml
Due: none

Point the journey test action back at main
  .github/workflows/check-pull-request.yml
Due: none

PAE-1922: Revert run-journey-tests stopgap now #193 has merged (#1728)
  .github/workflows/check-pull-request.yml
Due: none

PAE-1944: Serve every material and accreditation type in the waste balance (#1726)
  src/market-insights/application/waste-balance-table.js
  src/market-insights/application/waste-balance-table.test.js
  src/market-insights/routes/waste-balance-get.integration.test.js
  src/market-insights/routes/waste-balance-get.test.js
Due: npm run format, npm run lint:fix

Count the monthly reports the waste balance includes
  src/market-insights/application/monthly-reports.js
  src/market-insights/application/waste-balance-table.js
  src/market-insights/application/waste-balance-table.test.js
  src/market-insights/routes/waste-balance-get.integration.test.js
  src/market-insights/routes/waste-balance-get.js
  src/market-insights/routes/waste-balance-get.test.js
  src/market-insights/routes/waste-balance-response.schema.js
  src/reports/application/report-compliance.js
Due: npm run format, npm run lint:fix

Count served months without a second clock
  src/domain/organisations/registration-utils.js
  src/market-insights/application/monthly-reports.js
  src/market-insights/application/waste-balance-table.js
  src/market-insights/application/waste-balance-table.test.js
Due: npm run format, npm run lint:fix

Stop counting reports after an accreditation ends
  src/market-insights/application/monthly-reports.js
  src/market-insights/application/waste-balance-table.test.js
Due: npm run format, npm run lint:fix

Count the monthly reports for each month served
  src/market-insights/application/monthly-reports.js
  src/market-insights/application/waste-balance-table.js
  src/market-insights/application/waste-balance-table.test.js
  src/market-insights/routes/waste-balance-get.integration.test.js
  src/market-insights/routes/waste-balance-get.test.js
  src/market-insights/routes/waste-balance-response.schema.js
Due: npm run format, npm run lint:fix

Serve the period total of monthly reports
  src/market-insights/application/monthly-reports.js
  src/market-insights/application/waste-balance-table.js
  src/market-insights/application/waste-balance-table.test.js
  src/market-insights/routes/waste-balance-get.integration.test.js
  src/market-insights/routes/waste-balance-get.test.js
  src/market-insights/routes/waste-balance-response.schema.js
Due: npm run format, npm run lint:fix

Count the reports a cancelled accreditation owed
  src/domain/organisations/registration-utils.js
  src/market-insights/application/monthly-reports.js
  src/market-insights/application/waste-balance-table.test.js
Due: npm run format, npm run lint:fix

Key the monthly report counts by month
  src/market-insights/application/monthly-reports.js
  src/market-insights/application/waste-balance-table.test.js
  src/market-insights/routes/waste-balance-get.integration.test.js
  src/market-insights/routes/waste-balance-get.test.js
  src/market-insights/routes/waste-balance-response.schema.js
Due: npm run format, npm run lint:fix

Brand the reporting month key
  src/common/helpers/dates/year-month.js
  src/market-insights/application/monthly-reports.js
  src/market-insights/application/waste-balance-table.js
  src/market-insights/application/waste-balance-table.test.js
  src/market-insights/routes/waste-balance-get.js
Due: npm run format, npm run lint:fix

Key the waste balance by month, material and accreditation type
  src/market-insights/application/waste-balance-table.js
  src/market-insights/application/waste-balance-table.test.js
  src/market-insights/routes/waste-balance-get.integration.test.js
  src/market-insights/routes/waste-balance-get.test.js
  src/market-insights/routes/waste-balance-response.schema.js
Due: npm run format, npm run lint:fix

Clear the Sonar findings on the waste balance counts
  src/market-insights/application/monthly-reports.js
  src/market-insights/application/waste-balance-table.test.js
  src/market-insights/routes/waste-balance-get.js
Due: npm run format, npm run lint:fix

Rename the record builder's parameter
  src/market-insights/application/waste-balance-table.js
Due: npm run format, npm run lint:fix

Owe a monthly report for every month not cancelled throughout
  src/common/helpers/dates/accreditation.js
  src/common/helpers/dates/accreditation.test.js
  src/market-insights/application/monthly-reports.js
  src/market-insights/application/waste-balance-table.test.js
Due: npm run format, npm run lint:fix

Compare calendar dates with localeCompare
  src/common/helpers/dates/accreditation.js
Due: npm run format, npm run lint:fix

Read the status held on a day through one history walk
  src/common/helpers/dates/accreditation.js
  src/common/helpers/dates/accreditation.test.js
  src/market-insights/application/monthly-reports.js
Due: npm run format, npm run lint:fix

Say why the obligation asks day by day
  src/market-insights/application/monthly-reports.js
Due: npm run format, npm run lint:fix

PAE-1944: Say how many monthly reports each month of the waste balance includes (#1730)
  src/common/helpers/dates/accreditation.js
  src/common/helpers/dates/year-month.js
  src/market-insights/application/monthly-reports.js
  src/market-insights/application/waste-balance-table.js
  src/market-insights/application/waste-balance-table.test.js
  src/market-insights/routes/waste-balance-get.integration.test.js
  src/market-insights/routes/waste-balance-get.js
  src/market-insights/routes/waste-balance-get.test.js
  src/market-insights/routes/waste-balance-response.schema.js
  src/reports/application/report-compliance.js
Due: npm run format, npm run lint:fix

Count outstanding monthly returns by material and band
  src/domain/organisations/accreditation.js
  src/market-insights/application/monthly-reports.js
  src/market-insights/application/outstanding-returns.js
  src/market-insights/application/outstanding-returns.test.js
  src/market-insights/application/waste-balance-table.js
  src/market-insights/domain/record-of.js
  src/waste-records-export/domain/csv-columns.test.js
Due: npm run format, npm run lint:fix

Serve the UK reprocessor and exporter figures
  src/market-insights/application/reprocessor-exporter-table.js
  src/market-insights/application/reprocessor-exporter-table.test.js
  src/market-insights/application/waste-balance-table.js
  src/market-insights/domain/record-of.js
  src/market-insights/domain/reprocessor-exporter-figures.js
  src/market-insights/domain/reprocessor-exporter-figures.test.js
  src/market-insights/index.js
  src/market-insights/routes/index.js
  src/market-insights/routes/published-months.js
  src/market-insights/routes/reprocessor-exporter-figures-get.integration.test.js
  src/market-insights/routes/reprocessor-exporter-figures-get.js
  src/market-insights/routes/reprocessor-exporter-figures-get.test.js
  src/market-insights/routes/reprocessor-exporter-figures-response.schema.js
Due: npm run format, npm run lint:fix

Type the published cell as the union it holds
  src/market-insights/application/reprocessor-exporter-table.js
  src/market-insights/domain/reprocessor-exporter-figures.js
Due: npm run format, npm run lint:fix
