Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm test

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run format", "npm run lint:fix", "npm test"]
}

PAE-130: setup ADR tools
  .adr-dir
  .lintstagedrc.json
  CONTRIBUTING.md
  docs/architecture/decisions/0001-record-architecture-decisions.md
  docs/architecture/decisions/index.md
  package.json
Due: npm run format

PAE-118: document technical scope of project understood to date
  docs/architecture/discovery/2025-reg-acc-hld.md
  docs/architecture/discovery/index.md
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/index.md
Due: npm run format

PAE-121: add pull request template and Jira ticket number validator/parser
  .github/pull_request_template.md
  .github/workflows/check-pull-request.yml
Due: npm run format

PAE-121: setup code coverage rules
  .lintstagedrc.json
  jest.config.js
  package.json
  src/common/helpers/logging/logger-options.js
  src/common/helpers/mongo-lock.js
  src/common/helpers/mongodb.js
  src/routes/health.js
Due: npm run format, npm run lint:fix, npm test

fix minor issues with PR prep job
  .github/pull_request_template.md
  .github/workflows/check-pull-request.yml
Due: npm run format

fix GITHUB_TOKEN on pr-prep job
  .github/workflows/check-pull-request.yml
Due: none

preparation job testing
  .github/workflows/check-pull-request.yml
Due: none

fix publish workflow
  .github/workflows/publish.yml
Due: none

PAE-125: add Postman collection and environment. Update CONTRIBUTING with info relating to Docker stack
  CONTRIBUTING.md
  postman/epr-backend.postman_collection.json
  postman/local.postman_environment.json
Due: npm run format

PAE-119: add adr for database schema design
  docs/architecture/decisions/0002-registration-accreditation-form-database-schema.md
  docs/architecture/decisions/index.md
Due: npm run format

prettying
  src/routes/notify.js
Due: npm run format, npm run lint:fix, npm test

ignoring coverage
  src/common/helpers/notify.js
  src/common/helpers/notify.test.js
Due: npm run format, npm run lint:fix, npm test

prettying
  src/common/helpers/notify.test.js
Due: npm run format, npm run lint:fix, npm test

fixing sonar issues
  src/constants.js
  src/routes/notify.js
Due: npm run format, npm run lint:fix, npm test

mocking mongo for now
  src/common/helpers/notify.test.js
Due: npm run format, npm run lint:fix, npm test

PAE-116 - integrate-notify-with-backend
  .env
  eslint.config.js
  package-lock.json
  package.json
  src/common/helpers/notify.js
  src/common/helpers/notify.test.js
  src/index.js
  src/plugins/router.js
  src/routes/notify.js
  src/routes/notify.test.js
Due: npm run format, npm run lint:fix, npm test

chaging where dotevn is placed
  src/config.js
Due: npm run format, npm run lint:fix, npm test

prettying
  src/constants.js
Due: npm run format, npm run lint:fix, npm test

linting fixes
  src/common/helpers/notify.js
  src/plugins/router.js
  src/routes/notify.js
Due: npm run format, npm run lint:fix, npm test

fixing console error in test
  src/index.js
  src/routes/notify.js
  src/routes/notify.test.js
Due: npm run format, npm run lint:fix, npm test

pr comments
  eslint.config.js
  postman/epr-backend.postman_collection.json
  src/common/helpers/notify.js
Due: npm run format, npm run lint:fix, npm test

removing linting
  package-lock.json
  package.json
Due: npm run format

removing extra logging
  src/common/helpers/notify.js
  src/common/helpers/notify.test.js
Due: npm run format, npm run lint:fix, npm test

removing status codes
  src/routes/notify.js
  src/routes/notify.test.js
Due: npm run format, npm run lint:fix, npm test

fix logger mocking
  src/common/helpers/notify.js
  src/common/helpers/notify.test.js
  src/common/helpers/start-server.test.js
Due: npm run format, npm run lint:fix, npm test

fixing tests, error not warn
  src/common/helpers/notify.js
Due: npm run format, npm run lint:fix, npm test

fixing prettier error and notify changes
  .husky/pre-commit
  .lintstagedrc.json
  postman/epr-backend.postman_collection.json
  src/constants.js
  src/routes/notify.js
  src/routes/notify.test.js
Due: npm run format, npm run lint:fix, npm test

PAE-116: refactor to use Docker Secrets via Env Vars
  .gitignore
  CONTRIBUTING.md
  compose.yml
  src/common/helpers/get-local-secret.js
  src/common/helpers/notify.js
  src/common/helpers/notify.test.js
Due: npm run format, npm run lint:fix, npm test

removing env file and dotenv
  .env
  .gitignore
  compose.yml
  package-lock.json
  package.json
  src/common/helpers/notify.js
  src/common/helpers/notify.test.js
  src/config.js
Due: npm run format, npm run lint:fix, npm test

removing double declaration
  src/common/helpers/notify.js
Due: npm run format, npm run lint:fix, npm test

PAE-116: add missing test coverage
  .gitignore
  .husky/pre-commit
  CONTRIBUTING.md
  babel.config.cjs
  package-lock.json
  package.json
  src/common/helpers/get-local-scret.test.js
  src/common/helpers/get-local-secret.js
  src/common/helpers/notify.js
  src/common/helpers/notify.test.js
  src/config.js
  src/index.js
  src/routes/notify.test.js
Due: npm run format, npm run lint:fix, npm test

PAE-116: integrate with Gov Notify
  .husky/pre-commit
  .lintstagedrc.json
  CONTRIBUTING.md
  babel.config.cjs
  compose.yml
  package-lock.json
  package.json
  postman/epr-backend.postman_collection.json
  src/common/helpers/get-local-scret.test.js
  src/common/helpers/get-local-secret.js
  src/common/helpers/notify.js
  src/common/helpers/notify.test.js
  src/common/helpers/start-server.test.js
  src/plugins/router.js
  src/routes/notify.js
  src/routes/notify.test.js
Due: npm run format, npm run lint:fix, npm test

PAE-150: migrate to vitest
  .gitignore
  .jest/setup-files-after-env.js
  .jest/setup-files.js
  .vite/mongo-memory-server.js
  .vite/setup-files.js
  eslint.config.js
  jest-mongodb-config.js
  jest.config.js
  package-lock.json
  package.json
  src/common/helpers/get-local-scret.test.js
  src/common/helpers/logging/logger-options.js
  src/common/helpers/metrics.test.js
  src/common/helpers/mongo-lock.test.js
  src/common/helpers/mongodb.js
  src/common/helpers/mongodb.test.js
  src/common/helpers/notify.test.js
  src/common/helpers/secure-context/secure-context.test.js
  src/common/helpers/start-server.test.js
  src/config.js
  src/routes/health.js
  src/routes/notify.test.js
  src/server.js
  vitest.config.js
Due: npm run format, npm run lint:fix, npm test

PAE-150: add further commits from template lib to fix test and GHA issues
  .github/workflows/check-pull-request.yml
  .github/workflows/publish-hotfix.yml
  .github/workflows/publish.yml
  package-lock.json
  package.json
  src/common/helpers/mongodb.js
  src/common/helpers/secure-context/get-trust-store-certs.js
  src/common/helpers/secure-context/get-trust-store-certs.test.js
  src/common/helpers/secure-context/index.js
  src/common/helpers/secure-context/secure-context.js
  src/common/helpers/secure-context/secure-context.test.js
  src/common/helpers/start-server.test.js
  src/config.js
  src/server.js
Due: npm run format, npm run lint:fix, npm test
