Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"]
}

show links on the pr checks summary
  .github/actions/test-and-scan/action.yml
Due: none

remove branch from summary
  .github/workflows/check-pull-request.yml
Due: none

PAE-1038: Extract shared test helper and add conditional glassRecyclingProcess validation
  src/packaging-recycling-notes/repository/schema.js
  src/packaging-recycling-notes/repository/schema.test.js
  src/packaging-recycling-notes/repository/validation.test.js
Due: npm run format, npm run lint:fix

PAE-1038: Throw when accreditation is missing validFrom
  src/packaging-recycling-notes/routes/post.js
  src/packaging-recycling-notes/routes/post.test.js
Due: npm run format, npm run lint:fix

new linked-organisations endpoint
  src/plugins/router.js
  src/repositories/organisations/contract/find-all-linked.contract.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/port.contract.js
  src/repositories/organisations/port.js
  src/routes/v1/linked-organisations/get.js
  src/routes/v1/linked-organisations/get.test.js
  src/routes/v1/linked-organisations/index.js
  src/routes/v1/linked-organisations/response.schema.js
Due: npm run format, npm run lint:fix

add name filter
  src/repositories/organisations/contract/find-all-linked.contract.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/port.js
  src/routes/v1/linked-organisations/get.js
  src/routes/v1/linked-organisations/get.test.js
Due: npm run format, npm run lint:fix

remove duplication
  src/repositories/organisations/contract/find-all-linked.contract.js
  src/repositories/organisations/contract/test-data.js
  src/routes/v1/linked-organisations/get.test.js
Due: npm run format, npm run lint:fix

inmemory match on orgId
  src/repositories/organisations/inmemory.js
Due: npm run format, npm run lint:fix

PAE-1038: Use real in-memory adapter in POST route test
  src/packaging-recycling-notes/routes/post.js
  src/packaging-recycling-notes/routes/post.test.js
Due: npm run format, npm run lint:fix

PAE-1038: Require glassRecyclingProcess for glass PRNs
  src/packaging-recycling-notes/repository/contract/create.contract.js
  src/packaging-recycling-notes/repository/schema.js
  src/packaging-recycling-notes/repository/schema.test.js
  src/packaging-recycling-notes/routes/get-by-id.test.js
  src/packaging-recycling-notes/routes/get.test.js
Due: npm run format, npm run lint:fix

make response less permissive
  src/routes/v1/linked-organisations/get.js
  src/routes/v1/linked-organisations/get.test.js
  src/routes/v1/linked-organisations/response.schema.js
Due: npm run format, npm run lint:fix

mongo match on orgId
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/mongodb.test.js
Due: npm run format, npm run lint:fix

PAE-1038: Tighten PRN insert schema validation
  src/packaging-recycling-notes/repository/contract/create.contract.js
  src/packaging-recycling-notes/repository/contract/find.contract.js
  src/packaging-recycling-notes/repository/contract/test-data.js
  src/packaging-recycling-notes/repository/schema.js
  src/packaging-recycling-notes/repository/schema.test.js
  src/packaging-recycling-notes/routes/post.test.js
Due: npm run format, npm run lint:fix

PAE-1038: Add actor-aware PRN state transitions
  package-lock.json
  src/packaging-recycling-notes/application/update-status.js
  src/packaging-recycling-notes/application/update-status.test.js
  src/packaging-recycling-notes/domain/model.js
  src/packaging-recycling-notes/domain/model.test.js
  src/packaging-recycling-notes/routes/status.js
  src/packaging-recycling-notes/routes/status.test.js
Due: npm run format, npm run lint:fix

PAE-1038: Move actor enforcement tests to own describe block
  src/packaging-recycling-notes/routes/status.js
  src/packaging-recycling-notes/routes/status.test.js
Due: npm run format, npm run lint:fix

PAE-1038: Revert unrelated package-lock.json changes
  package-lock.json
Due: npm run format

PAE-1038: Clarify INTERNAL_ACTOR_BY_STATUS as inference of requester role
  src/packaging-recycling-notes/routes/status.js
Due: npm run format, npm run lint:fix

PAE-1038: Use it.each and constants for isValidTransition tests
  src/packaging-recycling-notes/domain/model.test.js
Due: npm run format, npm run lint:fix

PAE-1038: Remove redundant constant-value tests from model
  src/packaging-recycling-notes/domain/model.test.js
Due: npm run format, npm run lint:fix

Add distinct domain errors for transition validation
  src/packaging-recycling-notes/application/update-status.js
  src/packaging-recycling-notes/application/update-status.test.js
  src/packaging-recycling-notes/domain/model.js
  src/packaging-recycling-notes/domain/model.test.js
  src/packaging-recycling-notes/routes/status.js
  src/packaging-recycling-notes/routes/status.test.js
Due: npm run format, npm run lint:fix

PAE-1038: Extract shared external transition handler for accept/reject
  src/packaging-recycling-notes/routes/accept.js
  src/packaging-recycling-notes/routes/accept.test.js
  src/packaging-recycling-notes/routes/external-transition-handler.js
  src/packaging-recycling-notes/routes/external-transition-handler.test.js
  src/packaging-recycling-notes/routes/reject.js
  src/packaging-recycling-notes/routes/reject.test.js
Due: npm run format, npm run lint:fix

remove unnecessary docker build
  .github/workflows/check-pull-request.yml
Due: none

PAE-000: Fixed failing tests
  src/repositories/summary-logs/inmemory.js
  src/repositories/summary-logs/port.js
  src/routes/v1/organisations/registrations/summary-logs/integration.repeated-uploads.test.js
  src/routes/v1/organisations/registrations/summary-logs/integration.upload-lifecycle.test.js
  src/routes/v1/organisations/registrations/summary-logs/integration.validation-advanced.test.js
  src/routes/v1/organisations/registrations/summary-logs/integration.validation-reprocessor-input.test.js
  src/routes/v1/organisations/registrations/summary-logs/test-helpers/test-setup.js
  src/routes/v1/organisations/waste-balances/integration.test.js
Due: npm run format, npm run lint:fix

fold docs-only check into pr-prep
  .github/workflows/check-pull-request.yml
Due: none

reset to using github action@main
  .github/workflows/check-pull-request.yml
Due: none

PAE-1053: use journey tests on matching branch (#783)
  .github/actions/test-and-scan/action.yml
  .github/workflows/check-pull-request.yml
  CONTRIBUTING.md
  vitest.config.js
Due: npm run format

PAE-1014: Use common test org function
  src/application/summary-log-uploads-report/generate-report.js
Due: npm run format, npm run lint:fix

Fix TypeScript errors by updating Registration type definitions with proper Material and GlassRecyclingProcess types
  src/application/summary-log-uploads-report/generate-report.js
  src/application/summary-log-uploads-report/types.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/port.js
Due: npm run format, npm run lint:fix

PAE-1014: Add summary log uploads report endpoint
  src/application/public-register/public-register-transformer.js
  src/application/summary-log-uploads-report/generate-report.js
  src/application/summary-log-uploads-report/generate-report.test.js
  src/application/summary-log-uploads-report/types.js
  src/common/helpers/date-formatter.js
  src/common/helpers/date-formatter.test.js
  src/common/helpers/formatters.js
  src/common/helpers/formatters.test.js
  src/config.js
  src/domain/summary-logs/status.js
  src/plugins/router.js
  src/repositories/organisations/contract/find-by-ids.contract.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/port.contract.js
  src/repositories/organisations/port.js
  src/repositories/summary-logs/contract/find-all-stats.contract.js
  src/repositories/summary-logs/inmemory.js
  src/repositories/summary-logs/mongodb.js
  src/repositories/summary-logs/port.contract.js
  src/repositories/summary-logs/port.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/organisations/registrations/summary-logs/reports/uploads/get.js
  src/routes/v1/organisations/registrations/summary-logs/reports/uploads/get.test.js
  src/routes/v1/organisations/registrations/summary-logs/reports/uploads/index.js
  src/routes/v1/organisations/registrations/summary-logs/reports/uploads/response.schema.js
Due: npm run format, npm run lint:fix

Address review comments: Fix logic and clean up code
  src/application/summary-log-uploads-report/generate-report.js
  src/repositories/summary-logs/mongodb.js
  src/repositories/summary-logs/port.js
Due: npm run format, npm run lint:fix

PAE-1014: Reporting of summary log uploads by registrations (#771)
  src/application/public-register/public-register-transformer.js
  src/application/summary-log-uploads-report/generate-report.js
  src/application/summary-log-uploads-report/generate-report.test.js
  src/application/summary-log-uploads-report/types.js
  src/common/helpers/date-formatter.js
  src/common/helpers/date-formatter.test.js
  src/common/helpers/formatters.js
  src/common/helpers/formatters.test.js
  src/config.js
  src/domain/summary-logs/status.js
  src/plugins/router.js
  src/repositories/organisations/contract/find-by-ids.contract.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/port.contract.js
  src/repositories/organisations/port.js
  src/repositories/summary-logs/contract/find-all-stats.contract.js
  src/repositories/summary-logs/inmemory.js
  src/repositories/summary-logs/mongodb.js
  src/repositories/summary-logs/port.contract.js
  src/repositories/summary-logs/port.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/organisations/registrations/summary-logs/reports/uploads/get.js
  src/routes/v1/organisations/registrations/summary-logs/reports/uploads/get.test.js
  src/routes/v1/organisations/registrations/summary-logs/reports/uploads/index.js
  src/routes/v1/organisations/registrations/summary-logs/reports/uploads/response.schema.js
Due: npm run format, npm run lint:fix

PAE-1038: Add business operation timestamps to PRN status
  src/packaging-recycling-notes/application/update-status.js
  src/packaging-recycling-notes/application/update-status.test.js
  src/packaging-recycling-notes/domain/model.js
  src/packaging-recycling-notes/repository/contract/test-data.js
  src/packaging-recycling-notes/repository/contract/update-status.contract.js
  src/packaging-recycling-notes/repository/inmemory.plugin.js
  src/packaging-recycling-notes/repository/mongodb.js
  src/packaging-recycling-notes/repository/port.js
  src/packaging-recycling-notes/repository/schema.js
  src/packaging-recycling-notes/repository/schema.test.js
  src/packaging-recycling-notes/routes/accept.js
  src/packaging-recycling-notes/routes/get-by-id.js
  src/packaging-recycling-notes/routes/get-by-id.test.js
  src/packaging-recycling-notes/routes/get.js
  src/packaging-recycling-notes/routes/get.test.js
  src/packaging-recycling-notes/routes/post.js
  src/packaging-recycling-notes/routes/post.test.js
  src/packaging-recycling-notes/routes/reject.js
  src/packaging-recycling-notes/routes/test-helpers.js
Due: npm run format, npm run lint:fix

add projection for linked orgs
  src/repositories/organisations/contract/find-all-linked.contract.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/mongodb.js
  src/routes/v1/linked-organisations/get.js
Due: npm run format, npm run lint:fix

PAE-1038: Fix v1 test shapes and add operation assertions
  src/packaging-recycling-notes/routes/accept.test.js
  src/packaging-recycling-notes/routes/reject.test.js
  src/packaging-recycling-notes/routes/status.test.js
Due: npm run format, npm run lint:fix
