Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"],
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

PAE-374: Inline getRepository calls in contract tests
  src/repositories/summary-logs/contract/find.contract.js
  src/repositories/summary-logs/contract/insert.contract.js
  src/repositories/summary-logs/contract/optimistic-concurrency.contract.js
  src/repositories/summary-logs/contract/update.contract.js
Due: npm run format, npm run lint:fix

Add assertions to verify state after conflicts
  src/repositories/summary-logs/contract/optimistic-concurrency.contract.js
Due: npm run format, npm run lint:fix

Rename file from 0013 to 0015
  docs/architecture/decisions/0015-admin-ui-authorisation-mvp.md
Due: npm run format, npm run adr:generate:toc

Replace regex assertions with exact string matches in conflict logging tests
  src/repositories/summary-logs/contract/optimistic-concurrency.contract.js
Due: npm run format, npm run lint:fix

Renamed collection to epr-organisations Removed "epr" from file naming
  src/data/fixtures/common/epr-organisations/sample-organisation-1.json
  src/data/fixtures/common/epr-organisations/sample-organisation-2.json
  src/data/fixtures/common/epr-organisations/sample-organisation-3.json
  src/data/fixtures/common/epr-organisations/sample-organisation-4.json
  src/plugins/repositories.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/mongodb.test.js
  src/repositories/organisations/port.js
  src/routes/v1/organisations/get.test.js
Due: npm run format, npm run lint:fix

Minor PR comment
  src/routes/v1/organisations/get.js
Due: npm run format, npm run lint:fix

PAE-374: Add version conflict logging to summary logs repository (#194)
  src/common/enums/event.js
  src/common/hapi-types.js
  src/plugins/repositories.js
  src/repositories/summary-logs/contract/find.contract.js
  src/repositories/summary-logs/contract/insert.contract.js
  src/repositories/summary-logs/contract/optimistic-concurrency.contract.js
  src/repositories/summary-logs/contract/update.contract.js
  src/repositories/summary-logs/inmemory.js
  src/repositories/summary-logs/inmemory.test.js
  src/repositories/summary-logs/mongodb.js
  src/repositories/summary-logs/mongodb.test.js
  src/repositories/summary-logs/port.contract.js
  src/repositories/summary-logs/port.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.validation.test.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
  src/workers/summary-logs/worker/worker.test.js
Due: npm run format, npm run lint:fix

PAE-358: Update Postman urls for lower environments
  postman/dev.postman_environment.json
  postman/test.postman_environment.json
Due: npm run format

Removed brittle test
  src/plugins/repositories.test.js
Due: npm run format, npm run lint:fix

Added more test coverage for organisations repo
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/inmemory.test.js
Due: npm run format, npm run lint:fix

PAE-358: Update Postman urls for lower environments (#198)
  postman/dev.postman_environment.json
  postman/test.postman_environment.json
Due: npm run format

Refactor state transition validation to use transformation pattern
  src/domain/summary-log.js
  src/domain/summary-log.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
Due: npm run format, npm run lint:fix

Add logging for invalid state transitions
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.schema.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.test.js
Due: npm run format, npm run lint:fix

Simplify error handling and add type annotations
  src/domain/summary-log.js
  src/domain/summary-log.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.test.js
Due: npm run format, npm run lint:fix

PAE-372: upgrade redis to latest version
  README.md
  compose.yml
Due: npm run format

Added fixtures and bash script for database seeding
  package.json
  scripts/import-fixtures.sh
  src/data/fixtures/common/epr-organisations/sample-organisation-1.json
  src/data/fixtures/common/epr-organisations/sample-organisation-2.json
  src/data/fixtures/common/epr-organisations/sample-organisation-3.json
  src/data/fixtures/common/epr-organisations/sample-organisation-4.json
Due: npm run format

PAE-296: Add logging for invalid state transitions (#197)
  src/domain/summary-log.js
  src/domain/summary-log.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.schema.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.test.js
Due: npm run format, npm run lint:fix

PAE-357: Added fixtures and bash script for database seeding (#201)
  package.json
  scripts/import-fixtures.sh
  src/data/fixtures/common/epr-organisations/sample-organisation-1.json
  src/data/fixtures/common/epr-organisations/sample-organisation-2.json
  src/data/fixtures/common/epr-organisations/sample-organisation-3.json
  src/data/fixtures/common/epr-organisations/sample-organisation-4.json
Due: npm run format

PAE-372: use latest v7 to match platform
  compose.yml
Due: none

Remove unused logger from organisations repository
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/inmemory.test.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/mongodb.test.js
  src/repositories/organisations/port.js
Due: npm run format, npm run lint:fix

Rename enablePerRequestRepositoryWithLogger to registerPerRequest
  src/plugins/repositories.js
Due: npm run format, npm run lint:fix

PAE-268: ADR to use mongoose schema for epr-organisations
  docs/architecture/decisions/0015-mongoose-for-epr-organisations.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

Merge main into PAE-357-organisations-get-endpoint (#199)
  postman/dev.postman_environment.json
  postman/test.postman_environment.json
  src/common/enums/event.js
  src/common/hapi-types.js
  src/domain/summary-log.js
  src/domain/summary-log.test.js
  src/plugins/repositories.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/inmemory.test.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/mongodb.test.js
  src/repositories/organisations/port.js
  src/repositories/summary-logs/contract/find.contract.js
  src/repositories/summary-logs/contract/insert.contract.js
  src/repositories/summary-logs/contract/optimistic-concurrency.contract.js
  src/repositories/summary-logs/contract/update.contract.js
  src/repositories/summary-logs/inmemory.js
  src/repositories/summary-logs/inmemory.test.js
  src/repositories/summary-logs/mongodb.js
  src/repositories/summary-logs/mongodb.test.js
  src/repositories/summary-logs/port.contract.js
  src/repositories/summary-logs/port.js
  src/routes/v1/organisations/get.test.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.schema.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.validation.test.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
  src/workers/summary-logs/worker/worker.test.js
Due: npm run format, npm run lint:fix

Copilot code review changes
  src/routes/v1/organisations/get.js
Due: npm run format, npm run lint:fix

Fixed no magic number warning
  src/routes/v1/organisations/get.js
Due: npm run format, npm run lint:fix

Removed redundant 404 logic branch
  src/routes/v1/organisations/get.js
  src/routes/v1/organisations/get.test.js
Due: npm run format, npm run lint:fix

PAE-357: organisations get endpoint (#196)
  compose.yml
  src/config.js
  src/feature-flags/feature-flags.config.js
  src/feature-flags/feature-flags.inmemory.js
  src/feature-flags/feature-flags.port.js
  src/plugins/repositories.js
  src/plugins/router.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/inmemory.test.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/mongodb.test.js
  src/repositories/organisations/port.js
  src/routes/v1/organisations/get.js
  src/routes/v1/organisations/get.test.js
  src/routes/v1/organisations/index.js
Due: npm run format, npm run lint:fix

PAE-372: upgrade redis to latest version (#200)
  README.md
  compose.yml
Due: npm run format

PAE-268: ADR to use mongoose schema for epr-organisations (#202)
  docs/architecture/decisions/0015-mongoose-for-epr-organisations.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

PAE-374: separate identity from domain in summary log repository
  src/repositories/summary-logs/contract/find.contract.js
  src/repositories/summary-logs/contract/insert.contract.js
  src/repositories/summary-logs/contract/optimistic-concurrency.contract.js
  src/repositories/summary-logs/contract/test-data.js
  src/repositories/summary-logs/contract/update.contract.js
  src/repositories/summary-logs/inmemory.js
  src/repositories/summary-logs/inmemory.test.js
  src/repositories/summary-logs/mongodb.js
  src/repositories/summary-logs/mongodb.test.js
  src/repositories/summary-logs/port.js
  src/repositories/summary-logs/schema.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.test.js
  src/routes/v1/organisations/registrations/summary-logs/validate/post.js
  src/workers/summary-logs/worker/worker.test.js
Due: npm run format, npm run lint:fix

PAE-374: fix SonarQube unused variable warnings
  src/repositories/summary-logs/inmemory.js
  src/workers/summary-logs/worker/worker.js
Due: npm run format, npm run lint:fix

PAE-374: fix validator interface to work with separated ID
  src/repositories/summary-logs/port.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/workers/summary-logs/inline.js
  src/workers/summary-logs/inline.test.js
  src/workers/summary-logs/piscina.js
  src/workers/summary-logs/piscina.test.js
  src/workers/summary-logs/port.js
  src/workers/summary-logs/worker/worker-thread.js
Due: npm run format, npm run lint:fix

PAE-374: remove redundant id from findById return value
  src/repositories/summary-logs/contract/find.contract.js
  src/repositories/summary-logs/contract/insert.contract.js
  src/repositories/summary-logs/contract/optimistic-concurrency.contract.js
  src/repositories/summary-logs/contract/update.contract.js
  src/repositories/summary-logs/inmemory.js
  src/repositories/summary-logs/inmemory.test.js
  src/repositories/summary-logs/mongodb.js
  src/repositories/summary-logs/port.js
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.test.js
  src/workers/summary-logs/worker/worker.js
  src/workers/summary-logs/worker/worker.test.js
Due: npm run format, npm run lint:fix

PAE-374: refactor inmemory repo to separate identity from domain
  src/repositories/summary-logs/inmemory.js
Due: npm run format, npm run lint:fix

PAE-383: Fix MongoDB certificate validation in worker threads
  src/common/helpers/secure-context.js
  src/common/helpers/secure-context.test.js
  src/workers/summary-logs/worker/worker-thread.js
Due: npm run format, npm run lint:fix

PAE-383: Add worker thread integration tests for secure context
  src/common/helpers/secure-context.js
  src/common/helpers/secure-context.test.js
  src/common/helpers/test-worker.js
  src/workers/summary-logs/worker/worker-thread.test.js
  vitest.config.js
Due: npm run format, npm run lint:fix

PAE-383: Exclude test-worker.js from SonarCloud coverage
  sonar-project.properties
Due: none

PAE-383: Test real worker instead of synthetic test-worker.js
  sonar-project.properties
  src/common/helpers/secure-context.test.js
  src/common/helpers/test-worker.js
  vitest.config.js
Due: npm run format, npm run lint:fix

PAE-383: Remove useless worker integration test
  src/common/helpers/secure-context.test.js
Due: npm run format, npm run lint:fix
