Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"]
}

Move validator integration test out of workers directory
  jsconfig.json
  jsconfig.typecheck.json
  package.json
  src/application/summary-logs/validate.integration.test.js
  src/config.js
Due: npm run format, npm run lint:fix

PAE-971: Remove Piscina and FEATURE_FLAG_SQS_COMMANDS from epr-backend
  package-lock.json
  package.json
  src/adapters/validators/summary-logs/mock.plugin.js
  src/adapters/validators/summary-logs/piscina.js
  src/adapters/validators/summary-logs/piscina.plugin.js
  src/adapters/validators/summary-logs/piscina.test.js
  src/common/helpers/plugins/mongo-db-plugin.integration.test.js
  src/config.js
  src/domain/summary-logs/mark-as-failed.test.js
  src/packaging-recycling-notes/routes/feature-flag.test.js
  src/routes/v1/organisations/waste-balances/integration.test.js
  src/server/server.js
  src/start-server.test.js
  src/test/create-test-server.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
Due: npm run format, npm run lint:fix

Update package-lock.json
  package-lock.json
Due: npm run format

Log user-input validation errors at warn level
  src/application/summary-logs/validate.js
  src/application/summary-logs/validate.test.js
Due: npm run format, npm run lint:fix

PAE-1136: Log user-input validation errors at warn level (#881)
  src/application/summary-logs/validate.js
  src/application/summary-logs/validate.test.js
Due: npm run format, npm run lint:fix

PAE-971: Remove Piscina and FEATURE_FLAG_SQS_COMMANDS (#799)
  jsconfig.json
  jsconfig.typecheck.json
  package-lock.json
  package.json
  src/adapters/validators/summary-logs/mock.plugin.js
  src/adapters/validators/summary-logs/piscina.js
  src/adapters/validators/summary-logs/piscina.plugin.js
  src/adapters/validators/summary-logs/piscina.test.js
  src/application/summary-logs/validate.integration.test.js
  src/common/helpers/plugins/mongo-db-plugin.integration.test.js
  src/config.js
  src/domain/summary-logs/mark-as-failed.test.js
  src/packaging-recycling-notes/routes/feature-flag.test.js
  src/routes/v1/organisations/waste-balances/integration.test.js
  src/server/server.js
  src/start-server.test.js
  src/test/create-test-server.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
Due: npm run format, npm run lint:fix

PAE-351: Add cursor-based pagination to system logs endpoint
  src/forms-submission-data/integration.test.js
  src/repositories/system-logs/inmemory.js
  src/repositories/system-logs/mongodb.js
  src/repositories/system-logs/port.contract.js
  src/repositories/system-logs/port.js
  src/routes/v1/system-logs/search.js
  src/routes/v1/system-logs/search.test.js
Due: npm run format, npm run lint:fix

PAE-1107: Made response tonnageBand required
  src/routes/v1/prn-tonnage/response.schema.js
Due: npm run format, npm run lint:fix

PAE-436: Remove vitest-fetch-mock from epr-backend
  .vite/fixtures/cdp-uploader.js
  .vite/fixtures/sqs.js
  .vite/helpers/setup-auth-mocking.js
  .vite/setup-files.js
  package-lock.json
  package.json
  src/adapters/repositories/uploads/inmemory.test.js
Due: npm run format, npm run lint:fix

PAE-1107: PRN tonnage band admin report endpoint (#866)
  src/application/prn-tonnage/aggregate-prn-tonnage.js
  src/application/prn-tonnage/aggregate-prn-tonnage.test.js
  src/plugins/router.js
  src/routes/v1/prn-tonnage/get.js
  src/routes/v1/prn-tonnage/get.test.js
  src/routes/v1/prn-tonnage/index.js
  src/routes/v1/prn-tonnage/response.schema.js
Due: npm run format, npm run lint:fix

(optionally) use mise for the install
  .gitignore
  .lintstagedrc.mjs
  CONTRIBUTING.md
  mise.toml
  package.json
  scripts/install-gitleaks.mjs
Due: npm run format

Add service maintainer role to response
  src/routes/v1/me/roles/get.js
Due: npm run format, npm run lint:fix

add more details on mise
  CONTRIBUTING.md
Due: npm run format

PAE-436: Remove vitest-fetch-mock from epr-backend (#884)
  .vite/fixtures/cdp-uploader.js
  .vite/fixtures/sqs.js
  .vite/helpers/setup-auth-mocking.js
  .vite/setup-files.js
  package-lock.json
  package.json
  src/adapters/repositories/uploads/inmemory.test.js
Due: npm run format, npm run lint:fix

Revert "add gitleaks to pr checks workflow"
  .github/workflows/check-pull-request.yml
Due: none

Revert "add cheap scan before expensive tests"
  .github/workflows/check-pull-request.yml
Due: none

PAE-1117: add gitleaks for pre-commit secret scanning
  .lintstagedrc.json
  .lintstagedrc.mjs
  CONTRIBUTING.md
  mise.toml
Due: npm run format

PAE-351: Address sonar issues
  src/repositories/system-logs/inmemory.js
  src/repositories/system-logs/mongodb.js
Due: npm run format, npm run lint:fix

remove dead hook - lint-staged is used instead
  package.json
Due: npm run format

PAE-351: Address sonar issues
  src/repositories/system-logs/inmemory.js
Due: npm run format, npm run lint:fix

fix trailing comma in lint-staged
  .lintstagedrc.mjs
Due: none

PAE-1103: Bound pino log calls to prevent oversized payloads (#871)
  src/application/summary-logs/extractor.js
  src/application/summary-logs/extractor.test.js
  src/common/helpers/fail-action.js
  src/common/helpers/fail-action.test.js
  src/forms-submission-data/link-form-submissions.js
  src/forms-submission-data/link-form-submissions.test.js
  src/server/log-form-file-uploads.js
  src/server/log-form-file-uploads.test.js
Due: npm run format, npm run lint:fix

Use scope instead of getEntraUserRoles
  src/routes/v1/me/roles/get.js
Due: npm run format, npm run lint:fix

Use "scope" everywhere instead of "roles"
  src/routes/v1/me/index.js
  src/routes/v1/me/roles/index.js
  src/routes/v1/me/scope/get.js
  src/routes/v1/me/scope/get.test.js
  src/routes/v1/me/scope/index.js
Due: npm run format, npm run lint:fix

fix(organisations): use EPR orgId for linked organisation in /v1/me/organisations
  src/routes/v1/me/organisations/get.js
  src/routes/v1/me/organisations/get.test.js
Due: npm run format, npm run lint:fix

Remove redundant DATE_RECEIVED_FOR_REPROCESSING guard from row transformer
  src/application/waste-records/row-transformers/received-loads-reprocessing.js
  src/application/waste-records/row-transformers/received-loads-reprocessing.test.js
Due: npm run format, npm run lint:fix

upgrade node@lts
  .nvmrc
  mise.toml
  package-lock.json
  package.json
Due: npm run format

PAE-1117: add gitleaks for pre-commit secret scanning (#887)
  .lintstagedrc.json
  .lintstagedrc.mjs
  .nvmrc
  CONTRIBUTING.md
  mise.toml
  package-lock.json
  package.json
Due: npm run format

PAE-1139: Remove redundant DATE_RECEIVED_FOR_REPROCESSING guard from row transformer (#890)
  src/application/waste-records/row-transformers/received-loads-reprocessing.js
  src/application/waste-records/row-transformers/received-loads-reprocessing.test.js
Due: npm run format, npm run lint:fix

PAE-1130 remove MUST_BE_ALPHANUMERIC
  src/application/summary-logs/validations/data-syntax.js
  src/common/enums/validation.js
Due: npm run format, npm run lint:fix

PAE-351: Add cursor-based pagination to system logs endpoint (#883)
  src/forms-submission-data/integration.test.js
  src/repositories/system-logs/inmemory.js
  src/repositories/system-logs/mongodb.js
  src/repositories/system-logs/port.contract.js
  src/repositories/system-logs/port.js
  src/routes/v1/system-logs/search.js
  src/routes/v1/system-logs/search.test.js
Due: npm run format, npm run lint:fix

PAE-1130: Remove legacy MUST_BE_ALPHANUMERIC error code (#891)
  src/application/summary-logs/validations/data-syntax.js
  src/common/enums/validation.js
Due: npm run format, npm run lint:fix

PAE-1064: Add registered-only processing types to domain model
  src/application/summary-logs/validations/processing-type.test.js
  src/domain/summary-logs/meta-fields.js
Due: npm run format, npm run lint:fix

PAE-906: Fix inconsistent orgId semantics in GET /v1/me/organisations (#888)
  src/routes/v1/me/organisations/get.js
  src/routes/v1/me/organisations/get.test.js
Due: npm run format, npm run lint:fix

PAE-1105: Implement form files copy to S3 functionality
  src/adapters/repositories/forms-submissions/forms-file-uploads.js
  src/adapters/repositories/forms-submissions/forms-file-uploads.test.js
  src/adapters/repositories/forms-submissions/inmemory.js
  src/adapters/repositories/forms-submissions/inmemory.test.js
  src/adapters/repositories/forms-submissions/port.contract.js
  src/common/helpers/cognito-token.js
  src/common/helpers/cognito-token.test.js
  src/config.js
  src/feature-flags/feature-flags.config.js
  src/feature-flags/feature-flags.config.test.js
  src/forms-submission-data/file-uploads/copy-files-to-s3.js
  src/forms-submission-data/file-uploads/copy-files-to-s3.test.js
  src/forms-submission-data/parsing-common/get-file-upload-details.js
  src/forms-submission-data/parsing-common/get-file-upload-details.test.js
  src/forms-submission-data/parsing-common/parse-forms-data.js
  src/forms-submission-data/parsing-common/parse-forms-data.test.js
  src/server/copy-form-files-to-s3.js
  src/server/copy-form-files-to-s3.test.js
  src/server/server.js
Due: npm run format, npm run lint:fix

PAE-1105: Update Forms Submission API environment variable names
  src/config.js
Due: npm run format, npm run lint:fix

PAE-969: Make user parameter required in submission pipeline
  src/application/summary-logs/submit.js
  src/application/waste-records/sync-from-summary-log.js
  src/common/helpers/auth/types.js
  src/repositories/waste-balances/contract/updateWasteBalanceTransactions.contract.js
  src/repositories/waste-balances/helpers.js
  src/repositories/waste-balances/helpers.test.js
  src/repositories/waste-balances/inmemory.test.js
  src/repositories/waste-balances/port.js
  src/server/queue-consumer/consumer.js
  src/server/queue-consumer/consumer.test.js
Due: npm run format, npm run lint:fix

PAE-1014: Updated conf
  src/config.js
Due: npm run format, npm run lint:fix

PAE-1105: Copy files uploaded via defra forms to s3 (#885)
  src/adapters/repositories/forms-submissions/forms-file-uploads.js
  src/adapters/repositories/forms-submissions/forms-file-uploads.test.js
  src/adapters/repositories/forms-submissions/inmemory.js
  src/adapters/repositories/forms-submissions/inmemory.test.js
  src/adapters/repositories/forms-submissions/port.contract.js
  src/common/helpers/cognito-token.js
  src/common/helpers/cognito-token.test.js
  src/config.js
  src/feature-flags/feature-flags.config.js
  src/feature-flags/feature-flags.config.test.js
  src/forms-submission-data/file-uploads/copy-files-to-s3.js
  src/forms-submission-data/file-uploads/copy-files-to-s3.test.js
  src/forms-submission-data/parsing-common/get-file-upload-details.js
  src/forms-submission-data/parsing-common/get-file-upload-details.test.js
  src/forms-submission-data/parsing-common/parse-forms-data.js
  src/forms-submission-data/parsing-common/parse-forms-data.test.js
  src/server/copy-form-files-to-s3.js
  src/server/copy-form-files-to-s3.test.js
  src/server/server.js
Due: npm run format, npm run lint:fix
