Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"],
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

WIP More cleanup
  src/common/helpers/auth/get-defra-id-user-roles.js
  src/common/helpers/auth/get-defra-id-user-roles.test.js
  src/common/helpers/auth/get-jwt-strategy-config.test.js
  src/common/helpers/auth/get-users-org-info.js
  src/common/helpers/auth/get-users-org-info.test.js
Due: npm run format, npm run lint:fix

WIP Remove reference file
  src/common/helpers/auth/roles/stuff.js
Due: npm run format, npm run lint:fix

WIP Scaffolded linking endpoint
  src/common/helpers/auth/get-jwt-strategy-config.js
  src/routes/v1/organisations/link.js
Due: npm run format, npm run lint:fix

WIP Scaffolded linking endpoint
  src/routes/v1/organisations/link.js
Due: npm run format, npm run lint:fix

Fix wrong mock auth tockens
  .vite/helpers/create-defra-id-test-tokens.js
  .vite/helpers/create-entra-id-test-tokens.js
Due: npm run format

PAE-522: Fix wrong mock auth tockens (#399)
  .vite/helpers/create-defra-id-test-tokens.js
  .vite/helpers/create-entra-id-test-tokens.js
Due: npm run format

WIP tests for link endpoint
  src/routes/v1/organisations/index.js
  src/routes/v1/organisations/link.js
  src/routes/v1/organisations/link.test.js
Due: npm run format, npm run lint:fix

PAE-543 adjust logic for running seed data cleanup in prod (#396)
  src/common/helpers/collections/create-update.js
  src/common/helpers/collections/create-update.seed-data.test.js
  src/common/helpers/plugins/mongo-db-plugin.js
  src/config.js
Due: npm run format, npm run lint:fix

PAE-549: Normalize system reference number provided by user (#395)
  src/data/fixtures/ea/registration/reprocessor-all-materials-sepa-handcrafted.json
  src/forms-submission-data/accreditation/transform-accreditation.js
  src/forms-submission-data/parsing-common/form-data-mapper.js
  src/forms-submission-data/parsing-common/form-data-mapper.test.js
  src/forms-submission-data/registration/transform-registration.js
  src/forms-submission-data/registration/transform-registration.test.js
Due: npm run format, npm run lint:fix

Rename load classification from 'new' to 'added'
  src/application/summary-logs/classify-loads.js
  src/application/summary-logs/classify-loads.test.js
  src/application/summary-logs/validate.test.js
  src/repositories/summary-logs/schema.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/routes/v1/organisations/registrations/summary-logs/response.schema.js
  src/workers/summary-logs/worker/integration.test.js
Due: npm run format, npm run lint:fix

WIP Scaffolded role assignment
  src/common/helpers/auth/is-authorised-org-linking-req.js
  src/common/helpers/auth/roles/helpers.js
  src/common/helpers/auth/validate-epr-org-access.js
  src/domain/organisations/paths.js
Due: npm run format, npm run lint:fix

WIP Scaffolded defra role assignment
  src/common/helpers/auth/constants.js
  src/common/helpers/auth/get-defra-user-roles.js
  src/common/helpers/auth/get-users-org-info.js
Due: npm run format, npm run lint:fix

Add row transformation flow diagram to LLD
  docs/architecture/defined/summary-log-submission-lld.md
Due: npm run format

Update LLD to reflect loadCounts implementation
  docs/architecture/defined/summary-log-submission-lld.md
Due: npm run format

WIP Complete get-defra-user-roles
  src/common/helpers/auth/get-defra-user-roles.js
  src/common/helpers/auth/roles/helpers.js
  src/common/helpers/auth/validate-epr-org-access.js
Due: npm run format, npm run lint:fix

adding link to other doc
  docs/architecture/decisions/0022-translation-process-for-english-welsh-strings.md
Due: npm run format, npm run adr:generate:toc

PAE-515: add sonar quality gate check
  .github/actions/test-and-scan/action.yml
Due: none

PAE-515: add separate quality gate check step
  .github/actions/test-and-scan/action.yml
Due: none

PAE-475: Add load classification counts to summary log validation (#387)
  docs/architecture/defined/summary-log-submission-lld.md
  src/application/summary-logs/classify-loads.js
  src/application/summary-logs/classify-loads.test.js
  src/application/summary-logs/validate.js
  src/application/summary-logs/validate.test.js
  src/application/summary-logs/validations/data-business.js
  src/application/summary-logs/validations/data-business.test.js
  src/application/summary-logs/validations/data-syntax.js
  src/application/summary-logs/validations/data-syntax.test.js
  src/application/summary-logs/validations/row-continuity.js
  src/application/summary-logs/validations/row-continuity.test.js
  src/application/summary-logs/validations/table-schemas.js
  src/application/summary-logs/validations/table-schemas.schema.js
  src/application/waste-records/row-transformers/received-loads-reprocessing.js
  src/application/waste-records/sync-from-summary-log.js
  src/application/waste-records/sync-from-summary-log.test.js
  src/application/waste-records/transform-from-summary-log.js
  src/application/waste-records/transform-from-summary-log.test.js
  src/domain/summary-logs/table-metadata.js
  src/domain/summary-logs/table-metadata.test.js
  src/repositories/summary-logs/schema.js
  src/routes/v1/organisations/registrations/summary-logs/get.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/routes/v1/organisations/registrations/summary-logs/response.schema.js
  src/workers/summary-logs/worker/integration.test.js
Due: npm run format, npm run lint:fix

remove separate quality gate step as the flag seems sufficient
  .github/actions/test-and-scan/action.yml
Due: none

add some unused code to try and panic sq
  src/server/server.js
Due: npm run format, npm run lint:fix

does this fail in sq?
  src/server/server.js
Due: npm run format, npm run lint:fix

Ensure waste record versions have identical timestamps
  docs/architecture/defined/summary-log-submission-lld.md
  src/application/summary-logs/validate.js
  src/application/waste-records/sync-from-summary-log.js
  src/application/waste-records/sync-from-summary-log.test.js
  src/application/waste-records/transform-from-summary-log.js
  src/application/waste-records/transform-from-summary-log.test.js
Due: npm run format, npm run lint:fix

PAE-543 remove code that deletes fixture data from prod db
  src/common/helpers/collections/create-update.js
  src/common/helpers/collections/create-update.seed-data.test.js
Due: npm run format, npm run lint:fix

will this anger the sq gods?
  src/server/server.js
Due: npm run format, npm run lint:fix

remove the horrible sq taunting code
  src/server/server.js
Due: npm run format, npm run lint:fix

sonar fix
  src/common/helpers/collections/create-update.js
Due: npm run format, npm run lint:fix

Remove redundant log message in cleanup function
  src/common/helpers/collections/create-update.js
Due: npm run format, npm run lint:fix

PAE-515: add sonar quality gate check (#401)
  .github/actions/test-and-scan/action.yml
Due: none

PAE-543 remove code that deletes fixture data from prod db (#404)
  src/common/helpers/collections/create-update.js
  src/common/helpers/collections/create-update.seed-data.test.js
Due: npm run format, npm run lint:fix

docs: Update LLD to show backend proxying CDP upload initiate
  docs/architecture/defined/summary-log-submission-lld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

PAE-551: Ensure waste record versions have identical timestamps (#402)
  docs/architecture/defined/summary-log-submission-lld.md
  src/application/summary-logs/validate.js
  src/application/waste-records/sync-from-summary-log.js
  src/application/waste-records/sync-from-summary-log.test.js
  src/application/waste-records/transform-from-summary-log.js
  src/application/waste-records/transform-from-summary-log.test.js
Due: npm run format, npm run lint:fix

PAE-514: Match reprocessor using both line1 and postcode
  src/forms-submission-data/link-form-submissions.js
  src/forms-submission-data/link-form-submissions.test.js
  src/forms-submission-data/parsing-common/postcode.js
  src/forms-submission-data/parsing-common/postcode.test.js
  src/forms-submission-data/parsing-common/site.js
  src/forms-submission-data/parsing-common/site.test.js
Due: npm run format, npm run lint:fix

PAE-514: Improve log and dont link when multiple accreditations match to single registration
  src/forms-submission-data/link-form-submissions.js
  src/forms-submission-data/link-form-submissions.test.js
  src/forms-submission-data/parsing-common/site.js
  src/forms-submission-data/parsing-common/site.test.js
Due: npm run format, npm run lint:fix

PAE-544 remove test data submissions in prod
  src/common/helpers/collections/create-update.js
  src/common/helpers/collections/create-update.seed-data.test.js
Due: npm run format, npm run lint:fix

PAE-514: Match re-processor accreditation using both postcode and line1 (#405)
  src/forms-submission-data/link-form-submissions.js
  src/forms-submission-data/link-form-submissions.test.js
  src/forms-submission-data/parsing-common/postcode.js
  src/forms-submission-data/parsing-common/postcode.test.js
  src/forms-submission-data/parsing-common/site.js
  src/forms-submission-data/parsing-common/site.test.js
Due: npm run format, npm run lint:fix

Sonar fix
  src/common/helpers/collections/create-update.js
Due: npm run format, npm run lint:fix

PAE-544 remove test data submissions in prod (#406)
  src/common/helpers/collections/create-update.js
  src/common/helpers/collections/create-update.seed-data.test.js
Due: npm run format, npm run lint:fix

PAE-425: translation integration process (#295)
  docs/architecture/decisions/0022-translation-process-for-english-welsh-strings.md
  docs/architecture/decisions/index.md
Due: npm run format, npm run adr:generate:toc

docs: Clarify upload-completed currently creates entity if missing
  docs/architecture/discovery/pepr-lld.md
Due: npm run format
