Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"]
}

address pr#1470 review: widen row-continuity param, assert record, hoist casts
  src/application/summary-logs/validations/row-continuity.js
  src/application/summary-logs/validations/row-continuity.test.js
  src/overseas-sites/imports/repository/mongodb.test.js
  src/reports/domain/aggregation/aggregate-report-detail.test.js
Due: npm run format, npm run lint:fix

PAE-1593: read a ledger's row states by ledger identity, not summary-log membership (#1490)
  src/application/waste-records/sync-from-summary-log.test.js
  src/waste-records/application/read-summary-log-row-states.js
  src/waste-records/application/read-summary-log-row-states.test.js
  src/waste-records/application/write-summary-log-row-states.test.js
  src/waste-records/repository/contract/findBySummaryLogId.contract.js
  src/waste-records/repository/contract/findRowStatesForSummaryLog.contract.js
  src/waste-records/repository/contract/upsertSummaryLogRowStates.contract.js
  src/waste-records/repository/inmemory.js
  src/waste-records/repository/inmemory.test.js
  src/waste-records/repository/mongodb.js
  src/waste-records/repository/mongodb.test.js
  src/waste-records/repository/port.contract.js
  src/waste-records/repository/port.js
Due: npm run format, npm run lint:fix

PAE-1593: Surface mongo's insert-path slot conflict as a typed error
  src/waste-balances/repository/ledger-mongodb.js
  src/waste-balances/repository/ledger-mongodb.test.js
Due: npm run format, npm run lint:fix

PAE-1593: Satisfy the test type check in the ledger race test
  src/waste-balances/repository/ledger-mongodb.test.js
Due: npm run format, npm run lint:fix

PAE-1593: Name a PRN's accreditation by the registration and organisation above it (#1489)
  src/packaging-recycling-notes/application/admin-prn-mapper.js
  src/packaging-recycling-notes/application/get-issued-tonnage.js
  src/packaging-recycling-notes/application/get-issued-tonnage.test.js
  src/packaging-recycling-notes/repository/contract/find.contract.js
  src/packaging-recycling-notes/repository/contract/test-data.js
  src/packaging-recycling-notes/repository/inmemory.plugin.js
  src/packaging-recycling-notes/repository/mongodb.js
  src/packaging-recycling-notes/repository/port.js
  src/packaging-recycling-notes/routes/admin-accreditation-list.js
  src/packaging-recycling-notes/routes/admin-accreditation-list.test.js
  src/packaging-recycling-notes/routes/admin-list.test.js
  src/packaging-recycling-notes/routes/get.js
  src/packaging-recycling-notes/routes/get.test.js
  src/plugins/router.js
  src/reports/application/report-service.js
  src/reports/application/report-service.test.js
  src/reports/monitoring/stale-issued-tonnage.js
  src/reports/monitoring/stale-issued-tonnage.test.js
  src/reports/routes/post.test.js
Due: npm run format, npm run lint:fix

Repoint admin CSV export onto the summary log row states collection
  src/waste-records-export/application/stream-csv-export.js
  src/waste-records-export/application/stream-csv-export.test.js
  src/waste-records-export/domain/csv-columns.js
  src/waste-records-export/domain/csv-columns.test.js
  src/waste-records-export/routes/export.js
  src/waste-records-export/routes/export.test.js
  src/waste-records/repository/contract/findDistinctDataKeys.contract.js
  src/waste-records/repository/inmemory.js
  src/waste-records/repository/mongodb.js
  src/waste-records/repository/port.contract.js
  src/waste-records/repository/port.js
Due: npm run format, npm run lint:fix

PAE-1593: Surface mongo's insert-path slot conflict as a typed error (#1488)
  src/waste-balances/repository/ledger-mongodb.js
  src/waste-balances/repository/ledger-mongodb.test.js
Due: npm run format, npm run lint:fix

PAE-1594: Aggregate tonnage monitoring from submitted summary logs (#1474)
  src/application/tonnage-monitoring/aggregate-tonnage.js
  src/application/tonnage-monitoring/aggregate-tonnage.test.js
  src/application/tonnage-monitoring/integration.test.js
Due: npm run format, npm run lint:fix

Derive submittedReports at the feed call site
  src/reports/application/report-submissions.js
  src/reports/domain/build-all-submission-periods.js
  src/reports/domain/build-all-submission-periods.test.js
  src/reports/domain/build-calendar-periods.js
  src/reports/domain/build-calendar-periods.test.js
  src/reports/domain/merge-reporting-periods.js
  src/reports/domain/merge-reporting-periods.test.js
  src/reports/routes/get.test.js
Due: npm run format, npm run lint:fix

Simplify number-or-empty response cells to Joi.number().allow('')
  src/reports/routes/submissions.js
Due: npm run format, npm run lint:fix

PAE-1659: emit one row per submitted report in report-submissions feed
  .vite/helpers/build-draft-report.js
  .vite/helpers/build-unsubmitted-report.js
  .vite/helpers/seed-inflight-resubmission.js
  src/reports/application/report-submissions.js
  src/reports/application/report-submissions.test.js
  src/reports/domain/build-all-submission-periods.js
  src/reports/domain/build-all-submission-periods.test.js
  src/reports/domain/build-calendar-periods.js
  src/reports/domain/build-calendar-periods.test.js
  src/reports/domain/merge-reporting-periods.js
  src/reports/domain/merge-reporting-periods.test.js
  src/reports/routes/get.test.js
  src/reports/routes/submissions.js
  src/reports/routes/submissions.test.js
Due: npm run format, npm run lint:fix

Revert "PAE-1594: Aggregate tonnage monitoring from submitted summary logs (#1474)"
  src/application/tonnage-monitoring/aggregate-tonnage.js
  src/application/tonnage-monitoring/aggregate-tonnage.test.js
  src/application/tonnage-monitoring/integration.test.js
Due: npm run format, npm run lint:fix

Revert "PAE-1594: Aggregate tonnage monitoring from submitted summary logs" (#1495)
  src/application/tonnage-monitoring/aggregate-tonnage.js
  src/application/tonnage-monitoring/aggregate-tonnage.test.js
  src/application/tonnage-monitoring/integration.test.js
Due: npm run format, npm run lint:fix

PAE-1594: Aggregate tonnage monitoring from submitted summary logs
  src/application/tonnage-monitoring/aggregate-tonnage.js
  src/application/tonnage-monitoring/aggregate-tonnage.test.js
  src/application/tonnage-monitoring/integration.test.js
Due: npm run format, npm run lint:fix

standardise iso calendar-date truncation onto date helpers
  src/adapters/parsers/summary-logs/cell-extractor.js
  src/common/helpers/date-formatter.js
  src/common/helpers/date-formatter.test.js
  src/domain/summary-logs/table-schemas/shared/field-schemas.js
  src/reports/application/report-compliance.js
  src/reports/application/report-submissions.js
  src/reports/domain/aggregation/filter-records-by-date.js
  src/reports/domain/derive-period-status.js
  src/reports/domain/period-for-date.js
Due: npm run format, npm run lint:fix

PAE-1659: emit one row per submitted report in report-submissions feed (+ submission number) (#1396)
  .vite/helpers/build-draft-report.js
  .vite/helpers/build-unsubmitted-report.js
  .vite/helpers/seed-inflight-resubmission.js
  src/reports/application/report-submissions.js
  src/reports/application/report-submissions.test.js
  src/reports/domain/build-all-submission-periods.js
  src/reports/domain/build-calendar-periods.js
  src/reports/domain/merge-reporting-periods.js
  src/reports/domain/merge-reporting-periods.test.js
  src/reports/routes/get.test.js
  src/reports/routes/submissions.js
  src/reports/routes/submissions.test.js
Due: npm run format, npm run lint:fix

PAE-1339: [1/4] crush test type errors — fixtures, report-detail, parsers (#1470)
  .vite/fixtures/server-with-db.js
  .vite/fixtures/server-with-mock-db.js
  src/application/summary-logs/validations/row-continuity.test.js
  src/overseas-sites/imports/repository/mongodb.test.js
  src/overseas-sites/parsers/ors-spreadsheet-parser.test.js
  src/reports/domain/aggregation/aggregate-report-detail.test.js
  src/repositories/organisations/mongodb.ors.test.js
  src/test/assert-present.js
Due: npm run format, npm run lint:fix

PAE-1339: [2/4] crush test type errors — builders, mocks, fixtures (#1475)
  src/adapters/parsers/summary-logs/parser-workarounds.characterisation.test.js
  src/common/helpers/auth/get-entra-user-roles.test.js
  src/common/helpers/collections/seed-scenarios.test.js
  src/common/helpers/fail-action.test.js
  src/domain/summary-logs/table-schemas/shared/classify-helpers.test.js
  src/forms-submission-data/migration/migration-orchestrator.test.js
  src/repositories/form-submissions/mongodb.test.js
  src/repositories/organisations/collate-users.test.js
Due: npm run format, npm run lint:fix

PAE-1339: [3/4] crush test type errors — aggregation, validations, fixtures (#1479)
  src/adapters/repositories/uploads/cdp-uploader.unit.test.js
  src/application/common/material-aggregation.test.js
  src/application/prn-tonnage/aggregate-prn-tonnage.test.js
  src/application/summary-logs/validations/material-type.test.js
  src/application/summary-logs/validations/processing-type.test.js
  src/application/summary-logs/validations/registration-number.test.js
  src/domain/organisations/accreditation.js
  src/domain/summary-logs/table-schemas/shared/sent-on-loads-schema.test.js
  src/forms-submission-data/accreditation/transform-accreditation.test.js
  src/forms-submission-data/organisation/transform-organisation.test.js
  src/forms-submission-data/parsing-common/parse-forms-data.test.js
  src/forms-submission-data/registration/transform-registration.test.js
  src/overseas-sites/application/process-import-file.test.js
  src/overseas-sites/application/process-import.test.js
  src/packaging-recycling-notes/repository/validation.test.js
  src/reports/domain/merge-reporting-periods.test.js
  src/repositories/form-submissions/inmemory.test.js
  src/repositories/organisations/schema/validation.test.js
  src/routes/v1/apply/accreditation.test.js
  src/routes/v1/apply/organisation.test.js
  src/routes/v1/apply/registration.test.js
Due: npm run format, npm run lint:fix

PAE-1593: Narrow report aggregation input to the fields it reads
  src/reports/domain/aggregation/aggregate-report-detail.js
  src/reports/domain/aggregation/aggregate-waste-exported.js
  src/reports/domain/aggregation/aggregate-waste-received.js
  src/reports/domain/aggregation/aggregate-waste-sent-on.js
  src/reports/domain/aggregation/exporter.test.js
  src/reports/domain/aggregation/filter-records-by-date.js
  src/reports/domain/aggregation/reprocessor.test.js
Due: npm run format, npm run lint:fix

PAE-1593: Resolve the ledger head once for report rows and source
  src/reports/application/report-service.js
  src/reports/application/report-service.test.js
  src/waste-records/application/read-summary-log-row-states.js
Due: npm run format, npm run lint:fix

PAE-1593: Match the mid-read ledger stub to the full-id port signature
  src/reports/application/report-service.test.js
Due: npm run format, npm run lint:fix

tighten tsc + eslint unused-params; hard test-type gate
  .github/workflows/check-pull-request.yml
  eslint.config.js
  jsconfig.typecheck.json
  scripts/mongo-performance-test/single-nested-collection/data-generators.js
  src/adapters/repositories/public-register/public-register.test.js
Due: npm run format, npm run lint:fix

format CONTRIBUTING.md for prettier 3.9.5
  CONTRIBUTING.md
Due: npm run format

point logging events link to enums file
  CONTRIBUTING.md
Due: npm run format

PAE-1657: forbid unsubmit of a superseded submission
  src/reports/application/report-service.js
  src/reports/application/report-service.test.js
  src/reports/domain/build-calendar-periods.js
  src/reports/routes/unsubmit.js
  src/reports/routes/unsubmit.test.js
Due: npm run format, npm run lint:fix

Fix prettier formatting in unsubmit test
  src/reports/routes/unsubmit.test.js
Due: npm run format, npm run lint:fix

PAE-1593: Derive report detail from summary-log row states (#1476)
  src/reports/application/report-service.js
  src/reports/application/report-service.test.js
  src/reports/domain/aggregation/aggregate-report-detail.js
  src/reports/domain/aggregation/aggregate-report-detail.test.js
  src/reports/domain/aggregation/aggregate-waste-exported.js
  src/reports/domain/aggregation/aggregate-waste-received.js
  src/reports/domain/aggregation/aggregate-waste-sent-on.js
  src/reports/domain/aggregation/exporter.test.js
  src/reports/domain/aggregation/filter-records-by-date.js
  src/reports/domain/aggregation/reprocessor.test.js
  src/reports/domain/aggregation/test-data/exporter-accredited.json
  src/reports/domain/aggregation/test-data/exporter-reg-only.json
  src/reports/domain/aggregation/test-data/reprocessor-on-input-accredited.json
  src/reports/domain/aggregation/test-data/reprocessor-registered-only.json
  src/reports/routes/get-detail.js
  src/reports/routes/get-detail.test.js
  src/reports/routes/post.js
  src/reports/routes/post.test.js
  src/waste-balances/application/latest-submitted-summary-log-id.js
  src/waste-balances/application/latest-submitted-summary-log.js
  src/waste-balances/application/latest-submitted-summary-log.test.js
  src/waste-records/application/read-summary-log-row-states.js
Due: npm run format, npm run lint:fix

PAE-1657: guard unsubmit against absolute latest submission
  src/reports/application/report-service.js
  src/reports/application/report-service.test.js
  src/reports/domain/build-calendar-periods.js
  src/reports/routes/unsubmit.js
  src/reports/routes/unsubmit.test.js
Due: npm run format, npm run lint:fix

PAE-1657: forbid unsubmit of a superseded submission (#1498)
  src/reports/application/report-service.js
  src/reports/application/report-service.test.js
  src/reports/routes/unsubmit.js
  src/reports/routes/unsubmit.test.js
Due: npm run format, npm run lint:fix

add base + strict typecheck configs and soft burndown job
  .github/workflows/check-pull-request.yml
  jsconfig.typecheck.base.json
  jsconfig.typecheck.json
  jsconfig.typecheck.strict.json
  jsconfig.typecheck.tests.json
  package.json
Due: npm run format

PAE-1676: add findLatestInLedgerBefore to the ledger repository
  src/waste-balances/repository/ledger-contract/findLatestInLedgerBefore.contract.js
  src/waste-balances/repository/ledger-inmemory.js
  src/waste-balances/repository/ledger-mongodb.js
  src/waste-balances/repository/ledger-port.contract.js
  src/waste-balances/repository/ledger-port.js
Due: npm run format, npm run lint:fix

pin typecheck-burndown to branch for preview
  .github/workflows/check-pull-request.yml
Due: none

add prod typecheck job via shared action
  .github/workflows/check-pull-request.yml
Due: none

pin typecheck jobs to renamed lint-types action for preview
  .github/workflows/check-pull-request.yml
Due: none

PAE-1676: add waste balance report aggregation service
  src/waste-balances/application/waste-balance-report.js
  src/waste-balances/application/waste-balance-report.test.js
Due: npm run format, npm run lint:fix

graduate zero-cost strict levers into base config
  jsconfig.typecheck.base.json
  jsconfig.typecheck.strict.json
Due: npm run format

PAE-1676: add admin waste balance report route
  src/waste-balances/routes/index.js
  src/waste-balances/routes/report.js
  src/waste-balances/routes/report.schema.js
  src/waste-balances/routes/report.test.js
Due: npm run format, npm run lint:fix

sort keys across typecheck config files
  jsconfig.json
  jsconfig.typecheck.base.json
  jsconfig.typecheck.strict.json
Due: npm run format
