Repository DEFRA/epr-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "npm run format",
  "src/**/*.js": ["npm run lint:fix"],
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

PAE-326: Refactor to Ports & Adapters architecture and remove WORKER logging category (#223)
  package.json
  src/adapters/validators/summary-logs/inline.js
  src/adapters/validators/summary-logs/inline.test.js
  src/application/summary-logs/validator.js
  src/application/summary-logs/validator.test.js
  src/common/enums/event.js
  src/workers/summary-logs/worker/integration.test.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
  vitest.config.js
Due: npm run format, npm run lint:fix

PAE-000: Complete inmemory organisations repository contract implementation
  src/repositories/organisations/contract/data-isolation.contract.js
  src/repositories/organisations/helpers.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/inmemory.test.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/port.contract.js
  src/routes/v1/organisations/get-by-id.js
  src/routes/v1/organisations/get-by-id.test.js
  src/routes/v1/organisations/get.test.js
Due: npm run format, npm run lint:fix

PAE-350: Moved epr-organisation data seeding to server boot (#225)
  package.json
  scripts/import-fixtures.sh
  src/common/helpers/collections/create-update-epr-organisation.js
  src/common/helpers/collections/create-update.js
  src/common/helpers/collections/factories/epr-organisation.js
Due: npm run format, npm run lint:fix

Fix SonarCloud issues: extract helper functions and improve error handling
  src/repositories/organisations/inmemory.js
Due: npm run format, npm run lint:fix

PAE-357: Complete inmemory organisations repository contract implementation (#224)
  src/repositories/organisations/contract/data-isolation.contract.js
  src/repositories/organisations/helpers.js
  src/repositories/organisations/inmemory.js
  src/repositories/organisations/inmemory.test.js
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/port.contract.js
  src/routes/v1/organisations/get-by-id.js
  src/routes/v1/organisations/get-by-id.test.js
  src/routes/v1/organisations/get.test.js
Due: npm run format, npm run lint:fix

feat: add cache-control plugin for ZAP alert 10015
  src/plugins/cache-control.js
  src/plugins/cache-control.test.js
Due: npm run format, npm run lint:fix

feat: register cache-control plugin in server
  src/server/server.js
Due: npm run format, npm run lint:fix

refactor: remove redundant unit tests for cache-control plugin
  src/plugins/cache-control.test.js
Due: npm run format, npm run lint:fix

test: add integration tests for Cache-Control headers
  src/routes/v1/organisations/get-by-id.test.js
Due: npm run format, npm run lint:fix

Fix integration test after rebase - use buildOrganisation
  src/routes/v1/organisations/get-by-id.test.js
Due: npm run format, npm run lint:fix

PAE-419: Add Cache-Control headers to prevent caching (#226)
  src/plugins/cache-control.js
  src/routes/v1/organisations/get-by-id.test.js
  src/server/server.js
Due: npm run format, npm run lint:fix

Fixed repository incorrectly inserting, updating and finding without converting ID to ObjectID Updated tests to reflect behaviour
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/mongodb.test.js
Due: npm run format, npm run lint:fix

Fixed SonarQube warnings
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/mongodb.test.js
Due: npm run format, npm run lint:fix

PAE-352: Fixed repository incorrectly inserting, updating and finding without … (#228)
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/mongodb.test.js
Due: npm run format, npm run lint:fix

PAE:326 Introduces simple excel parser
  package-lock.json
  package.json
  src/adapters/parsers/summary-logs/exceljs-parser.js
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
  src/adapters/parsers/summary-logs/stub.js
  src/adapters/validators/summary-logs/inline.js
  src/adapters/validators/summary-logs/inline.test.js
  src/application/summary-logs/extractor.js
  src/application/summary-logs/extractor.test.js
  src/application/summary-logs/updater.js
  src/application/summary-logs/updater.test.js
  src/application/summary-logs/validator.js
  src/application/summary-logs/validator.test.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/workers/summary-logs/worker/integration.test.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
Due: npm run format, npm run lint:fix

feat(summary-logs): add validateRegistrationNumber with tests
  src/application/summary-logs/validator.js
  src/application/summary-logs/validator.test.js
Due: npm run format, npm run lint:fix

feat(summary-logs): integrate registration validation in main flow
  src/adapters/parsers/summary-logs/stub.js
  src/application/summary-logs/validator.js
  src/application/summary-logs/validator.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.test.js
  src/workers/summary-logs/worker/integration.test.js
Due: npm run format, npm run lint:fix

test(summary-logs): add undefined registration value test
  src/application/summary-logs/validator.test.js
Due: npm run format, npm run lint:fix

refactor(summary-logs): make stub parser configurable
  src/adapters/parsers/summary-logs/stub.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/workers/summary-logs/worker/integration.test.js
Due: npm run format, npm run lint:fix

feat(organisations): add findRegistrationById to port definition
  src/repositories/organisations/port.js
Due: npm run format, npm run lint:fix

feat(organisations): implement findRegistrationById in inmemory adapter
  src/repositories/organisations/inmemory.js
Due: npm run format, npm run lint:fix

feat(organisations): implement findRegistrationById in mongodb adapter
  src/repositories/organisations/mongodb.js
  src/repositories/organisations/mongodb.test.js
Due: npm run format, npm run lint:fix

test(organisations): add contract tests for findRegistrationById
  src/repositories/organisations/contract/find-registration-by-id.contract.js
  src/repositories/organisations/port.contract.js
Due: npm run format, npm run lint:fix

feat(summary-logs): add fetchRegistration helper
  src/application/summary-logs/validator.js
  src/application/summary-logs/validator.test.js
Due: npm run format, npm run lint:fix

feat(summary-logs): add validateWasteRegistrationNumber helper
  src/application/summary-logs/validator.js
  src/application/summary-logs/validator.test.js
Due: npm run format, npm run lint:fix

test(organisations): move invalid ID test to contract tests
  src/repositories/organisations/contract/find-registration-by-id.contract.js
  src/repositories/organisations/mongodb.test.js
Due: npm run format, npm run lint:fix

Fix SonarCloud issue: rename unused parameter
  src/adapters/parsers/summary-logs/stub.js
Due: npm run format, npm run lint:fix

Fix validation logic and complete integration
  docs/plans/2025-10-23-summary-log-registration-validation-design.md
Due: npm run format

feat(summary-logs): integrate registration validation into main flow
  docs/plans/2025-10-23-summary-log-registration-validation-design.md
  docs/plans/2025-10-23-summary-log-registration-validation-implementation.md
  docs/plans/2025-10-23-summary-log-registration-validation.md
  src/adapters/parsers/summary-logs/stub.js
  src/adapters/validators/summary-logs/inline.js
  src/adapters/validators/summary-logs/inline.test.js
  src/application/summary-logs/validator.js
  src/application/summary-logs/validator.test.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.js
  src/routes/v1/organisations/registrations/summary-logs/upload-completed/post.test.js
  src/workers/summary-logs/worker/integration.test.js
Due: npm run format, npm run lint:fix

fix(summary-logs): remove incorrect validation and wire worker thread
  src/application/summary-logs/validator.js
  src/application/summary-logs/validator.test.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
Due: npm run format, npm run lint:fix

Remove plan documents from feature branch
  docs/plans/2025-10-23-summary-log-registration-validation-design.md
  docs/plans/2025-10-23-summary-log-registration-validation-implementation.md
  docs/plans/2025-10-23-summary-log-registration-validation.md
Due: npm run format

Fix Snyk security vulnerabilities in exceljs dependencies
  package-lock.json
  package.json
Due: npm run format

fix(organisations): convert org ID to ObjectId in findRegistrationById
  src/repositories/organisations/mongodb.js
Due: npm run format, npm run lint:fix

allow dev-dependency imports in contract files
  .vite/s3-memory-server.js
  eslint.config.js
Due: npm run format

Remove redundant await on return statement
  src/application/summary-logs/extractor.js
Due: npm run format, npm run lint:fix

exclude contract files from docker build
  .dockerignore
Due: none

use recommended settings from eslint-plugin-n (neostandard dep)
  eslint.config.js
  package-lock.json
  package.json
Due: npm run format

recognise cjs files in eslint
  eslint.config.js
Due: npm run format

PAE:326 Introduces simple excel parser (#230)
  package-lock.json
  package.json
  src/adapters/parsers/summary-logs/exceljs-parser.js
  src/adapters/parsers/summary-logs/exceljs-parser.test.js
  src/adapters/parsers/summary-logs/stub.js
  src/adapters/validators/summary-logs/inline.js
  src/adapters/validators/summary-logs/inline.test.js
  src/application/summary-logs/extractor.js
  src/application/summary-logs/extractor.test.js
  src/application/summary-logs/updater.js
  src/application/summary-logs/updater.test.js
  src/application/summary-logs/validator.js
  src/application/summary-logs/validator.test.js
  src/routes/v1/organisations/registrations/summary-logs/integration.test.js
  src/workers/summary-logs/worker/integration.test.js
  src/workers/summary-logs/worker/worker-thread.js
  src/workers/summary-logs/worker/worker-thread.test.js
Due: npm run format, npm run lint:fix

remove hashbang from performance scripts (run with node)
  scripts/mongo-performance-test/README.md
  scripts/mongo-performance-test/separate-collections/benchmark-separate-collections.js
  scripts/mongo-performance-test/single-nested-collection/benchmark-write-read.js
Due: npm run format
